In [73]:
from itertools import accumulate

# Filter the range for even numbers and compute cumulative sums
out = tuple(accumulate(filter(lambda x: x % 2 == 0, range(100, 401))))
print(out)
print('üöÄüöÄüöÄüöÄüöÄüöÄüöÄ')
out2 = tuple(filter(lambda x: x % 2 == 0, range(100, 401)))
print(out2) #even no in range

(100, 202, 306, 412, 520, 630, 742, 856, 972, 1090, 1210, 1332, 1456, 1582, 1710, 1840, 1972, 2106, 2242, 2380, 2520, 2662, 2806, 2952, 3100, 3250, 3402, 3556, 3712, 3870, 4030, 4192, 4356, 4522, 4690, 4860, 5032, 5206, 5382, 5560, 5740, 5922, 6106, 6292, 6480, 6670, 6862, 7056, 7252, 7450, 7650, 7852, 8056, 8262, 8470, 8680, 8892, 9106, 9322, 9540, 9760, 9982, 10206, 10432, 10660, 10890, 11122, 11356, 11592, 11830, 12070, 12312, 12556, 12802, 13050, 13300, 13552, 13806, 14062, 14320, 14580, 14842, 15106, 15372, 15640, 15910, 16182, 16456, 16732, 17010, 17290, 17572, 17856, 18142, 18430, 18720, 19012, 19306, 19602, 19900, 20200, 20502, 20806, 21112, 21420, 21730, 22042, 22356, 22672, 22990, 23310, 23632, 23956, 24282, 24610, 24940, 25272, 25606, 25942, 26280, 26620, 26962, 27306, 27652, 28000, 28350, 28702, 29056, 29412, 29770, 30130, 30492, 30856, 31222, 31590, 31960, 32332, 32706, 33082, 33460, 33840, 34222, 34606, 34992, 35380, 35770, 36162, 36556, 36952, 37350, 37750)
üöÄüöÄüöÄüöÄüöÄüöÄüöÄ
(100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400)

In [13]:
s='texte'
s.index('l') #if not found will give an error

ValueError: substring not found

In [5]:
s.find('l')

-1

In [11]:
s.rindex('e') #lastIndex of e

4

In [27]:

s=set()
type(s)
l=()#Tuple
X={} #dictionary

In [25]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
even = list(filter(lambda x: x % 2 == 0, lst))
print(even)  # Output: [2, 4, 6, 8]

[2, 4, 6, 8]

One way to solve math equations is by trial and error. Computers can help with that. The equation 21ùë•2‚àíùë•3+21904=021x2‚àíx3+21904=0 has an integer solution between 1 and 100. Print that x value which satisfies this equation (5 Marks)In [ ]:‚Äã

In [46]:
 for x in range(1, 101):
     if 21 * x**2 - x**3 + 21904 == 0:
         print(x)
         break

37

Use the built-in random module and a for loop to generate 40 random numbers between -50 and 50 thendisplay a list of only the negative numbers rounded to two decimal places. The program should also count the number of negative numbers and display the count.

In [56]:
# Write a program to print the sum of squares of first 10 natural numbers using lambda, map and reduce.(3 marks)
lst=[]
for x in range(1, 11):
     lst.append(x*x)
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence. ( 5 marks )

In [ ]:
# list_name = ['Ann', 'Pat', 'David','Tisha','Sumantha']
# 1. Create a list with values equal to the length of each string
# 2. Create a list with the names of length less than 5
# 3. Create a dictionary with strings as key and length of the string as values
# 4. Sort the list with respect to the length of the string keeping the largest string at the first position
# 5. Find the most occurring character throughout the list

In [85]:
import numpy as np
import pandas as pd
df_file2 = pd.read_csv('teenage_stress.csv')

# Display the DataFrame
df_file2

,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,studytime,...,romantic,famrel,freetime,goout,health,absences,G1,G2,G3,stress
0,F,18,GT3,A,4,4,at_home,teacher,mother,2,...,no,4,3,4,3,6,5,6,6,0
1,F,17,GT3,T,1,1,at_home,other,father,2,...,no,5,3,3,3,4,5,5,6,0
2,F,15,LE3,T,1,1,at_home,other,mother,2,...,no,4,3,2,3,10,7,8,10,0
3,F,15,GT3,T,4,2,health,services,mother,3,...,yes,3,2,2,5,2,15,14,15,0
4,F,16,GT3,T,3,3,other,other,father,2,...,no,4,3,2,5,4,6,10,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,LE3,A,2,2,services,services,other,2,...,no,5,5,4,4,11,9,9,9,1
391,M,17,LE3,T,3,1,services,services,mother,1,...,no,2,4,5,2,3,14,16,16,0
392,M,21,GT3,T,1,1,other,other,other,1,...,no,5,5,3,3,3,10,8,7,1
393,M,18,LE3,T,3,2,services,other,mother,1,...,no,4,4,1,5,0,11,12,10,0
394,M,19,LE3,T,1,1,other,at_home,father,1,...,no,3,2,3,5,5,8,9,9,0

In [81]:
df_file2.stress.count()

395

In [89]:
# Calculate the % of stressed students.
# 2. What is the average age of female students
# 3. Add a column as avg_grade which equivalent to the average of 3 grades.
# 4. Find the correlation between studytime and the average grades
# 5. Check the distribution of average grade¬∂
df_file2.head()

,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,studytime,...,romantic,famrel,freetime,goout,health,absences,G1,G2,G3,stress
0,F,18,GT3,A,4,4,at_home,teacher,mother,2,...,no,4,3,4,3,6,5,6,6,0
1,F,17,GT3,T,1,1,at_home,other,father,2,...,no,5,3,3,3,4,5,5,6,0
2,F,15,LE3,T,1,1,at_home,other,mother,2,...,no,4,3,2,3,10,7,8,10,0
3,F,15,GT3,T,4,2,health,services,mother,3,...,yes,3,2,2,5,2,15,14,15,0
4,F,16,GT3,T,3,3,other,other,father,2,...,no,4,3,2,5,4,6,10,10,0

In [93]:
df_file2[df_file2.sex=='F'].age.mean()

16.73076923076923

In [95]:
df_file2['avg_grade']=(df_file2['G1']+df_file2['G2']+df_file2['G3'])/3

In [97]:
df_file2

,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,studytime,...,famrel,freetime,goout,health,absences,G1,G2,G3,stress,avg_grade
0,F,18,GT3,A,4,4,at_home,teacher,mother,2,...,4,3,4,3,6,5,6,6,0,5.666667
1,F,17,GT3,T,1,1,at_home,other,father,2,...,5,3,3,3,4,5,5,6,0,5.333333
2,F,15,LE3,T,1,1,at_home,other,mother,2,...,4,3,2,3,10,7,8,10,0,8.333333
3,F,15,GT3,T,4,2,health,services,mother,3,...,3,2,2,5,2,15,14,15,0,14.666667
4,F,16,GT3,T,3,3,other,other,father,2,...,4,3,2,5,4,6,10,10,0,8.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,LE3,A,2,2,services,services,other,2,...,5,5,4,4,11,9,9,9,1,9.000000
391,M,17,LE3,T,3,1,services,services,mother,1,...,2,4,5,2,3,14,16,16,0,15.333333
392,M,21,GT3,T,1,1,other,other,other,1,...,5,5,3,3,3,10,8,7,1,8.333333
393,M,18,LE3,T,3,2,services,other,mother,1,...,4,4,1,5,0,11,12,10,0,11.000000
394,M,19,LE3,T,1,1,other,at_home,father,1,...,3,2,3,5,5,8,9,9,0,8.666667

In [99]:
df_file2.avg_grade

0       5.666667
1       5.333333
2       8.333333
3      14.666667
4       8.666667
         ...
390     9.000000
391    15.333333
392     8.333333
393    11.000000
394     8.666667
Name: avg_grade, Length: 395, dtype: float64

In [101]:
df_file2['avg_grade']

0       5.666667
1       5.333333
2       8.333333
3      14.666667
4       8.666667
         ...
390     9.000000
391    15.333333
392     8.333333
393    11.000000
394     8.666667
Name: avg_grade, Length: 395, dtype: float64

In [109]:
df_file2['studytime'].corr(df_file2.avg_grade) #what is that u infer it does is study time does not affect grades that much

0.13456471886640678

In [ ]:
# Plot the boxplot of absences against the gender of students (1 Mark)
# 2. Plot the piechart for the different accupation of the father of the student (2 Marks)
# 3. How many students perform progressively? That their scores improved in three evaluations.(2 Marks)
# 4. How many students in romantic relationship perform progressively better?Display their gender-wise distribution (3 Marks)

In [ ]:
# #cross tab
# Create a cross table with values of family relation quality against stress status.(1 Mark)
# 2. Create a pivot table to include stressed student's count with respect to information of the size of family, family's support for education (2 Marks)
# 3. What is minimum and maximum average grade scored by students whose parents have their education level as higher education (2 Marks)
# 4. How much average free time does a student living in a familty with greater than 3 members. How many students with free time less than average free time in such families are stressed (3 Marks)