In [487]:
import pandas as pd

**Different ways to create Series**

**Pandas Series using List**

In [491]:
list1 = [11,22,33,44,55]

In [493]:
series1 = pd.Series(list1)

In [495]:
series1

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [497]:
type(series1)

pandas.core.series.Series

In [499]:
list1 = [11,"Good",33,5.44,55]

In [501]:
series1 = pd.Series(list1)

In [503]:
series1

0      11
1    Good
2      33
3    5.44
4      55
dtype: object

**Pandas Series using Tuple**

In [506]:
tuple1 = (11,22,33,44,55)

In [508]:
series2=pd.Series(tuple1)

In [510]:
series1

0      11
1    Good
2      33
3    5.44
4      55
dtype: object

In [512]:
type(series2)

pandas.core.series.Series

**Pandas Series using Python Dictionary**

In [515]:
dict={0:11,1:22,2:33,3:44,4:55,5:66}

In [517]:
dict

{0: 11, 1: 22, 2: 33, 3: 44, 4: 55, 5: 66}

In [519]:
type(dict)

dict

In [521]:
series3 = pd.Series(dict)

In [523]:
series3

0    11
1    22
2    33
3    44
4    55
5    66
dtype: int64

In [525]:
type(dict)

dict

In [527]:
dict1={'A':11,1:22,'C':33,3:44,4:55,5:66}

In [529]:
dict1

{'A': 11, 1: 22, 'C': 33, 3: 44, 4: 55, 5: 66}

In [531]:
type(dict1)

dict

In [533]:
series4 = pd.Series(dict1)

In [535]:
series4

A    11
1    22
C    33
3    44
4    55
5    66
dtype: int64

**Pandas Series using Numpy**

In [538]:
#Need to import numpy in this case
import numpy as np

In [540]:
num1=np.array([11,22,33,44,55])

In [542]:
num1

array([11, 22, 33, 44, 55])

In [544]:
type(num1)

numpy.ndarray

In [546]:
series5=pd.Series(num1)

In [548]:
series5

0    11
1    22
2    33
3    44
4    55
dtype: int32

**Pandas Series using Scalar values**

In [551]:
series6 = pd.Series(11,index=[0,1,2,3,4,5])

In [553]:
series6

0    11
1    11
2    11
3    11
4    11
5    11
dtype: int64

In [555]:
series7 = pd.Series(11,index=range(0,6))

In [557]:
series7

0    11
1    11
2    11
3    11
4    11
5    11
dtype: int64

In [559]:
series8 = pd.Series(11,index=range(0,12,2))

In [561]:
series8

0     11
2     11
4     11
6     11
8     11
10    11
dtype: int64

**Pandas Series using List**

In [564]:
series9=pd.Series([11,22,33,44,55])
series9

0    11
1    22
2    33
3    44
4    55
dtype: int64

**Pandas Series using Tuple**

In [567]:
series10=pd.Series((11,22,33,44,55))
series10

0    11
1    22
2    33
3    44
4    55
dtype: int64

**Pandas Series using Python Dictionary**

In [570]:
series11=pd.Series({1:11,2:22,3:33,4:44,5:55})
series11

1    11
2    22
3    33
4    44
5    55
dtype: int64

In [572]:
series12=pd.Series({1:11,'Age':22,3:33,'Emp':'Name',5:55})
series12

1        11
Age      22
3        33
Emp    Name
5        55
dtype: object

**Pandas Series using Numpy**

In [575]:
series13=pd.Series(np.array(['Name',90,88,8.2,20]))
series13

0    Name
1      90
2      88
3     8.2
4      20
dtype: object

**Pandas Series using Scalar values**

In [578]:
series14=pd.Series(50,index=range(0,7))
series14

0    50
1    50
2    50
3    50
4    50
5    50
6    50
dtype: int64

**Pandas Series using list with indexes**

In [581]:
list1=[11,22,33,44,55]
list1

[11, 22, 33, 44, 55]

In [583]:
series15=pd.Series(list1)
series15

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [585]:
series15=pd.Series(list1,index=['A','B','C','D','E'])
series15

A    11
B    22
C    33
D    44
E    55
dtype: int64

**Pandas Series using list with datatype**

In [588]:
list1=[1,2,3,4,5]
series16=pd.Series(list1,index=['A','B','C','D','E'], dtype='float')
series16

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
dtype: float64

**Accessing Data from Pandas Series**

In [591]:
series17=pd.Series([11,22,33,44,55])
series17

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [593]:
series1[0]

11

In [595]:
series1[0:3]

0      11
1    Good
2      33
dtype: object

In [597]:
series1[[0,4]]

0    11
4    55
dtype: object

**Operations on Pandas Series**

In [600]:
s1=[1,2,3,4,5]
s2=[10,20,30,40,50]

In [602]:
s1+s2

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [604]:
ser1=pd.Series(s1)
ser1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [606]:
ser2=pd.Series(s2)
ser2

0    10
1    20
2    30
3    40
4    50
dtype: int64

**Adding**

In [609]:
ser1+ser2

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [611]:
ser3=pd.Series([1,2,3,4,5])
ser4=pd.Series([10,20,30,40])

In [613]:
ser3+ser4

0    11.0
1    22.0
2    33.0
3    44.0
4     NaN
dtype: float64

**Subtracting**

In [616]:
ser2-ser1

0     9
1    18
2    27
3    36
4    45
dtype: int64

**Multiplication**

In [619]:
ser1*ser2

0     10
1     40
2     90
3    160
4    250
dtype: int64

**Division**

In [622]:
ser1/ser2

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [624]:
ser1/ser2

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [626]:
ser1//ser2

0    0
1    0
2    0
3    0
4    0
dtype: int64

**power of**

In [629]:
ser1**2

0     1
1     4
2     9
3    16
4    25
dtype: int64

**Reindexing In Pandas**

In [632]:
import pandas as pd
ser1 = pd.Series([10,20,30,40],index=list('ABCD'))

In [634]:
ser1

A    10
B    20
C    30
D    40
dtype: int64

In [636]:
ser1.reindex(list('ABCDEFGH'))

A    10.0
B    20.0
C    30.0
D    40.0
E     NaN
F     NaN
G     NaN
H     NaN
dtype: float64

In [638]:
ser2 = pd.Series([50,60],index=['E','F'])
ser2

E    50
F    60
dtype: int64

In [640]:
s1 = pd.Series(['India','Bhutan','Nepal'],index=[1,5,10])
s1

1      India
5     Bhutan
10     Nepal
dtype: object

In [642]:
s1.reindex(range(15))

0        NaN
1      India
2        NaN
3        NaN
4        NaN
5     Bhutan
6        NaN
7        NaN
8        NaN
9        NaN
10     Nepal
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [644]:
s1.reindex(range(15),fill_value='India')

0      India
1      India
2      India
3      India
4      India
5     Bhutan
6      India
7      India
8      India
9      India
10     Nepal
11     India
12     India
13     India
14     India
dtype: object

In [646]:
s1.reindex(range(15),method='ffill')

0        NaN
1      India
2      India
3      India
4      India
5     Bhutan
6     Bhutan
7     Bhutan
8     Bhutan
9     Bhutan
10     Nepal
11     Nepal
12     Nepal
13     Nepal
14     Nepal
dtype: object

In [648]:
s1.reindex(range(15),method='bfill')

0      India
1      India
2     Bhutan
3     Bhutan
4     Bhutan
5     Bhutan
6      Nepal
7      Nepal
8      Nepal
9      Nepal
10     Nepal
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [650]:
s1 = pd.Series(np.random.randint(1,101,10),index=[1,2,3,4,8,9,10,11,12,13])

In [652]:
s1

1     24
2     90
3     59
4     37
8     61
9     25
10    78
11    76
12    27
13    21
dtype: int32