##  MTech Graded Assessment 
## Subject : Python For DataScience
## Marks: 40 
## Time : 3 Hours

## Section A--ITP   Total--(20marks)

#### 1. Given a two list of integers, create a third list by user defined function such that it should contain only odd numbers from the first list and even numbers from the second list? (3marks)


list1 = [10, 20, 23, 11, 17]
list2 = [13, 43, 24, 36, 12]

In [ ]:
#Write your code here

#### 2. Write A   Python Program to Find the Sum of the Series: 1 + 1/2 + 1/3 + â€¦.. + 1/N? (4 marks)

In [ ]:
#Write your code here

#### 3.Python Program which will find all which are divisible by 3,between 4000 and 4200 ?The numbers obtained should be printed in a comma-separated sequence on a single line. (3marks)

In [1]:
#Write your code here

#### 4. Write a python program to convert a 12-hour format to a 24-hour format. The program should take the current time from the user in a 12-hour format and convert it into 24-hour format.:  (5 Marks)
  
 Input: "08:05:45 PM"
 Output: 20:05:45

In [ ]:
#Write your code here

#### 5. Python program
  
  Create a list of items given below(5 marks)
 
 A. = [soap,detergent,chocolate,toothpaste]
 
 B. = [soap,detergent,brush,comb,toothpaste]
 
 C. = [juice,cake,brush,comb,chips]
   
  Create a final dictionary that will show the total count of each product sold.

In [ ]:
#Write your code here

## Section B--NPV   Total--(20marks)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">1. Read the given Dataset UK_Flight_2018.

A.	 Find the number of rows and columns present in it. (2 Marks)

B.	Identify the airline names flying in the UK. (2 Marks)

C.	Find the list of flights that origin from Vietnam. (2 Marks)

D.	Find the number of airlines under each reporting airport.  (2 Marks)

E.	Find the number of flights that origin from Los Angeles and reporting at Heathrow Airport. (2 Marks)

In [17]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
import seaborn as sns

#### A.  Find the number of rows and columns present in it. (2 Marks)

In [2]:
#Write your code here

#### B. Identify the unique airline names flying in UK. (2 Marks)

In [3]:
#Write your code here

#### C. Find the list of flights that origin from vietnam. (2 Marks)

In [4]:
#Write your code here

#### D.Find the number of airlines under each reporting airport. (2 Marks)

In [5]:
#Write your code here

#### E. Find the number of flights that origin from Los Angeles and report at Heathrow Airport. (2 Marks)

In [6]:
#Write your code here

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">2.Continue with the UK_Flight_2018 for below A,B,C Questions.

A.	Find the total number of flights matched, unmatched and cancelled. (2 Marks)

B.	For flights originating from the USA and find the average delay in minutes for every airline. (2 Marks)

C. Count the categories in "scheduled charter" namely 'S' and 'C'.Plot horizontally using matplotlib and label and Title of chart should be used appropriately. (2 marks)
    
D. Create the below Dataframes and apply merge function to bring all matching rows and also 'Saffron' and 'The Creek' rows. (2 marks)
    
E) Create a panda series with the values ranging from 0 to 100. Plot the histogram with each bin size of 15 units. (2 marks)

#### A. Find the total number of matched, unmatched and cancelled flights. (2 Marks)

In [7]:
#Write your code here

#### B. Find the average delay in minutes for every airline considering all the flights that are originating from USA. (2 Marks)

In [8]:
#Write your code here

#### C. Count the categories in "scheduled charter" namely 'S' and 'C'. Plot horizontal barplot using matplotlib and label and Title of chart should be used appropriately.(2 marks)

In [9]:
# Write your code here

#### D. On the below dataframes apply merge function to bring all matching rows and also 'Saffron' and 'The Creek' rows. (2 marks)

my_df1=pd.DataFrame({
 'Restaurant_ID':[101,102,105,106],
 'Restaurant':['Chutney Chang','Black Pearl','Punjabi Rasoi','Hard Rock Cafe'],
 'Location':['Jayanagar','Koramangala','HSR Layout','Koramangla'], 
})


my_df2=pd.DataFrame({
 'Restaurant_ID':[102,101,107,108],
 'Restaurant':['Black Pearl', 'Chutney Chang', 'Saffron', 'The Creek'],
  'Location':['Koramangala', 'Jayanagar', 'MG Road', 'Koramangala']  
})

In [13]:
# Write your code here

#### E) Create a panda series with the values ranging from 0 to 100. Plot the histogram with each bin size of 15 units. (2 marks)

In [15]:
#Write your code here

####                         *****   ALL THE BEST *****