In [7]:
India
#This gives an error as the interpreter doesn't understand the command India. This is not a function or not a defined command in python

NameError: name 'India' is not defined

The cells that we have in Jupyter notebook are of 3 types:
- Code: Used to write code and execute
- Markdown: This is used to write text, some representation so that it is easy to understand what is been referenced / coded
- Raw: This is used to write code, but when we run, the code doesn't execute. Instead of commenting multiple lines of code, we can use this to make code non-executable and just change it to cell type as code to execute

**Jupyter Kernel**

The Jupyter kernel architecture consists of several components that work together to execute code, manage the execution environment, and communicate with the frontend.

Here is a high-level overview of the Jupyter kernel architecture:

1. The kernel process is a standalone process that runs in the background and executes the code that you write in your notebooks. The kernel process is responsible for running the code and returning the results to the frontend.

2. The kernel manager is a component that manages the lifecycle of the kernel process. It is responsible for starting, stopping, and restarting the kernel process as needed.

3. The kernel gateway is a web server that exposes the kernel's functionality over HTTP. The kernel gateway is used to connect the kernel to the frontend (i.e., the web-based interface that you use to interact with the notebook) over a network connection.

The communication between the frontend and the kernel is done using WebSockets and ZeroMQ

refer https://hex.tech/blog/jupyter-kernel-overview/

This is a paragraph. I am feeling good today.

a = 10
for i in range(10):
    print(a)

**Quotes can be either single quotes, double quotes or triple quotes**

- Single Quote : Best practice is to use for a single word, but can use for statement as well ''
- Double Quote : Can be use similar to single quote, either for string or sentences ""
- Triple Quote : This is a multi line quote ''' '''

In [30]:
print('Hello')

Hello

In [32]:
print("Hello World")

Hello World

In [34]:
print('Hello World') # Not a good practice.

Hello World

In [36]:
print('Hello')
print('World')

Hello
World

In [40]:
print("Hello World \n")
#\n is used to go to next line, by default at the end of the print statement it goes to next line

Hello World

In [42]:
print("Hello World \n")
print('Hi Again!')

Hello World

Hi Again!

In [44]:
print('Hello')
print('\n')
print('World!')

Hello


World!

In [48]:
print('Hello',end='')
#if we do not want to go to next line, we use end=''

Hello

In [50]:
print('Hello',end='')
print('World')

HelloWorld

In [52]:
print('Hello',end=' ')
print('World')

Hello World

In [56]:
print("Hello World!')
# this gives error as the start and end of the string are not the same

SyntaxError: unterminated string literal (detected at line 1) (3111730484.py, line 1)

In [58]:
print("Hello World!")

Hello World!

In [64]:
print('It's raining today')

SyntaxError: unterminated string literal (detected at line 1) (1576409677.py, line 1)

the above gives error as there is ' in the string which needs to be addressed

In [69]:
print("It's raining today")

It's raining today

In [73]:
print('''Hello World
How are you ?''')

Hello World
How are you ?

In [75]:
print("Hello world
      How are you?")

SyntaxError: unterminated string literal (detected at line 1) (813868658.py, line 1)

1. Single Quote - Word
2. Double Quote - Sentence
3. Triple Quote - Paragraph

In [78]:
print('Hello World \nHow are you ?')

Hello World
How are you ?

In [82]:
print ('Hello \"Saquib Rafeeq\". It\'s your book')

Hello "Saquib Rafeeq". It's your book

**Data Types**

In [85]:
a = 10

In [87]:
type(a) # type is used to check datatype of a variable.

int

In [89]:
b = 10.0

In [91]:
type(b)

float

In [93]:
c = "India"

In [95]:
type(c)

str

In [97]:
d = True

In [99]:
type(d)

bool

In [101]:
e = False

In [103]:
type(e)

bool

# Type casting - To Change the Datatype

In [106]:
int(121.5)

121

In [108]:
float(100)

100.0

In [110]:
str(100)

'100'

In [112]:
bool(0)

False

In [114]:
bool(1)

True

In [116]:
bool(10)

True

In [118]:
c

'India'

In [120]:
len("Mumbai")

6

In [122]:
len(c)

5

In [124]:
a = 10.0

In [126]:
type(a)

float

In [128]:
int(a)

10

In [132]:
a = int(a) #type casting

In [134]:
type(a)

int

In [136]:
a

10

# Arithmatic Operators

In [142]:
10 + 15

25

In [144]:
15 - 5

10

In [146]:
200 - 300

-100

In [148]:
a = 10
b = 2

In [150]:
a + b

12

In [152]:
a - b

8

In [154]:
a * b

20

In [156]:
a / b

5.0

In [158]:
10 / 7

1.4285714285714286

In [166]:
10 // 7 # Floor to the division, gives the quotient for integer

1

In [168]:
10 // 3

3

In [170]:
10 % 5 #gives the reminder

0

In [172]:
10 % 3

1

In [174]:
10 % 7

3

In [176]:
a

10

In [178]:
b

2

In [180]:
print(a+b)
print(a-b)

12
8

In [182]:
a = 10
print(a)
type(a)

10

int

In [184]:
a = 10
type(a)
print(a)

10

In [186]:
a = 10
type(a)
type(d)

bool

In [188]:
print(type(a))

<class 'int'>

In [190]:
print(type(d))

<class 'bool'>

In [192]:
2 ** 5 # Power

32

In [194]:
3 ** 3

27

In [196]:
i = 10 / 7
print(i)

1.4285714285714286

In [198]:
round(i,1)

1.4

In [200]:
round(i,4)

1.4286

# String Concatenation

In [203]:
s1 = 'Hello'

In [205]:
s2 = "World"

In [207]:
s1 s2

SyntaxError: invalid syntax (1232004054.py, line 1)

In [209]:
s1 + s2

'HelloWorld'

In [211]:
s1+' '+s2

'Hello World'

In [213]:
print(s1+s2)

HelloWorld

In [215]:
l = 10

In [217]:
b = 5

In [219]:
p = 2*(l + b)

In [221]:
print(p)

30

In [223]:
print(l,b,p)

10 5 30

In [225]:
print(l b p)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2878207221.py, line 1)

In [227]:
print(l+b+p)

45

In [229]:
print("Perimeter"+p)

TypeError: can only concatenate str (not "int") to str

In [231]:
print("Perimeter",p)

Perimeter 30

In [233]:
print("Perimeter"+str(p))

Perimeter30

In [235]:
print("Perimeter "+str(p))

Perimeter 30

In [237]:
print(s1+s2)

HelloWorld

In [239]:
print(s1,s2)

Hello World

Use the below command to read the data from the UI/ on the go

In [244]:
input()

 Saquib

'Saquib'

In [246]:
name = input()

 Saquib

In [248]:
print(name)

Saquib

Q1. Write a program to print square of age of the user!

In [251]:
input()

 3

'3'

In [253]:
a = input()

 30

In [255]:
type(a)

str

In [257]:
a = input()
print(a*a)

 30

TypeError: can't multiply sequence by non-int of type 'str'

In [259]:
input('Please enter your age?')

Please enter your age? 33

'33'

In [261]:
age = input('Please enter your age?')
print('Original DataType of input',type(age))

Please enter your age? 33

Original DataType of input <class 'str'>

In [263]:
age = int(input('Please enter your age?'))
print('Original DataType of input',type(age))

Please enter your age? 33

Original DataType of input <class 'int'>

In [265]:
age = int(input('Please enter your age?'))
print("Squared value of your age",age,'is',age**2)

Please enter your age? 33

Squared value of your age 33 is 1089

Q2. Take 2 number as an input from the user and Print sum of those numbers. (Print those input number as well.)

In [267]:
a = int(input('Enter one number'))
b = int(input('Please enter another number'))
print('The sum of',a,'and',b,'is',a+b)

Enter one number 3
Please enter another number 3

The sum of 3 and 3 is 6

In [271]:
a = int(input('Enter one number'))
b = int(input('Please enter another number'))
print('The sum of',a,'and',b,'is',a+b)

Enter one number 3
Please enter another number 4

The sum of 3 and 4 is 7

Q3. Take 2 numbers as an input from the user and print the division of 1st by 2nd and round it to 2 precision.

In [273]:
a = float(input('Enter one number '))
b = float(input('Please enter another number '))
print('Division of',a,'by',b,'is',round(a/b,2))

Enter one number  33
Please enter another number  11

Division of 33.0 by 11.0 is 3.0

In [275]:
10 / 7

1.4285714285714286

# Relational Operators in Python

In [277]:
100 < 50

False

In [279]:
100 > 50

True

In [281]:
100 <= 50

False

In [283]:
100 <= 100

True

In [285]:
100 > 50

True

In [287]:
100 >= 50

True

In [289]:
100 >= 100

True

In [291]:
100 == 100

True

In [293]:
100 != 100

False

In [295]:
100 != 50

True

In [297]:
'Great' == 'Great'

True

In [299]:
'Great' == 'great'

False

In [301]:
'Great' == 'Learning'

False

In [303]:
'Great' != 'great'

True

In [305]:
'12' == 12

False

In [307]:
int('12')

12

In [309]:
int(12)

12

In [311]:
a = float(input('Enter a number '))
b = float(input('Please enter another number'))
print('Equality status of',a,'and',b,'is',a==b)

Enter a number  3
Please enter another number 5

Equality status of 3.0 and 5.0 is False

In [313]:
a = float(input('Enter a number '))
b = float(input('Please enter another number '))
print('Equality status of',a,'and',b,'is',a==b)

Enter a number  3
Please enter another number  3

Equality status of 3.0 and 3.0 is True

In [315]:
a=int(input('Enter your age '))
print('Your age is',a,'Your Adult status is',a>=18)

Enter your age  33

Your age is 33 Your Adult status is True