# Assignment Operator in Python

In [2]:
a = 10

In [3]:
print(a)

10

In [6]:
print("Original Valeue",a)
a = a + 1
print("Incremented Value of a",a)

Original Valeue 10
Incremented Value of a 11

In [8]:
++a

11

In [10]:
++a

11

In [12]:
a++

SyntaxError: invalid syntax (1277751513.py, line 1)

In [16]:
a = 10

In [18]:
print(a)

10

In [20]:
a +=1

In [22]:
a

11

In [24]:
a = 10
print("Orginal Value of a",a)
a +=1 # a = a + 1
print("Incremented Value of a",a)

Orginal Value of a 10
Incremented Value of a 11

In [26]:
a = 10
print("Orginal Value of a",a)
a +=15 # a = a + 15
print("Incremented Value of a",a)

Orginal Value of a 10
Incremented Value of a 25

In [28]:
print(a)

25

In [30]:
a = 10
print("Orginal Value of a",a)
a -=5 # a = a - 15
print("Changed Value of a",a)

Orginal Value of a 10
Changed Value of a 5

In [32]:
a = 10
print("Orginal Value of a",a)
a *=5 # a = a * 5
print("Changed Value of a",a)

Orginal Value of a 10
Changed Value of a 50

In [34]:
a = 10
print(a)
a /=2 #a = a / 2
print(a)

10
5.0

In [36]:
a = 5
print("Orginal Value of a",a)
a **=3 # a = a ** 3
print("Changed Value of a",a)

Orginal Value of a 5
Changed Value of a 125

In [38]:
a = int(input('Enter a number '))
b = int(input('Enter another number '))
a **=b
print(a)

Enter a number  2
Enter another number  3

8

# Logical Operators in Python

In [40]:
a = True
b = True

In [42]:
print('And Logic -',a and b)
print('Or Logic -',a or b)
print('Not Logic -', not a)

And Logic - True
Or Logic - True
Not Logic - False

In [44]:
a = True
b = False

In [46]:
print('And Logic',a and b)
print('And Logic',a or b)
print('And Logic',not b)

And Logic False
And Logic True
And Logic True

In [48]:
a = False
b = False

In [50]:
print('And Logic',a and b)
print('And Logic',a or b)

And Logic False
And Logic False

In [52]:
a = True

In [54]:
not a

False

In [56]:
b = False

In [58]:
not b

True

# Bitwise Operators in Python

In [61]:
a = 10 # 1010
b = 7 # 0111

#### Binary AND operator -> &

In [64]:
a & b

2

#### Binary OR Operator -> | (Pipe)

In [67]:
a | b

15

^ - XOR 
~ - Binary One's Compliment
<< - Left Shift
>> - Right Shift

# Concatenation operations on String

In [78]:
'PES' + ' ' + 'University'

'PES University'

In [80]:
'Hello' * 3

'HelloHelloHello'

In [82]:
'ABCDE' * 5

'ABCDEABCDEABCDEABCDEABCDE'

In [84]:
name = 'Saquib'

In [86]:
len(name)

6

In [88]:
name[0]

'S'

In [95]:
name[-9]

IndexError: string index out of range

In [97]:
name[-1]

'b'

In [99]:
name[8]

IndexError: string index out of range

In [101]:
name = input('Please enter your first name ')
print("Your name is",name,'1st Character is',name[0],'and last character is',name[-1],'and the length is',len(name))

Please enter your first name  Saquib

Your name is Saquib 1st Character is S and last character is b and the length is 6

In [103]:
name = input('Please enter your first name ')
print('3rd Character in you name is',name[2])

Please enter your first name  Saquib

3rd Character in you name is q

In [105]:
city = 'Bangalore'

In [107]:
city[0:4] # [Start : Stop + 1] ---- Inclusive and Excusive

'Bang'

In [109]:
city[3:6]

'gal'

In [111]:
city

'Bangalore'

In [113]:
city[4:]

'alore'

In [115]:
city[:]   # [ Goes till extreme left:Goes till extreme right]

'Bangalore'

In [117]:
city[:5]

'Banga'

In [119]:
city[-4:]

'lore'

In [121]:
city[-4:-1]

'lor'

In [123]:
city

'Bangalore'

In [125]:
city[::-1] # [Start : Stop + 1 : Step]

'erolagnaB'

In [127]:
city

'Bangalore'

In [129]:
city[::2]

'Bnaoe'

In [131]:
greet = "Hello World"

In [133]:
greet[::2]

'HloWrd'

In [135]:
name

'Saquib'

In [137]:
name[::2]

'Sqi'

In [139]:
city

'Bangalore'

In [141]:
city[::3]

'Bgo'

In [143]:
city[::1]

'Bangalore'

In [145]:
city[::-1]

'erolagnaB'

In [147]:
city[::-2]

'eoanB'

In [149]:
city[::-3]

'eln'

In [151]:
city[3::2]

'glr'

In [153]:
city = 'Bangalore'

In [157]:
word = input('Enter a word')
print('Palindrome status of',word,'is',word==word[::-1])

Enter a word MadaM

Palindrome status of MadaM is True

In [159]:
word = input('Enter a word')
print('Palindrome status of',word,'is',word==word[::-1])

Enter a word MalayalaM

Palindrome status of MalayalaM is True

In [161]:
word

'MalayalaM'

In [163]:
word[::-1]

'MalayalaM'

In [195]:
name = 'Saquib Rafeeq'

In [197]:
name.startswith('A')

False

In [199]:
name.startswith('K')

False

In [201]:
name.endswith('A')

False

In [203]:
name.endswith('a')

False

In [205]:
greet = input('Hello There! ')
print('Replied with Hello status',greet.startswith('Hello'))

Hello There!  He

Replied with Hello status False

In [207]:
greet = input('Hello There! ')
print('Replied with Hello status :',greet.startswith('Hello'))

Hello There!  Hello

Replied with Hello status : True

In [209]:
name

'Saquib Rafeeq'

In [211]:
name.lower()

'saquib rafeeq'

In [213]:
name.upper()

'SAQUIB RAFEEQ'

In [215]:
name.title()

'Saquib Rafeeq'

In [217]:
name.capitalize()

'Saquib rafeeq'

In [219]:
name

'Saquib Rafeeq'

In [221]:
city = 'bangalore'

In [223]:
city

'bangalore'

In [225]:
city.capitalize()

'Bangalore'

In [227]:
word = input('Enter a word ').lower()
print('Palindrome status of',word,'is',word==word[::-1])

Enter a word  Cricket

Palindrome status of cricket is False

In [229]:
word = input('Enter a word ').lower()
print('Palindrome status of',word,'is',word==word[::-1])

Enter a word  MalaM

Palindrome status of malam is True

In [231]:
word = input('Enter a word ').lower()
print('Palindrome status of',word,'is',word==word[::-1])

Enter a word  Malam

Palindrome status of malam is True

In [233]:
name = 'bangalore'

In [235]:
name.replace('ore','ure')

'bangalure'

In [237]:
name.replace('a','e')

'bengelore'

In [239]:
a = input('Greet ')
print(a.replace('Hello','Hi'))

Greet  Saquib

Saquib

In [241]:
greet = '    Hello    '

In [243]:
len(greet)

13

In [245]:
greet.strip()

'Hello'

In [247]:
len(greet.strip())

5

In [249]:
greet.lstrip()

'Hello    '

In [251]:
greet.rstrip()

'    Hello'

In [253]:
name = input('Please enter your first name')
print(name.strip().capitalize())

Please enter your first name Saquib

Saquib

In [255]:
greet

'    Hello    '

In [257]:
greet.strip()

'Hello'

In [259]:
greet.lstrip()

'Hello    '

In [261]:
greet.rstrip()

'    Hello'

In [263]:
name = input('Please enter your first name')
print(name.strip().capitalize())

Please enter your first name    Saquib

Saquib

In [265]:
name = input('Please enter your first name')
print(name.capitalize().strip())

Please enter your first name Saquib

Saquib

In [267]:
name = input('Please enter your first name')
print(name.capitalize().strip())

Please enter your first name Saquib

Saquib