In [1]:
4 ** 0.5

2.0

## Format Function

In [4]:
height = 5.8
weight = 68

In [6]:
print ("My Height is", height, "and Weight is", weight, ".")

My Height is 5.8 and Weight is 68 .

In [8]:
print ("My Height is {} and Weight is {} .".format(height))

IndexError: Replacement index 1 out of range for positional args tuple

In [10]:
print ("My Height is {} and Weight is {} .".format(weight, height))
#Curly braces are acting like place holders

My Height is 68 and Weight is 5.8 .

In [12]:
print("My weight is {} and height is {}".format(height, weight))

My weight is 5.8 and height is 68

In [14]:
print("My weight is {1} and height is {0}".format(height, weight))

My weight is 68 and height is 5.8

In [16]:
print('My weight is {0} and height is {1}'.format(1=weight, 0=height))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3928776703.py, line 1)

In [18]:
print('My weight is {0} and height is {1}'.format(68, 5.8))

My weight is 68 and height is 5.8

In [20]:
print ("My Name is {fname} and my weight is {weight}".format(fname = 'Saquib', weight = 85))

My Name is Saquib and my weight is 85

In [22]:
weight

68

In [24]:
fname

NameError: name 'fname' is not defined

In [26]:
print ("My Name is {fname} and my weight is {weight}".format('Saquib',  85))

KeyError: 'fname'

In [28]:
print("Name - {weight} and weight{0}".format('saq', weight=10))

Name - 10 and weightsaq

In [30]:
print ("{} {} {} {} { } { }".format(1,2,3,4,5))

KeyError: ' '

# Data Structures in Python

# 1. List

In [34]:
l1 = [10,20,30,40]

In [36]:
type(l1)

list

In [38]:
print(l1)

[10, 20, 30, 40]

In [40]:
l1

[10, 20, 30, 40]

[] is used to fetch value from any data structure... other place its used is to define list

In [43]:
l1[0]

10

In [45]:
type(l1[0])

int

In [47]:
l1 = [1,2,3,2,2,1]

In [49]:
l1

[1, 2, 3, 2, 2, 1]

In [51]:
l2 = [10, 20.5, 'India', True]

In [53]:
type(l2)

list

In [55]:
type(l2[0])

int

In [57]:
type(l2[-1])

bool

In [59]:
type(l2[-2])

str

In [61]:
type(l2[-3])

float

In [63]:
type(l2[-4])

int

In [65]:
cities = ['Bangalore', 'Mumbai','Chennai']

In [67]:
cities

['Bangalore', 'Mumbai', 'Chennai']

# 2. Tuple

In [70]:
t1 = (10,20,30,40)

In [72]:
t1

(10, 20, 30, 40)

In [74]:
t2 = (10,10,20,30,20)

In [76]:
t2

(10, 10, 20, 30, 20)

In [78]:
t3 = (10, 10.8,"India", False)

In [80]:
t3

(10, 10.8, 'India', False)

In [82]:
type(t3)

tuple

In [84]:
type(t3[0])

int

In [86]:
type(t3[-1])

bool

In [88]:
cities_t = ('Bangalore','Mumbai','Chennai')

In [90]:
type(cities_t)

tuple

In [92]:
cities_t[0]

'Bangalore'

In [94]:
cities[0]

'Bangalore'

In [96]:
cities[0] = 'Nagpur'

In [98]:
cities

['Nagpur', 'Mumbai', 'Chennai']

In [100]:
cities_t[0]='Delhi'

TypeError: 'tuple' object does not support item assignment

In [102]:
tup = ([1,2,3,4], 2,3,4)
print(tup)
tup[0] = tup[0].append(5)
print(tup)

([1, 2, 3, 4], 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [104]:
tup = ([1,2,3,4], 2,3,4)
print(tup)
tup[0].append(5)
print(tup)

([1, 2, 3, 4], 2, 3, 4)
([1, 2, 3, 4, 5], 2, 3, 4)

In [106]:
a,b = True, 2

In [108]:
type(a)

bool

In [110]:
print("My Age is", 25)

My Age is 25

In [112]:
a=0
b=10
b*=a
print(a == b)""

SyntaxError: invalid syntax (3009307924.py, line 4)

In [114]:
t1 = (10,20,30)

In [116]:
t1

(10, 20, 30)

In [118]:
t1*3

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [120]:
cities = ["Bangalore", "Mumbai","Delhi", "Chennai","Pune"]

In [122]:
cities

['Bangalore', 'Mumbai', 'Delhi', 'Chennai', 'Pune']

In [124]:
len(cities)

5

In [126]:
len(t1)

3

In [128]:
city = ["Nagpur", "Raipur"]

In [130]:
city

['Nagpur', 'Raipur']

In [132]:
cities+city

['Bangalore', 'Mumbai', 'Delhi', 'Chennai', 'Pune', 'Nagpur', 'Raipur']

In [134]:
t2 = (10,29)

In [136]:
t2

(10, 29)

In [138]:
t2 = t2+t1

In [140]:
cities[0:2]

['Bangalore', 'Mumbai']

In [142]:
cities[1::2]

['Mumbai', 'Chennai']

In [144]:
cities_t = ('Bangalore', 'Mumbai', 'Delhi', 'Chennai', 'Nagpur', 'Raipur')

In [146]:
cities_t

('Bangalore', 'Mumbai', 'Delhi', 'Chennai', 'Nagpur', 'Raipur')

In [148]:
cities_t[0]

'Bangalore'

In [150]:
cities_t[-1]

'Raipur'

In [152]:
cities_t[::-1]

('Raipur', 'Nagpur', 'Chennai', 'Delhi', 'Mumbai', 'Bangalore')

In [154]:
cities[::-1]

['Pune', 'Chennai', 'Delhi', 'Mumbai', 'Bangalore']

# 3. Dictionary (Dict)

In [157]:
d1 = {10:100, 20:200, 30:300}

In [159]:
d1

{10: 100, 20: 200, 30: 300}

In [161]:
type(d1)

dict

In [163]:
d2 ={'A':100, 'B':200, 'Z':1000}

In [165]:
type(d2)

dict

In [167]:
print(d2)

{'A': 100, 'B': 200, 'Z': 1000}

In [169]:
d2

{'A': 100, 'B': 200, 'Z': 1000}

In [171]:
d1

{10: 100, 20: 200, 30: 300}

In [173]:
students = {'ID101': 'Rahul','ID102': 'Ravi','ID1013': 'Roshan'}

In [175]:
students

{'ID101': 'Rahul', 'ID102': 'Ravi', 'ID1013': 'Roshan'}

In [177]:
type(students)

dict

In [179]:
d1[10]

100

In [181]:
d2['A']

100

In [183]:
students['ID102']

'Ravi'

In [185]:
students = {'ID101': 'Rahul','ID102': 'Ravi','ID1013': 'Rahul'}

In [187]:
students

{'ID101': 'Rahul', 'ID102': 'Ravi', 'ID1013': 'Rahul'}

In [1]:
students = {'ID101': 'Rahul','ID102': 'Ravi','ID101': 'Saquib'}

In [3]:
students

{'ID101': 'Saquib', 'ID102': 'Ravi'}

# Keys need to be unique in Dictionary

In [194]:
len(d1)

3

In [5]:
students = {'ID101': ,'ID102': 'Ravi','ID101': 'Saquib'}

SyntaxError: expression expected after dictionary key and ':' (1096799947.py, line 1)

In [7]:
students

{'ID101': 'Saquib', 'ID102': 'Ravi'}

# students[]

#nan - Not a Number

# 4. Set

In [205]:
s1 = {10,20,30,40}

In [207]:
type(s1)

set

In [209]:
s2={10,10,20,30}

In [211]:
s2

{10, 20, 30}

In [213]:
len(s2)

3

In [215]:
len(s1)

4

In [217]:
s1[0]

TypeError: 'set' object is not subscriptable

In [219]:
s3 = {10, 'India', 90.3, True}

In [221]:
type(s3)

set

# you can iterate over a set

In [224]:
l1 = [10,20,30,40]

In [226]:
type(l1)

list

In [228]:
t1 = tuple(l1)

In [230]:
t1

(10, 20, 30, 40)

In [232]:
type(t1)

tuple

In [234]:
l2 = list(t1)

In [236]:
l2

[10, 20, 30, 40]

In [238]:
type(l2)

list

In [240]:
l1 = [10,10,20,30]

In [242]:
l1

[10, 10, 20, 30]

In [244]:
set(l1)

{10, 20, 30}

In [246]:
s1=set(l1)

In [248]:
s1

{10, 20, 30}

In [250]:
t1

(10, 20, 30, 40)

In [252]:
set(t1)

{10, 20, 30, 40}

In [254]:
t1=(10,10,20,30)

In [256]:
t1

(10, 10, 20, 30)

In [258]:
type(t1)

tuple

In [260]:
set(t1)

{10, 20, 30}

In [262]:
s2=set(t1)

In [264]:
type(s2)

set

In [266]:
range(10)

range(0, 10)

In [268]:
list(range(10))#exclusive

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [270]:
 tuple(range(2))

(0, 1)

In [272]:
list(range(5,15))#(inclusive, exclusive)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [274]:
list(range(10,21))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [276]:
list(range(5,51,5))# (start, stop+1, step)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [278]:
list(range(50,4,-5))

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [280]:
type(range(5))

range