In [1]:
a=5
type(a)

int

In [3]:
print("Hello World")

Hello World

In [5]:
s1 = 'Hello World'

In [7]:
s1[-5:]

'World'

In [9]:
cities = ['Chennai','Bangalore','Mumbai','Pune']

In [11]:
print(cities)

['Chennai', 'Bangalore', 'Mumbai', 'Pune']

In [13]:
type(cities)

list

In [15]:
cities[0]

'Chennai'

In [17]:
cities[-1]

'Pune'

In [19]:
cities[1:3]

['Bangalore', 'Mumbai']

In [21]:
cities[::2]

['Chennai', 'Mumbai']

In [23]:
type(cities[-1])

str

In [25]:
len(cities)

4

In [27]:
cities[-1]

'Pune'

In [29]:
cities[-1] = 'Delhi' # Overwriting the value @ last position

In [31]:
cities

['Chennai', 'Bangalore', 'Mumbai', 'Delhi']

In [33]:
cities.append('Pune') #Append is used to add at the last and only one element can be added

In [35]:
cities

['Chennai', 'Bangalore', 'Mumbai', 'Delhi', 'Pune']

In [37]:
l1=[10,20,30]

In [39]:
l1.append(40)

In [41]:
l1

[10, 20, 30, 40]

In [43]:
l1.append(50,60)

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
l1.extend([50,60])# will take values and add at the end.

In [46]:
l1

[10, 20, 30, 40]

In [48]:
cities.extend(['Jaipur','Indore'])

In [50]:
cities

['Chennai', 'Bangalore', 'Mumbai', 'Delhi', 'Pune', 'Jaipur', 'Indore']

In [52]:
ex=['mysore']

In [54]:
cities.extend(ex)

In [56]:
cities

['Chennai',
 'Bangalore',
 'Mumbai',
 'Delhi',
 'Pune',
 'Jaipur',
 'Indore',
 'mysore']

In [58]:
l1.append([70,80])

In [60]:
l1

[10, 20, 30, 40, [70, 80]]

In [62]:
l1[-1]

[70, 80]

In [64]:
l1[-1][0]

70

#Append adds one value @ the end
#extend will add multiple values @ the end

In [67]:
cities

['Chennai',
 'Bangalore',
 'Mumbai',
 'Delhi',
 'Pune',
 'Jaipur',
 'Indore',
 'mysore']

In [69]:
cities.insert(2,'Hassan')

In [71]:
cities

['Chennai',
 'Bangalore',
 'Hassan',
 'Mumbai',
 'Delhi',
 'Pune',
 'Jaipur',
 'Indore',
 'mysore']

In [73]:
l1.insert(1,[100,200])

In [75]:
l1

[10, [100, 200], 20, 30, 40, [70, 80]]

In [77]:
len(cities)

9

In [79]:
cities

['Chennai',
 'Bangalore',
 'Hassan',
 'Mumbai',
 'Delhi',
 'Pune',
 'Jaipur',
 'Indore',
 'mysore']

In [81]:
#del is reserved key word for deletion

In [83]:
cities.insert(5,'Mumbai')

In [85]:
cities

['Chennai',
 'Bangalore',
 'Hassan',
 'Mumbai',
 'Delhi',
 'Mumbai',
 'Pune',
 'Jaipur',
 'Indore',
 'mysore']

In [87]:
cities.remove('Mumbai')

In [89]:
cities

['Chennai',
 'Bangalore',
 'Hassan',
 'Delhi',
 'Mumbai',
 'Pune',
 'Jaipur',
 'Indore',
 'mysore']

In [91]:
cities.remove('Hassan') # This takes only one argument. Not like extend, wont take list

In [93]:
cities

['Chennai',
 'Bangalore',
 'Delhi',
 'Mumbai',
 'Pune',
 'Jaipur',
 'Indore',
 'mysore']

In [95]:
cities.append('Mumbai')

In [97]:
cities

['Chennai',
 'Bangalore',
 'Delhi',
 'Mumbai',
 'Pune',
 'Jaipur',
 'Indore',
 'mysore',
 'Mumbai']

In [99]:
del cities [1]

In [101]:
cities

['Chennai', 'Delhi', 'Mumbai', 'Pune', 'Jaipur', 'Indore', 'mysore', 'Mumbai']

In [103]:
del cities

In [105]:
cities

NameError: name 'cities' is not defined

In [107]:
cities = ['Chennai', 'Delhi', 'Mumbai', 'Pune', 'Jaipur', 'Indore', 'mysore', 'Mumbai']

In [109]:
cities

['Chennai', 'Delhi', 'Mumbai', 'Pune', 'Jaipur', 'Indore', 'mysore', 'Mumbai']

In [111]:
del cities[1:3]

In [113]:
cities

['Chennai', 'Pune', 'Jaipur', 'Indore', 'mysore', 'Mumbai']

In [115]:
l1

[10, [100, 200], 20, 30, 40, [70, 80]]

In [117]:
l1.remove(40)

In [119]:
l1

[10, [100, 200], 20, 30, [70, 80]]

In [121]:
#del cannot take value, remove cannot take index

In [123]:
del 1

SyntaxError: cannot delete literal (3275099797.py, line 1)

In [125]:
del l1

In [127]:
l1

NameError: name 'l1' is not defined

In [129]:
del cities[::2]

In [131]:
cities

['Pune', 'Indore', 'Mumbai']

In [133]:
# remove - value
#del - index
#del - variable

In [135]:
cities = ['Chennai', 'Delhi', 'Mumbai', 'Pune', 'Jaipur', 'Indore', 'mysore', 'Mumbai']

In [137]:
cities

['Chennai', 'Delhi', 'Mumbai', 'Pune', 'Jaipur', 'Indore', 'mysore', 'Mumbai']

In [139]:
cities.pop

In [141]:
cities.pop()

'Mumbai'

In [143]:
cities

['Chennai', 'Delhi', 'Mumbai', 'Pune', 'Jaipur', 'Indore', 'mysore']

In [145]:
cities.pop(1)

'Delhi'

In [147]:
cities

['Chennai', 'Mumbai', 'Pune', 'Jaipur', 'Indore', 'mysore']

In [149]:
# can write only indexes in pop, selects the value, shows it and deletes it from variable

In [151]:
cities.pop([1:3])

SyntaxError: invalid syntax (3068438526.py, line 1)

In [153]:
cities

['Chennai', 'Mumbai', 'Pune', 'Jaipur', 'Indore', 'mysore']

In [155]:
cities.clear()

In [157]:
cities

[]

In [159]:
#clear() - will delete elements, will retain variable

Remove  - Value only One
pop - index / default last / only one
del - index/slicing/variable /index
clear - empty the list, keeps the variable

In [162]:
del cities

In [164]:
cities

NameError: name 'cities' is not defined

In [166]:
cities

NameError: name 'cities' is not defined

In [168]:
cities=[['Chennai', 'Mumbai', 'Pune', 'Jaipur', 'Indore', 'mysore']]

In [170]:
cities

[['Chennai', 'Mumbai', 'Pune', 'Jaipur', 'Indore', 'mysore']]

In [172]:
del cities

In [174]:
cities = ['Mumbai','Pune','Delhi','Chennai','Bangalore']

In [176]:
cities

['Mumbai', 'Pune', 'Delhi', 'Chennai', 'Bangalore']

In [178]:
'Mumbai' in cities

True

In [180]:
'Nagpur' in cities

False

In [182]:
'Nagpur' not in cities

True

In [184]:
cities.append('Delhi')

In [186]:
cities

['Mumbai', 'Pune', 'Delhi', 'Chennai', 'Bangalore', 'Delhi']

In [188]:
cities.count('Pune')

1

In [190]:
cities.count('Delhi')

2

In [192]:
cities.append(['A','B'])

In [194]:
cities

['Mumbai', 'Pune', 'Delhi', 'Chennai', 'Bangalore', 'Delhi', ['A', 'B']]

In [196]:
['A', 'B'] in cities

True

In [198]:
cities[-1].count('A')

1

In [200]:
l1 = [10,20,30,40,10,15,17,88,99]

In [202]:
l1

[10, 20, 30, 40, 10, 15, 17, 88, 99]

In [204]:
max(l1)

99

In [206]:
min(l1)

10

In [208]:
len(l1)

9

In [210]:
cities

['Mumbai', 'Pune', 'Delhi', 'Chennai', 'Bangalore', 'Delhi', ['A', 'B']]

In [212]:
cities.pop()

['A', 'B']

In [214]:
cities

['Mumbai', 'Pune', 'Delhi', 'Chennai', 'Bangalore', 'Delhi']

In [216]:
cities.reverse() # will make changes in original variable and save it

In [218]:
cities

['Delhi', 'Bangalore', 'Chennai', 'Delhi', 'Pune', 'Mumbai']

In [220]:
cities.append(10)

In [222]:
cities

['Delhi', 'Bangalore', 'Chennai', 'Delhi', 'Pune', 'Mumbai', 10]

In [224]:
max(cities)

TypeError: '>' not supported between instances of 'int' and 'str'

In [226]:
min(cities)

TypeError: '<' not supported between instances of 'int' and 'str'

In [228]:
cities.index('Mumbai')

5

In [230]:
cities.index('Delhi')

0

In [232]:
l1 =[10,20,30,40]

In [234]:
l1*3

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

In [236]:
country = ['India','Pakistan','Srilanka','Bangladesh','Nepal']

In [238]:
country

['India', 'Pakistan', 'Srilanka', 'Bangladesh', 'Nepal']

In [240]:
country.append('Bhutan')

In [248]:
country

['India',
 'Pakistan',
 'Srilanka',
 'Bangladesh',
 'Nepal',
 'Bhutan',
 'Spain',
 'Greece']

In [250]:
country

['India',
 'Pakistan',
 'Srilanka',
 'Bangladesh',
 'Nepal',
 'Bhutan',
 'Spain',
 'Greece']

In [252]:
country.extend(['Spain','Greece'])

In [254]:
country

['India',
 'Pakistan',
 'Srilanka',
 'Bangladesh',
 'Nepal',
 'Bhutan',
 'Spain',
 'Greece',
 'Spain',
 'Greece']

In [256]:
'China'  in country

False

In [258]:
country.insert(4,'USA')

In [260]:
country

['India',
 'Pakistan',
 'Srilanka',
 'Bangladesh',
 'USA',
 'Nepal',
 'Bhutan',
 'Spain',
 'Greece',
 'Spain',
 'Greece']

In [262]:
country.remove('USA')

In [264]:
country

['India',
 'Pakistan',
 'Srilanka',
 'Bangladesh',
 'Nepal',
 'Bhutan',
 'Spain',
 'Greece',
 'Spain',
 'Greece']

In [266]:
country.pop()

'Greece'

In [268]:
countries.pop(-1)

NameError: name 'countries' is not defined

In [270]:
del country[1::2]

In [272]:
country

['India', 'Srilanka', 'Nepal', 'Spain', 'Spain']

In [274]:
country.remove('India')

In [276]:
country

['Srilanka', 'Nepal', 'Spain', 'Spain']

In [278]:
country.remove('USA')

ValueError: list.remove(x): x not in list

In [280]:
country

['Srilanka', 'Nepal', 'Spain', 'Spain']

In [282]:
print("The last element is", country[-1], "It is appearing", country.count([-1]))

The last element is Spain It is appearing 0

In [284]:
print("The last element is", country[-1], "It is appearing", country.count(country[-1]))

The last element is Spain It is appearing 2

In [286]:
a=[10,20,30,40]

In [288]:
print(a+a)

[10, 20, 30, 40, 10, 20, 30, 40]

In [290]:
## Tuple
We can delete a tuple, but cannot make any changes to the value

SyntaxError: invalid syntax (3184108481.py, line 2)

In [292]:
t1=(10,20,30,40)

In [294]:
t2=t1*3

In [296]:
t2

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [298]:
cities = ('Mumbai','Bangalore','Pune')

In [300]:
cities

('Mumbai', 'Bangalore', 'Pune')

In [302]:
'Mumbai'not in cities

False

In [304]:
'Nagpur' not in cities

True

In [306]:
min(t1)

10

In [308]:
max(t1)

40

In [310]:
len(t1)

4

In [312]:
list(t1)

[10, 20, 30, 40]

In [314]:
list(cities)

['Mumbai', 'Bangalore', 'Pune']

In [316]:
range(10)

range(0, 10)

In [318]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [320]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [322]:
cities = ['Bangalore','Pune','Mumbai','Delhi']

In [324]:
s1 = ''.join(cities)

In [326]:
s1

'BangalorePuneMumbaiDelhi'

In [328]:
cities

['Bangalore', 'Pune', 'Mumbai', 'Delhi']

In [330]:
'**'.join(cities)

'Bangalore**Pune**Mumbai**Delhi'

In [332]:
cities

['Bangalore', 'Pune', 'Mumbai', 'Delhi']

In [334]:
s2='\n'.join(cities)
print(s2)

Bangalore
Pune
Mumbai
Delhi

In [336]:
print(s2)

Bangalore
Pune
Mumbai
Delhi

In [338]:
s1 = 'Bangalore Mumbai Chennai Pune Delhi'

In [340]:
print(s1)

Bangalore Mumbai Chennai Pune Delhi

In [342]:
s1

'Bangalore Mumbai Chennai Pune Delhi'

In [344]:
cities = s1.split(' ')

In [346]:
cities

['Bangalore', 'Mumbai', 'Chennai', 'Pune', 'Delhi']

In [348]:
s2 = "One*Two*Three*Four*Five"

In [350]:
s2.split('*')

['One', 'Two', 'Three', 'Four', 'Five']

In [352]:
mob = '91-7276645489+91-7276545489+91-9822737959'

In [354]:
s1=mob.split('+')

In [356]:
s1

['91-7276645489', '91-7276545489', '91-9822737959']

In [358]:
s2='\n'.join(s1)

In [360]:
print(s2)

91-7276645489
91-7276545489
91-9822737959

In [362]:
mob = '91-7276645489+91-7276545489+91-9822737959'
s1=mob.split('+')
s2='\n'.join(s1)
print(s2)

91-7276645489
91-7276545489
91-9822737959

In [364]:
s1='Mumbai'

In [366]:
s1.endswith('i')

True

In [368]:
s1.startswith('M')

True

In [370]:
s1.upper()

'MUMBAI'

In [372]:
s1.lower()

'mumbai'

In [374]:
s1.title()

'Mumbai'

# Dictionary

In [377]:
d1 ={'A':'Alpha','B':'Beta'}

In [379]:
len(d1)

2

In [381]:
d1['A']

'Alpha'

In [383]:
d2 ={'A':'Alpha','B':'Beta','A':'Alpha2'}

In [385]:
d2['A']

'Alpha2'

In [387]:
d1.keys()

dict_keys(['A', 'B'])

In [389]:
list(d1.keys())

['A', 'B']

In [391]:
d1.values()

dict_values(['Alpha', 'Beta'])

In [393]:
list(d1.values())

['Alpha', 'Beta']

In [395]:
type(d1.values())

dict_values

In [397]:
type(d1.keys())

dict_keys

In [399]:
d1.items()

dict_items([('A', 'Alpha'), ('B', 'Beta')])

In [401]:
list(d1.(items())

SyntaxError: invalid syntax (4191180805.py, line 1)

In [403]:
list(d1.items())

[('A', 'Alpha'), ('B', 'Beta')]

In [405]:
d2 = {'C':'Gamma'}

In [407]:
d2

{'C': 'Gamma'}

In [409]:
d1

{'A': 'Alpha', 'B': 'Beta'}

In [411]:
d1.update(d2)

In [413]:
d1

{'A': 'Alpha', 'B': 'Beta', 'C': 'Gamma'}

In [415]:
d2

{'C': 'Gamma'}

In [417]:
del d1['A']

In [419]:
d1

{'B': 'Beta', 'C': 'Gamma'}

In [421]:
del d1

In [423]:
d1 ={'A':'Alpha','B':'Beta'}

In [425]:
d1.update(d2)

In [427]:
d1

{'A': 'Alpha', 'B': 'Beta', 'C': 'Gamma'}

In [429]:
d3.pop('C')

NameError: name 'd3' is not defined

In [431]:
d1

{'A': 'Alpha', 'B': 'Beta', 'C': 'Gamma'}

In [433]:
d3 = {'A': ['Alpha','alpha'], 'B': 'Beta', 'C': 'Gamma'}

In [435]:
d3

{'A': ['Alpha', 'alpha'], 'B': 'Beta', 'C': 'Gamma'}

In [438]:
d1

{'A': 'Alpha', 'B': 'Beta', 'C': 'Gamma'}

In [440]:
d1 = {'A': 'Alpha', 'B': 'Beta', 'C': 'Gamma'}

In [442]:
d1

{'A': 'Alpha', 'B': 'Beta', 'C': 'Gamma'}

In [444]:
d1['A']

'Alpha'

In [446]:
d1['D']

KeyError: 'D'

In [448]:
d1.get('A')

'Alpha'

In [450]:
d1.get('D')

In [452]:
d1.get('D','Not Available')

'Not Available'

In [454]:
d1.get('A','Not Available')

'Alpha'

In [456]:
d1 = {'A':100, 'B':'200', 'C':'300'}

In [458]:
d1['D']

KeyError: 'D'

In [460]:
d1['D'] = '400'

In [462]:
d1

{'A': 100, 'B': '200', 'C': '300', 'D': '400'}

In [464]:
d1['A']='1000'

In [466]:
d1

{'A': '1000', 'B': '200', 'C': '300', 'D': '400'}

In [468]:
a = d1.setdefault('E')

In [470]:
print(d1)

{'A': '1000', 'B': '200', 'C': '300', 'D': '400', 'E': None}

In [472]:
print(a)

None

In [474]:
b=d1.setdefault('F', 600)

In [476]:
print(d1)

{'A': '1000', 'B': '200', 'C': '300', 'D': '400', 'E': None, 'F': 600}

In [478]:
print(b)

600

In [480]:
list('ABCDE')

['A', 'B', 'C', 'D', 'E']

In [482]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [484]:
name = ['Rahul','Ravi','Roshan','Saquib']

In [486]:
marks = [88,45,50,100]

In [488]:
zip(name,marks)

In [490]:
dict(zip(name,marks))

{'Rahul': 88, 'Ravi': 45, 'Roshan': 50, 'Saquib': 100}

In [492]:
A = list('ABCDEFGHIJ')

In [494]:
B=range(17,170)

In [496]:
b

600

In [498]:
B

range(17, 170)

In [500]:
B=list(range(17,187,17))

In [502]:
zip(A,B)

In [547]:
D3 = dict(zip(A,B))

In [549]:
D3

{'A': 17,
 'B': 34,
 'C': 51,
 'D': 68,
 'E': 85,
 'F': 102,
 'G': 119,
 'H': 136,
 'I': 153,
 'J': 170}

In [541]:
D5

{'A': 17,
 'B': 34,
 'C': 51,
 'D': 68,
 'E': 85,
 'F': 102,
 'G': 119,
 'H': 136,
 'I': 153,
 'J': 170}

In [550]:
D3.dict_values('85')

AttributeError: 'dict' object has no attribute 'dict_values'

In [552]:
D3['E']

85

In [556]:
print(D3['E'])

85

In [558]:
list(D3)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [560]:
'\n'.join(D3)

'A\nB\nC\nD\nE\nF\nG\nH\nI\nJ'

In [562]:
print('\n'.join(D3))

A
B
C
D
E
F
G
H
I
J

In [564]:
D3

{'A': 17,
 'B': 34,
 'C': 51,
 'D': 68,
 'E': 85,
 'F': 102,
 'G': 119,
 'H': 136,
 'I': 153,
 'J': 170}

In [566]:
D4 = list(D3)

In [568]:
D4

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [570]:
l1 = list(D3.keys())

In [572]:
l1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [574]:
l2 = list(D3.values())

In [576]:
l2

[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]

In [578]:
l3 = l2['85']

TypeError: list indices must be integers or slices, not str

In [580]:
l2.index(85)

4

In [582]:
l1[4]

'E'

In [584]:
list(D5.keys())[list(D5.values()).index(85)]

'E'

In [586]:
D5

{'A': 17,
 'B': 34,
 'C': 51,
 'D': 68,
 'E': 85,
 'F': 102,
 'G': 119,
 'H': 136,
 'I': 153,
 'J': 170}

In [590]:
keys = list(D3.keys())

In [592]:
keys

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [596]:
values = list(D3.values())

In [598]:
values

[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]

In [600]:
values.index(85)

4

In [602]:
list keys([values.index(85)])

SyntaxError: invalid syntax (2719120340.py, line 1)

In [604]:
keys[values.index(85)]

'E'

In [606]:
list(keys(4))

TypeError: 'list' object is not callable

In [608]:
keys[4]

'E'

In [610]:
keys.clear()

In [612]:
values.clear()

In [614]:
keys

[]

In [616]:
values

[]

In [618]:
D5

{'A': 17,
 'B': 34,
 'C': 51,
 'D': 68,
 'E': 85,
 'F': 102,
 'G': 119,
 'H': 136,
 'I': 153,
 'J': 170}

In [622]:
keys = list(D5.keys())

In [624]:
keys

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [626]:
values = list(D5.values())

In [628]:
values

[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]

In [630]:
values.index(85)

4

In [632]:
keys[values.index(85)]

'E'

In [634]:
keys = list(D5.keys())
print(keys)
values = list(D5.values())
print(values)
keys[values.index(85)]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]

'E'

In [636]:
str='hello'
print(type(str(1)))

TypeError: 'str' object is not callable

In [638]:
a = "This is a test"
a[2:4]

'is'

In [640]:
a[:2:5]

'T'

In [642]:
str(1)

TypeError: 'str' object is not callable

In [644]:
print('Hello %s')

Hello %s