# Set in Python

In [2]:
s1 = {10,20,30,40}

In [4]:
type(s1)

set

In [6]:
s1[0]

TypeError: 'set' object is not subscriptable

In [8]:
s2 = {10,10,30,20}

In [10]:
s2

{10, 20, 30}

# Operations in set

In [13]:
s1 = {90,10,20,30,40,50}

In [15]:
s2= {10,20,60,70,80}

In [17]:
s1 & s2 # Intersection

{10, 20}

In [19]:
s1 | s2 #Union

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [21]:
s1-s2 # Difference

{30, 40, 50, 90}

In [23]:
s2-s1

{60, 70, 80}

In [25]:
s1 ^ s2 #Symmetric Difference

{30, 40, 50, 60, 70, 80, 90}

In [27]:
#we can do changes in a set

In [29]:
s1.add(100)

In [31]:
s1

{10, 20, 30, 40, 50, 90, 100}

In [33]:
s1.remove(100)

In [35]:
s1

{10, 20, 30, 40, 50, 90}

In [37]:
s1[0]

TypeError: 'set' object is not subscriptable

# For Loop

In [40]:
range(5) # 0 inclusive, 5 exclusive ; range to generate data

range(0, 5)

In [42]:
list(range(5))

[0, 1, 2, 3, 4]

In [44]:
for i in range(5):
    print(i)

0
1
2
3
4

In [46]:
# : when we use colon - whatever is coming next is part of the for loop

In [48]:
for i in range(5):
    print("Inside For Loop")
    print(i)
print("Outside For Loop")

Inside For Loop
0
Inside For Loop
1
Inside For Loop
2
Inside For Loop
3
Inside For Loop
4
Outside For Loop

In [50]:
for i in range(3):
    print("Hello World")

Hello World
Hello World
Hello World

In [40]:
2

2

In [54]:
num = input(print("Get the Number whose table is needed"))
for i in range(1,11):
    print(num,"*",i,'=' , i*num)
print('End')

Get the Number whose table is needed

None 4

4 * 1 = 4
4 * 2 = 44
4 * 3 = 444
4 * 4 = 4444
4 * 5 = 44444
4 * 6 = 444444
4 * 7 = 4444444
4 * 8 = 44444444
4 * 9 = 444444444
4 * 10 = 4444444444
End

In [56]:
num = int(input(print("Get the Number whose table is needed")))
for i in range(1,11):
    print(num,"*",i,'=' , i*num)
print('End')

Get the Number whose table is needed

None 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
End

In [58]:
for i in range(1,11):
    print("Inverse of", i,'is', round(1/i,2))
    #Inverse of i

Inverse of 1 is 1.0
Inverse of 2 is 0.5
Inverse of 3 is 0.33
Inverse of 4 is 0.25
Inverse of 5 is 0.2
Inverse of 6 is 0.17
Inverse of 7 is 0.14
Inverse of 8 is 0.12
Inverse of 9 is 0.11
Inverse of 10 is 0.1

In [60]:
for i in "India":
    print(i)

I
n
d
i
a

In [62]:
cities=['Mumbai','Bangalore','Pune','Delhi','Cities']

In [64]:
for city in cities:
    print ("The city is : ", city)

The city is :  Mumbai
The city is :  Bangalore
The city is :  Pune
The city is :  Delhi
The city is :  Cities

In [66]:
cities_T = tuple(cities)

In [68]:
for city in cities_T:
    print ("The city is : ", city)

The city is :  Mumbai
The city is :  Bangalore
The city is :  Pune
The city is :  Delhi
The city is :  Cities

In [70]:
print(city)

Cities

In [72]:
i=100

In [74]:
for i in range(100,105):
    print(i)

100
101
102
103
104

In [76]:
print(i)

104

In [78]:
for city in cities_T[::-1]:
    print ("The city is : ", city)

The city is :  Cities
The city is :  Delhi
The city is :  Pune
The city is :  Bangalore
The city is :  Mumbai

In [80]:
for i in range(107,100,-1):
    print(i)

107
106
105
104
103
102
101

In [82]:
for city in cities:
    print(city)

Mumbai
Bangalore
Pune
Delhi
Cities

In [84]:
for city in cities:
    print(city,end=' ')

Mumbai Bangalore Pune Delhi Cities

In [86]:
s1 = {10,20,30}

In [88]:
for s in s1:
    print (s)

10
20
30

In [90]:
d1

NameError: name 'd1' is not defined

In [92]:
d1 = {'A':'Alpha', 'B':'Beta','C':'Gamma'}

In [94]:
d1

{'A': 'Alpha', 'B': 'Beta', 'C': 'Gamma'}

In [96]:
for i in d1:
    print(i)

A
B
C

In [98]:
for i in d1:
    print(d1[i])

Alpha
Beta
Gamma

In [100]:
d1

{'A': 'Alpha', 'B': 'Beta', 'C': 'Gamma'}

In [102]:
for i in d1:
    a = print(i, d1[i])

A Alpha
B Beta
C Gamma

In [104]:
l=[]

In [106]:
l=[]
for i in d1:
    l.append(i)
    l.append(d1[i])
print(l)

['A', 'Alpha', 'B', 'Beta', 'C', 'Gamma']

In [108]:
l=[]
for i in d1.items():
    l.extend(i)
print(l)

['A', 'Alpha', 'B', 'Beta', 'C', 'Gamma']

In [110]:
l=[]
for i in d1.items():
    l.append(i)
print(l)

[('A', 'Alpha'), ('B', 'Beta'), ('C', 'Gamma')]

In [112]:
l=[]
for key,value in d1.items():
    print(key)
    print(value)

A
Alpha
B
Beta
C
Gamma

In [114]:
for i in d1.items():
    print(i)
    print(i[0])
    print(i[1])

('A', 'Alpha')
A
Alpha
('B', 'Beta')
B
Beta
('C', 'Gamma')
C
Gamma

In [122]:
data = {'ID101':['Saquib','Rafeeq',30,'Male'],
       'ID102':['Riddhi','Sharma',25,'Female'],
       'ID103':['Radha','Kumar',30,'Female']}

In [124]:
data

{'ID101': ['Saquib', 'Rafeeq', 30, 'Male'],
 'ID102': ['Riddhi', 'Sharma', 25, 'Female'],
 'ID103': ['Radha', 'Kumar', 30, 'Female']}

In [126]:
Keys = list(data.keys())

In [128]:
Keys

['ID101', 'ID102', 'ID103']

In [130]:
Values = list(data.values())

In [132]:
Values

[['Saquib', 'Rafeeq', 30, 'Male'],
 ['Riddhi', 'Sharma', 25, 'Female'],
 ['Radha', 'Kumar', 30, 'Female']]

In [134]:
for i in Keys:
    a= print(Values[0])

['Saquib', 'Rafeeq', 30, 'Male']
['Saquib', 'Rafeeq', 30, 'Male']
['Saquib', 'Rafeeq', 30, 'Male']

In [140]:
data = {'ID101':['Saquib','Rafeeq',30,'Male'],
       'ID102':['Riddhi','Sharma',25,'Female'],
       'ID103':['Radha','Kumar',30,'Female']}

In [142]:
data

{'ID101': ['Saquib', 'Rafeeq', 30, 'Male'],
 'ID102': ['Riddhi', 'Sharma', 25, 'Female'],
 'ID103': ['Radha', 'Kumar', 30, 'Female']}

In [144]:
for i in data.values():
    print(i)

['Saquib', 'Rafeeq', 30, 'Male']
['Riddhi', 'Sharma', 25, 'Female']
['Radha', 'Kumar', 30, 'Female']

In [146]:
for i in data.values():
    print(i[0])

Saquib
Riddhi
Radha

In [148]:
for i in data.values():
    print(i[-2])

30
25
30

In [150]:
age = []
name = []
for i in data.values():
    name.append(i[0])
    age.append(i[-2])
print(name, age)

['Saquib', 'Riddhi', 'Radha'] [30, 25, 30]

In [152]:
age = []
name = []
for i,j,k,l in data.values():
    name.append(i)
    age.append(k)
print(name,age)

['Saquib', 'Riddhi', 'Radha'] [30, 25, 30]

# While Loop

In [155]:
a=1

In [157]:
while (a<=5):
    print('The value of a is ', a)
    a+=1

The value of a is  1
The value of a is  2
The value of a is  3
The value of a is  4
The value of a is  5

In [159]:
# in while you can have only a condition

In [161]:
a=[2,5,3,2,1,7]
print(a[-3:-1])

[2, 1]

In [163]:
my_dict = {'name':'Jack','age':26}
my_dict['age']=27
my_dict['address']='Downtown'
print(my_dict)

{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

# If, Else and Else If

In [166]:
city = 'Pune'

In [168]:
if(city=='Mumbai'):
    print('It is hot here')

In [170]:
if(city=='Mumbai'):
    print('It is hot here')

In [172]:
if(city=='Mumbai'):
    print('City is Mumbai')
else:
    print('City is not Mumnbai')

City is not Mumnbai

In [174]:
city = 'Bangalore'

In [176]:
if(city=='Mumbai'):
    print('City is Mumbai')
elif (city=='Pune'):
    print('City is Pune')
else:
    print ('Not a city')

Not a city

In [178]:
city = input("Enter Name of City")
if(city=='Mumbai'):
    print('City is Mumbai')
elif (city=='Pune'):
    print('City is Pune')
else:
    print ('Neither Mumbai nor Pune, it is', city)

Enter Name of City Mumbai

City is Mumbai

In [182]:
city = 'Mumbai'
condition = 'Humid'

In [184]:
if (city=='Mumbai') or (condition == 'Rain'):
    print("Its raining in Mumbai")
else:
    print("No Idea")

Its raining in Mumbai

In [186]:
cities = ['Mumbai','Pune','Bangalore']

In [188]:
cities = ['Mumbai','Pune','Bangalore']
for i in cities():
    if (cities[i]=='Mumbai'):
        print("Raining in Mumbai")
    elif (cities[i]=='Bangalore'):
        print("Its cloudy")
    else:
        print ("No idea about the city")

TypeError: 'list' object is not callable

In [190]:
cities = ['Mumbai','Pune','Bangalore']
for i in cities():
    if (cities[i]=='Mumbai'):
        print("Raining in Mumbai")

TypeError: 'list' object is not callable

In [192]:
cities = ['Mumbai','Pune','Bangalore']
for i in cities:
    if (i=='Mumbai'):
        print("Raining in",i)
    elif (i=='Bangalore'):
        print("Its cloudy in",i)
    else:
        print ("No idea about the city",i)

Raining in Mumbai
No idea about the city Pune
Its cloudy in Bangalore

In [194]:
data = [10,22,21,33,31,45,37,38,90,101,23,45,66,88,45,99]

In [196]:
even=[]
odd=[]
for i in data:
    if(i%2==0):
        even.append(i)
    else:
        odd.append(i)
print ("Even Numbers are " ,even)
print ("Odd Numbers are", odd)

Even Numbers are  [10, 22, 38, 90, 66, 88]
Odd Numbers are [21, 33, 31, 45, 37, 101, 23, 45, 45, 99]

In [198]:
even

[10, 22, 38, 90, 66, 88]

In [200]:
odd

[21, 33, 31, 45, 37, 101, 23, 45, 45, 99]

In [206]:
for char in 'Saquib':
    if(char == 'u'):
        break
    print(char)
print("End of Code")

S
a
q
End of Code

In [208]:
Data = 'PES UNIVERSITY'

In [210]:
for value in Data:
    print(value)
    if(value == 'E'):
      break
print('End')

P
E
End

In [214]:
for value in Data:
    if (value == ' '):
        continue
    print(value)
print("EOD")

P
E
S
U
N
I
V
E
R
S
I
T
Y
EOD

In [216]:
Name = 'Saquib'
for value in Name:
    if (value == 'i'):
        continue
    print(value)
print("EOD")

S
a
q
u
b
EOD

In [220]:
data = {'ID101':['Saquib','Rafeeq',30,'Male'],
       'ID102':['Riddhi','Sharma',25,'Female'],
       'ID103':['Radha','Kumar',30,'Female']}

In [222]:
name = []

In [224]:
keys = data.keys()

In [226]:
values = data.values()

In [228]:
name = []
keys = list(data.keys())
values = list(data.values())
for i in keys:
    if (i=='ID102'):
        continue
    else:
        name.append(data[i][0])
print("EOC")

EOC