In [1]:
num=[1,2,3]

How do we multiply each element in the above list. Easiest way is to use list comprehension

In [4]:
[i*2 for i in num]

[2, 4, 6]

Above is a basic list comprehension

**When do we use a Python list comprehension???**

Consider a python for loop, a traditional for loop.

**Multiple each number in a list by 2**

In [18]:
res=[] ##Initialize an empty list
for i in num: # loop over the values
    i = i*2 # multiply the value by 2
    print('i',i)
    res.append(i) # append the values to the result
res

i 2
i 4
i 6

[2, 4, 6]

The above is a traditional approach

In [21]:
#let us run the above same scenario using list comprehension
[i*2 for i in num]

[2, 4, 6]

In [27]:
[i*3 for i in num]
#in this we have reduced multiple lines of code to one line, faster and more performing

[3, 6, 9]

**Syntax**


[expression for item in iterable if condition]
- expression: The operation or transformation to apply to each item.
- item: The variable representing each element in the iterable.
- iterable: The data source you are looping through (e.g., list, range).
- condition (optional): A filter to include only specific elements.

**Convert the string to upper case**

In [33]:
strings=["Welcome","to","python","for","data","sciences"]
res=[]
for i in strings:
    i=i.upper()
    #print(i)
    res.append(i)
res

['WELCOME', 'TO', 'PYTHON', 'FOR', 'DATA', 'SCIENCES']

In [35]:
[i.upper() for i in strings]

['WELCOME', 'TO', 'PYTHON', 'FOR', 'DATA', 'SCIENCES']

In [44]:
[i.upper()+" List Comp"  for i  in strings]

['WELCOME List Comp',
 'TO List Comp',
 'PYTHON List Comp',
 'FOR List Comp',
 'DATA List Comp',
 'SCIENCES List Comp']

**Key Features of List Comprehension**

1. It returns a list
[]
2. In the list comprehension, there are some key elements as below
[expression for i in iterable]
a. Expression - i*2, i.upper()
b. Iterable - We need something to iterate over / loop over, ex: lists and strings
[i*2 for i in [1,2,3]]
c. i in - member/value
d. will always have for and in

In [59]:
[i*2 for i in [1,2,3]]

[2, 4, 6]

In [49]:
[i for i in [1,2,3]]

[1, 2, 3]

**Create a function and multiply**

In [53]:
def timesSeven(n):
    return n*7

In [65]:
#Traditional for loop
n=[1,2,3,4,5]
res=[]
for i in n:
    i=timesSeven(i)
    print("i",i)
    res.append(i)
print("Results with Function",res)

i 7
i 14
i 21
i 28
i 35
Results with Function [7, 14, 21, 28, 35]

We can do the above by using function in list comprehension

In [70]:
[timesSeven(i) for i in n]

[7, 14, 21, 28, 35]

In [76]:
res=[timesSeven(i) for i in n]
res

[7, 14, 21, 28, 35]

**use condition in the iterable**

In [81]:
[timesSeven(i) for i in n if i > 2]

[21, 28, 35]

In [83]:
[timesSeven(i) for i in n if i >= 2]

[14, 21, 28, 35]

In [89]:
[timesSeven(i) for i in n if i < 3]

[7, 14]

**Lets use dicts in list comprehension**

In [92]:
dicts=[{"name":'Ram'},{"name":'Laxman'},{"name":'Mohan'}]

In [94]:
dicts

[{'name': 'Ram'}, {'name': 'Laxman'}, {'name': 'Mohan'}]

Get name from the dictionary

In [99]:
res=[]
for i in dicts:
    res.append(i['name'])
print("Names",res)

Names ['Ram', 'Laxman', 'Mohan']

Do the above using List comprehension

In [106]:
res=[i['name'] for i in dicts]
res

['Ram', 'Laxman', 'Mohan']

In [110]:
res=[i['name'] + ' Hi' for i in dicts]
res

['Ram Hi', 'Laxman Hi', 'Mohan Hi']

**If Else Statements in List Comprehensions**

In [113]:
l1=[1,2,3,4,5]

foundational list comprehension

In [116]:
[i for i in l1]

[1, 2, 3, 4, 5]

How do we put if else statements on top of the above to have conditional statements

1. Check all the numbers are positive numbers
2. Any integer 3 multiply by 5

In [120]:
[i for i in l1]

[1, 2, 3, 4, 5]

In [126]:
[i*5 if i==3 else i for i in l1]
#Note: if else is right at the middle to the left of for loop

[1, 2, 15, 4, 5]

In [132]:
[i for i in l1 if i > 0]
#Note: if is to the right of for loop

[4, 5]

In [134]:
[i for i in l1 if i > 2]

[3, 4, 5]

In [136]:
[i*5 for i in l1 if i == 3]

[15]

**note: in above examples, the if statement on the left and right take on different behaviors**

If statements to the right of the for loop are like Filters

In [140]:
[i*5 if i==3 else i for i in l1 if i == 3]

[15]

In [142]:
[i*5 if i==3 else i for i in l1 if i > 3]

[4, 5]

In [144]:
[i*5  for i in l1 if i>0]

[5, 10, 15, 20, 25]

In [146]:
[i*5  for i in l1 if i>0 else i]

SyntaxError: invalid syntax (4002481082.py, line 1)

**Note:We cannot have else to the right of the for loop**

This is because, there is no else on a filter

In [152]:
[i*5 if i==3  for i in l1 if i > 3]

SyntaxError: expected 'else' after 'if' expression (3314806258.py, line 1)

**Note: We need to have else statement to the left of for loop if we are using if**

In [174]:
a=[1,2,3,4,5]

In [176]:
map(lambda i:i*5,a)

In [178]:
list(map(lambda i: i*5, a))

[5, 10, 15, 20, 25]

In [180]:
list(map(lambda i: i*5 if i==3 else i, a))

[1, 2, 15, 4, 5]

In [182]:
[i*5 if i==3 else i for i in a]

[1, 2, 15, 4, 5]

Above two are exact same thing

In [185]:
[i*5 if i==3 else i for i in l1 if i > 1]

[2, 15, 4, 5]

In [191]:
list(map(lambda i: i*5 if i==3 else i, filter(lambda i:i>1,a)))

[2, 15, 4, 5]

In [193]:
list(map(lambda i: i*5 if i==3 else i, a))

[1, 2, 15, 4, 5]

In [195]:
[i*5 if i==3 else i for i in l1 if i > 1]

[2, 15, 4, 5]

In [223]:
res=[]

In [211]:
for i in a:
    if(i>1):
        res.append(i)
print(res)

[2, 3, 4, 5]

for i in a:
    if i>1:
        i=i*5
        res.append(i)
res

In [227]:
res=[]
for i in a:
    if i>1:
        if i == 3:
            i=i*5
        else:
            i
        res.append(i)

In [229]:
res

[2, 15, 4, 5]

In [231]:
[i*5 if i==3 else i for i in a if i > 1]

[2, 15, 4, 5]

if else on the left of the for loop happens after the filter conditions are applied

**List Comprehensions with Multiple ifs statements**

In [239]:
a=[1,2,3,4,5,6]

In [241]:
[i for i in a]

[1, 2, 3, 4, 5, 6]

In [243]:
[i for i in a if i>1]

[2, 3, 4, 5, 6]

In [245]:
[i for i in a if i > 2]

[3, 4, 5, 6]

In [247]:
[i for i in a if i != 3]

[1, 2, 4, 5, 6]

In [249]:
[i for i in a if i not in (3,4)]

[1, 2, 5, 6]

In [251]:
[i for i in a if i >1 and i<5]

[2, 3, 4]

**Note: List Comprehensions were first added into Python in Jul 2000**

You can have multiple ifs and multiple for loops in one statement

In [257]:
[i for i in a if i>2]

[3, 4, 5, 6]

In [259]:
for i in a:
    print(i)

1
2
3
4
5
6

In [263]:
for i in a:
    if i>2:
        print(i)

3
4
5
6

In [265]:
[i for i in a if i>1 if i!=3]

[2, 4, 5, 6]

**Note: if we are doing two if side by side, it is equivalent to two nested ifs**

In [271]:
for i in a:
    if i>1:
        if i!=3:
            print(i)

2
4
5
6

In [269]:
[i for i in a if i>1 and  i!=3]

[2, 4, 5, 6]

In [276]:
for i in a:
    if i>1 and i!=3:
        print(i)

2
4
5
6

In [282]:
fruit=['Apples','Oranges','Pears','Grapes']
fruit

['Apples', 'Oranges', 'Pears', 'Grapes']

In [284]:
a

[1, 2, 3, 4, 5, 6]

In [286]:
[i for i in a if i>1 if i!=3]

[2, 4, 5, 6]

In [290]:
[i for i in a if i>2]

[3, 4, 5, 6]

In [292]:
[(i,j) for i in a if i>2 for j in fruit]

[(3, 'Apples'),
 (3, 'Oranges'),
 (3, 'Pears'),
 (3, 'Grapes'),
 (4, 'Apples'),
 (4, 'Oranges'),
 (4, 'Pears'),
 (4, 'Grapes'),
 (5, 'Apples'),
 (5, 'Oranges'),
 (5, 'Pears'),
 (5, 'Grapes'),
 (6, 'Apples'),
 (6, 'Oranges'),
 (6, 'Pears'),
 (6, 'Grapes')]

In [298]:
for i in a:
    if i>2:
        for j in fruit:
            print(i,j)

3 Apples
3 Oranges
3 Pears
3 Grapes
4 Apples
4 Oranges
4 Pears
4 Grapes
5 Apples
5 Oranges
5 Pears
5 Grapes
6 Apples
6 Oranges
6 Pears
6 Grapes

In [300]:
[(i,j) for i in a if i>2 if i!=3 for j in fruit]

[(4, 'Apples'),
 (4, 'Oranges'),
 (4, 'Pears'),
 (4, 'Grapes'),
 (5, 'Apples'),
 (5, 'Oranges'),
 (5, 'Pears'),
 (5, 'Grapes'),
 (6, 'Apples'),
 (6, 'Oranges'),
 (6, 'Pears'),
 (6, 'Grapes')]

In [302]:
for i in a:
    if i>2:
        if i!=3:
            for j in fruit:
                print(i,j)

4 Apples
4 Oranges
4 Pears
4 Grapes
5 Apples
5 Oranges
5 Pears
5 Grapes
6 Apples
6 Oranges
6 Pears
6 Grapes

In [304]:
[(i,j) for i in a if i>2 if i!=3 for j in fruit if j!='Oranges']

[(4, 'Apples'),
 (4, 'Pears'),
 (4, 'Grapes'),
 (5, 'Apples'),
 (5, 'Pears'),
 (5, 'Grapes'),
 (6, 'Apples'),
 (6, 'Pears'),
 (6, 'Grapes')]

In [308]:
for i in a:
    if i>2:
        if i!=3:
            for j in fruit:
                if j !='Oranges':
                    print(i,j)

4 Apples
4 Pears
4 Grapes
5 Apples
5 Pears
5 Grapes
6 Apples
6 Pears
6 Grapes

In [310]:
[(i,j) for i in a if i>2 if i!=3 for j in fruit if j!='Oranges'and j!='Apples']

[(4, 'Pears'),
 (4, 'Grapes'),
 (5, 'Pears'),
 (5, 'Grapes'),
 (6, 'Pears'),
 (6, 'Grapes')]

In [312]:
for i in a:
    if i>2:
        if i!=3:
            for j in fruit:
                if j !='Oranges' and j!='Apples':
                    print(i,j)

4 Pears
4 Grapes
5 Pears
5 Grapes
6 Pears
6 Grapes

**List Comprehension vs map()**

In [315]:
a=[1,2,3,4]

**Multiply each number by 2 and return the result**

In [325]:
[i*2 for i in a] # preferred way is this

[2, 4, 6, 8]

map(function,list)

In [328]:
map(lambda i: i*2,a)

In [330]:
list(map(lambda i:i*2,a))

[2, 4, 6, 8]

In [333]:
map(str,[1,2,3,4])

In [335]:
list(map(str,[1,2,3,4]))

['1', '2', '3', '4']

**using filters**

In [338]:
[i*2 for i in a if i > 1]

[4, 6, 8]

In [348]:
list(filter(lambda i:i>1,map(int,[1,2,3,4])))

[2, 3, 4]

if we are filtering using map, we need to use filter and lambda

In [351]:
[i*2 for i in a]

[2, 4, 6, 8]

In [359]:
a

[1, 2, 3, 4]

In [367]:
def timestwo(i):
    return i*2

In [369]:
[timestwo(i) for i in a]

[2, 4, 6, 8]

In [373]:
list(map(timestwo,a))

[2, 4, 6, 8]

In [375]:
from timeit import timeit

In [379]:
timeit("map(timestwo,[1,2,3,4])","from __main__ import timestwo")

0.1709229999978561

In [381]:
timeit("map(lambda i:i*2,[1,2,3,4])","from __main__ import timestwo")

0.25953509999089874

lambda takes more time, its better to avoid map and lambda

In [385]:
timeit("list(map(timestwo,[1,2,3,4]))","from __main__ import timestwo")

0.561424999992596

In [389]:
timeit("[i*2 for i in [1,2,3,4]]","from __main__ import timestwo")

0.1641916999942623

In [393]:
timeit("[timestwo(i) for i in [1,2,3,4]]","from __main__ import timestwo")

0.32551909997710027

map() function would be useful in using multiple iterables as arguments

In [405]:
list(map(min, [1,2,3,4],[9,0,23,22],[3,2,1,0]))

[1, 0, 1, 0]

**List Comprehension vs filter() function**

In [408]:
a=[1,2,3,4,5]

In [410]:
[i for i in a if i>2] # if acts as a  filter in list comprehension

[3, 4, 5]

In [418]:
filter(lambda i:i>2,a) # two arguments - filter(function, iterable) 
#filtering using a filter function

In [416]:
list(filter(lambda i:i>2,a))

[3, 4, 5]

In [434]:
def grettwo(i):
    return i>2

In [436]:
[i for i in a if grettwo(i)]

[3, 4, 5]

In [438]:
list(filter(grettwo,a))

[3, 4, 5]

In [440]:
[grettwo(i) for i in a if i>2]

[True, True, True]

In [442]:
filter(None,[0,1,2,3])

In [450]:
list(filter(None,[0,1,2,3]))
#None remove anything that is false

[1, 2, 3]

In [452]:
list(filter(None,[0,1,2,3, True, False]))
#None remove anything that is false

[1, 2, 3, True]

In [454]:
list(filter(None,[0,1,2,3, True, False, "", "  ", "Hey"]))
#None remove anything that is false

[1, 2, 3, True, '  ', 'Hey']

In [456]:
bool(None)

False

In [458]:
[i for i in [0,1,2,True, False,""," "] if bool(i) != bool(None)]

[1, 2, True, ' ']

In [462]:
filter(None,[0,1,2,3])
# returns a filter object

In [466]:
timeit("[i for i in [1,2,3,4,5] if i>2]")

0.201209499995457

In [470]:
timeit("list(filter(lambda i:i>2,[1,2,3,4,5]))")

0.7281565000012051

**list comprehensions vs reduce**

In [475]:
reduce(lambda x,y:x+y,[1,2,3,4]) # this would have worked in python 2

NameError: name 'reduce' is not defined

In [479]:
from functools import reduce

In [481]:
reduce(lambda x,y:x+y,[1,2,3,4]) # this would have worked in python 2

10

In [483]:
from functools import reduce
reduce(lambda x,y:x*y,[1,2,3,4])

24

In [489]:
sum([i for i in [1,2,3,4]])

10

In [491]:
reduce(lambda x,y:x*y,[1,2,3,4])

24

Somethings you can do in reduce, you cannot do in list comprehensions. ex: mul

Flatten the list

In [501]:
b=[[1,2],[1,2],[1,2]]
b

[[1, 2], [1, 2], [1, 2]]

In [503]:
[i for sublist in b for i in sublist]

[1, 2, 1, 2, 1, 2]

In [505]:
reduce(lambda x,y:x+y,b)

[1, 2, 1, 2, 1, 2]

In [507]:
reduce(lambda x,y:x+y,[1,2,3,4])

10

In [513]:
reduce(lambda x,y:x if x>y else y,[1,2,7,3,4]) # can't be done in list comprehension

7

reduce(function, iterable) # function needs to take two arguments

In [518]:
def grttwo(i):
    return i>2

In [520]:
reduce(grttwo,[1,2])

TypeError: grttwo() takes 1 positional argument but 2 were given

In [522]:
def addtwo(i,j):
    return i+j

In [524]:
reduce(addtwo,[1,2])

3

**List comprehensions with multiple for loops**

In [564]:
a=[1,2,3,4,5]
fruit=['Apple','Banana','Orange','Pears']

In [533]:
[(i,j) for i in a for j in fruit]
# highest level for loop is on the left

[(1, 'Apple'),
 (1, 'Banana'),
 (1, 'Orange'),
 (1, 'Pears'),
 (2, 'Apple'),
 (2, 'Banana'),
 (2, 'Orange'),
 (2, 'Pears'),
 (3, 'Apple'),
 (3, 'Banana'),
 (3, 'Orange'),
 (3, 'Pears'),
 (4, 'Apple'),
 (4, 'Banana'),
 (4, 'Orange'),
 (4, 'Pears'),
 (5, 'Apple'),
 (5, 'Banana'),
 (5, 'Orange'),
 (5, 'Pears')]

In [531]:
for i in a:
    for j in fruit:
        print(i,j)

1 Apple
1 Banana
1 Orange
1 Pears
2 Apple
2 Banana
2 Orange
2 Pears
3 Apple
3 Banana
3 Orange
3 Pears
4 Apple
4 Banana
4 Orange
4 Pears
5 Apple
5 Banana
5 Orange
5 Pears

In [539]:
[(i,j,k) for i in a for j in fruit for k in ('x','y','z')]

[(1, 'Apple', 'x'),
 (1, 'Apple', 'y'),
 (1, 'Apple', 'z'),
 (1, 'Banana', 'x'),
 (1, 'Banana', 'y'),
 (1, 'Banana', 'z'),
 (1, 'Orange', 'x'),
 (1, 'Orange', 'y'),
 (1, 'Orange', 'z'),
 (1, 'Pears', 'x'),
 (1, 'Pears', 'y'),
 (1, 'Pears', 'z'),
 (2, 'Apple', 'x'),
 (2, 'Apple', 'y'),
 (2, 'Apple', 'z'),
 (2, 'Banana', 'x'),
 (2, 'Banana', 'y'),
 (2, 'Banana', 'z'),
 (2, 'Orange', 'x'),
 (2, 'Orange', 'y'),
 (2, 'Orange', 'z'),
 (2, 'Pears', 'x'),
 (2, 'Pears', 'y'),
 (2, 'Pears', 'z'),
 (3, 'Apple', 'x'),
 (3, 'Apple', 'y'),
 (3, 'Apple', 'z'),
 (3, 'Banana', 'x'),
 (3, 'Banana', 'y'),
 (3, 'Banana', 'z'),
 (3, 'Orange', 'x'),
 (3, 'Orange', 'y'),
 (3, 'Orange', 'z'),
 (3, 'Pears', 'x'),
 (3, 'Pears', 'y'),
 (3, 'Pears', 'z'),
 (4, 'Apple', 'x'),
 (4, 'Apple', 'y'),
 (4, 'Apple', 'z'),
 (4, 'Banana', 'x'),
 (4, 'Banana', 'y'),
 (4, 'Banana', 'z'),
 (4, 'Orange', 'x'),
 (4, 'Orange', 'y'),
 (4, 'Orange', 'z'),
 (4, 'Pears', 'x'),
 (4, 'Pears', 'y'),
 (4, 'Pears', 'z'),
 (5, 'Apple', 'x'),
 (5, 'Apple', 'y'),
 (5, 'Apple', 'z'),
 (5, 'Banana', 'x'),
 (5, 'Banana', 'y'),
 (5, 'Banana', 'z'),
 (5, 'Orange', 'x'),
 (5, 'Orange', 'y'),
 (5, 'Orange', 'z'),
 (5, 'Pears', 'x'),
 (5, 'Pears', 'y'),
 (5, 'Pears', 'z')]

In [543]:
for i in a:
    for j in fruit:
        for k in ['x','y','z']:
            print(i,j,k)

1 Apple x
1 Apple y
1 Apple z
1 Banana x
1 Banana y
1 Banana z
1 Orange x
1 Orange y
1 Orange z
1 Pears x
1 Pears y
1 Pears z
2 Apple x
2 Apple y
2 Apple z
2 Banana x
2 Banana y
2 Banana z
2 Orange x
2 Orange y
2 Orange z
2 Pears x
2 Pears y
2 Pears z
3 Apple x
3 Apple y
3 Apple z
3 Banana x
3 Banana y
3 Banana z
3 Orange x
3 Orange y
3 Orange z
3 Pears x
3 Pears y
3 Pears z
4 Apple x
4 Apple y
4 Apple z
4 Banana x
4 Banana y
4 Banana z
4 Orange x
4 Orange y
4 Orange z
4 Pears x
4 Pears y
4 Pears z
5 Apple x
5 Apple y
5 Apple z
5 Banana x
5 Banana y
5 Banana z
5 Orange x
5 Orange y
5 Orange z
5 Pears x
5 Pears y
5 Pears z

** Flattening list**

In [546]:
a=[[12,3,4,55,], [44,],[3,5,8,9]]

In [548]:
a

[[12, 3, 4, 55], [44], [3, 5, 8, 9]]

In [552]:
[item for sublist in a for item in sublist ]

[12, 3, 4, 55, 44, 3, 5, 8, 9]

In [554]:
#data types

In [566]:
a=[1,2,3,4,5]
fruit=['Apple','Banana','Orange','Pears']

In [568]:
[{i,j} for i in a for j in fruit]

[{1, 'Apple'},
 {1, 'Banana'},
 {1, 'Orange'},
 {1, 'Pears'},
 {2, 'Apple'},
 {2, 'Banana'},
 {2, 'Orange'},
 {2, 'Pears'},
 {3, 'Apple'},
 {3, 'Banana'},
 {3, 'Orange'},
 {3, 'Pears'},
 {4, 'Apple'},
 {4, 'Banana'},
 {4, 'Orange'},
 {4, 'Pears'},
 {5, 'Apple'},
 {5, 'Banana'},
 {5, 'Orange'},
 {5, 'Pears'}]

In [570]:
[[i,j] for i in a for j in fruit]

[[1, 'Apple'],
 [1, 'Banana'],
 [1, 'Orange'],
 [1, 'Pears'],
 [2, 'Apple'],
 [2, 'Banana'],
 [2, 'Orange'],
 [2, 'Pears'],
 [3, 'Apple'],
 [3, 'Banana'],
 [3, 'Orange'],
 [3, 'Pears'],
 [4, 'Apple'],
 [4, 'Banana'],
 [4, 'Orange'],
 [4, 'Pears'],
 [5, 'Apple'],
 [5, 'Banana'],
 [5, 'Orange'],
 [5, 'Pears']]

In [574]:
[set([i,j]) for i in a for j in fruit]

[{1, 'Apple'},
 {1, 'Banana'},
 {1, 'Orange'},
 {1, 'Pears'},
 {2, 'Apple'},
 {2, 'Banana'},
 {2, 'Orange'},
 {2, 'Pears'},
 {3, 'Apple'},
 {3, 'Banana'},
 {3, 'Orange'},
 {3, 'Pears'},
 {4, 'Apple'},
 {4, 'Banana'},
 {4, 'Orange'},
 {4, 'Pears'},
 {5, 'Apple'},
 {5, 'Banana'},
 {5, 'Orange'},
 {5, 'Pears'}]

** list of different sizes**

In [577]:
a

[1, 2, 3, 4, 5]

In [579]:
fruit

['Apple', 'Banana', 'Orange', 'Pears']

In [581]:
list(zip(a,fruit))

[(1, 'Apple'), (2, 'Banana'), (3, 'Orange'), (4, 'Pears')]

In [583]:
#Zips upto shortest of the two lists

In [585]:
# unused values

In [587]:
[(i) for i in a for j in fruit]

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5]

In [589]:
#loop is happening, u r not grabbing

In [591]:
words=["This","is","a","great","Day"]
items=[word[0] for word in words]
items

['T', 'i', 'a', 'g', 'D']

In [593]:
a=[1,2,3]
b=['a','b','c']
[(i,j) for i in a for j in b]

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [597]:
colors=['red','green','blue','orange','yellow']
col=[color for color in colors if color=='orange']
col

['orange']

In [607]:
x="Good Day 17 oct 2024"
num=[i for i in x if i.isdigit()]
print(num)

['1', '7', '2', '0', '2', '4']

In [613]:
sen='4O3U5dfdsfdsfgAsaaojkeiEIu'
vom=[i for i in sen if i in 'AEIOUaeiou']
vom

['O', 'U', 'A', 'a', 'a', 'o', 'e', 'i', 'E', 'I', 'u']

In [615]:
colors=['red','green','blue','orange','yellow']
col=[color for color in colors if len(color)>4]
col

['green', 'orange', 'yellow']

**Extra Hands On**

- List comprehension is a very powerful alternative used to create data in a list / append a list
- Merger between list and for loop is called list comprehension

In [637]:
value = [x for x in range(1,6)]

In [639]:
value

[1, 2, 3, 4, 5]

- it is basically creating a list
- x is value, what is going to get appended

In [642]:
power = [x**2 for x in range(1,6)]

In [644]:
power

[1, 4, 9, 16, 25]

In [654]:
#exercise
cities=['Mumbai', 'Jaipur', 'Bangalore','Pune','Delhi;']

In [658]:
c=[]
for city in cities:
    c.append(city.upper())
print(c)

['MUMBAI', 'JAIPUR', 'BANGALORE', 'PUNE', 'DELHI;']

In [662]:
c=[city.upper() for city in cities]
c

['MUMBAI', 'JAIPUR', 'BANGALORE', 'PUNE', 'DELHI;']

We don't have tuple comprehension as it does not allow to append

In [667]:
(i**2 for i in range(1,6))

In [669]:
tuple((i**2 for i in range(1,6)))

(1, 4, 9, 16, 25)

In [671]:
data=[10,22,32,41,66,56,88,77,53,56,97,54,31]

In [673]:
[x for x in data if x%2==0] #to get even

[10, 22, 32, 66, 56, 88, 56, 54]

In [677]:
[x for x in data if x%2!=0] #to get odd

[41, 77, 53, 97, 31]

In [679]:
[x for x in data if x%2==0 and x>20]

[22, 32, 66, 56, 88, 56, 54]

In [681]:
['Even' if x%2==0 else 'Odd' for x in data]

['Even',
 'Even',
 'Even',
 'Odd',
 'Even',
 'Even',
 'Even',
 'Odd',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [685]:
[x for x in data if x%3==0 and x%2==0]

[66, 54]

**Flattening a nested list**

In [1]:
nested_list = [[1, 2], [3, 4], [5, 6]]

In [3]:
[item for sublist in nested_list for item in sublist]

[1, 2, 3, 4, 5, 6]

**Examples**

1. Filtering Even Numbers from a List

In [9]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

2. Creating a List of Squares

In [14]:
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
print(squares)

[1, 4, 9, 16, 25]

3. Converting All Strings to Lowercase

In [17]:
names = ['Alice', 'BOB', 'ChArLiE']
lowercase_names = [name.lower() for name in names]
print(lowercase_names)

['alice', 'bob', 'charlie']

4. Flattening a Nested List

In [20]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6]

5. Creating a List of Tuples (Combinations)

In [23]:
list1 = ['A', 'B', 'C']
list2 = [1, 2, 3]
combinations = [(x, y) for x in list1 for y in list2]
print(combinations)

[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3), ('C', 1), ('C', 2), ('C', 3)]

6. Conditional Value Assignment

In [26]:
scores = [65, 85, 42, 77, 90]
results = ["Pass" if score >= 50 else "Fail" for score in scores]
print(results)

['Pass', 'Pass', 'Fail', 'Pass', 'Pass']

7. Extracting the First Letter from Each Word

In [29]:
words = ['apple', 'banana', 'cherry', 'date']
first_letters = [word[0] for word in words]
print(first_letters)

['a', 'b', 'c', 'd']

8. Removing Vowels from a String

In [32]:
string = "Hello World"
no_vowels = ''.join([char for char in string if char.lower() not in 'aeiou'])
print(no_vowels)

Hll Wrld

9. List of Factorials

In [44]:
import math
numbers = range(1, 6)
factorials = [math.factorial(x) for x in numbers]
print(factorials)

[1, 2, 6, 24, 120]

10. Reversing Each Word in a Sentence

In [48]:
sentence = "Data Science is amazing"
reversed_words = [word[::-1] for word in sentence.split()]
print(reversed_words)

['ataD', 'ecneicS', 'si', 'gnizama']