In [ ]:
print('Hello');

Test

Python

In [5]:
print('Hello2');

Hello2

Topic 2

In [6]:
print("BSE # Mumbai")

BSE # Mumbai

In [7]:
print("BSE # Mumbai')

SyntaxError: unterminated string literal (detected at line 1) (2926741998.py, line 1)

In [8]:
print("BSE # Mumbai")
print("BSE # Mumbai"\')

SyntaxError: unexpected character after line continuation character (523295425.py, line 2)

In [9]:
print("BSE # Mumbai")#single line comment

BSE # Mumbai

In [10]:
print("BSE # Mumbai")
#single line comment
print('Hello');

BSE # Mumbai
Hello

In [16]:
usd='dollar $';inr='ruppe \u20B9' #statements in single line separated via ;

In [12]:
print(usd
    )

dollar

In [13]:
print(usd,inr)

dollar ruppe

In [13]:
print(usd,inr)

dollar ruppe

In [17]:
print(usd,inr)

dollar $ ruppe ₹

In [18]:
paragraph=""" Hi how do you
do .I am doing fine
ok
"""
print(paragraph)

 Hi how do you
do .I am doing fine
ok

In [19]:
p1="nSE"
""" Hi how do you
do .I am doing fine
ok
"""
print(p1)

nSE

Block comment across multiple Line ⬆⬆⬆⬆⬆⬆⬆

Variable names are case sensitive⬇⬇⬇⬇⬇

In [20]:
stock='Yes';Stock='No';print(stock,Stock)

Yes No

In [21]:
if='Tets'

SyntaxError: invalid syntax (2843404282.py, line 1)

In [22]:
print(keyword.keylist)

NameError: name 'keyword' is not defined

In [24]:
print(keyword.keylist)

AttributeError: module 'keyword' has no attribute 'keylist'

In [23]:
import keyword

In [25]:
print(keyword.keylist)

AttributeError: module 'keyword' has no attribute 'keylist'

In [26]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [27]:
import match
print(math.factorial(5))

ModuleNotFoundError: No module named 'match'

In [28]:
import math
print(math.factorial(5))

120

Indentation 
Error Exception

In [29]:
sensor=1
if sensor==1:
    print('On')
    print('off')
else:
    print('off')
    print('On')
print(sensor)

On
off
1

In [30]:
sensor=1
if sensor==1:
print('On')
    print('off')
else:
    print('off')
    print('On')
print(sensor)

IndentationError: expected an indented block after 'if' statement on line 2 (3974864028.py, line 3)

In [33]:
sensor=1
if sensor == 2:
    print('On')
    print('off')
else:
    print('error resolved')
    print('On')
print(sensor)

error resolved
On
1

In [34]:
sensor=1
if sensor == 2
 print('On')
    print('off')
else:
    print('error resolved')
    print('On')
print(sensor)

SyntaxError: expected ':' (690625339.py, line 2)

In [35]:
sensor=1
if sensor == 2{
 print('On')
    print('off')}
else:
    print('error resolved')
    print('On')
print(sensor)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4575937.py, line 3)

In [36]:
a=b=c=55
c

55 55 55

In [37]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [39]:
a,b,c=1,2,'yy'
print(a,b,c)

1 2 yy

positional mapping

data type is realized dynamically⬆⬆⬆⬆⬆⬆

In [40]:
print(type(a))

<class 'int'>

In [41]:
print(id(a))

140727859034552

no contract between variable and memory

try using max local variables in python not global

A tuple in Python is an ordered, immutable collection of items. Tuples are similar to lists, but unlike lists, the elements of a tuple cannot be changed after the tuple is created. Tuples are often used to store heterogeneous data (data of different types) and can also be used as keys in dictionaries,

In [42]:
mytuple(123,"DataSciences"); myList[1,"2",6]
print(mylist)

NameError: name 'mytuple' is not defined

In [43]:
mytuple=(123,"DataSciences"); myList=[1,"2",6]
print(mylist)

NameError: name 'mylist' is not defined

In [44]:
mytuple=(123,"DataSciences"); myList=[1,"2",6]
print(myList)

[1, '2', 6]

In [45]:
myList[1] = 25
print(myList)

[1, 25, 6]

 lists are mutable, meaning you can modify their contents (add, remove, or change elements)

In [47]:
print(mytuple[0])

123

In [49]:
def myFunctionOne(param0,param1):
    output=param0+param1
    print(param0,param1,output)

print(myFunctionOne(1,1));

1 1 2
None

In [2]:
def myFunctionOne(param0,param1):
    output=param0+param1
    output0=param0*param1
    return output,output0

s1,d1=myFunctionOne(2,5);print(s1,d1)

7 10

In [5]:
def myFunctionOne(param0,param1):
    output=param0/param1
    output0=param0*param1
    return output,output0

s1,d1=myFunctionOne(2,5);print(s1,d1)

0.4 10

In [6]:
# Example of a set
my_set = {1, 2, 3, 4, 5}

# Adding an element to the set
my_set.add(6)

# Removing an element from the set
my_set.remove(3)

print(my_set)  # Output: {1, 2, 4, 5, 6}

# Creating a set from a list to remove duplicates
list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(list_with_duplicates)

print(unique_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 4, 5, 6}
{1, 2, 3, 4, 5}

In [7]:
# Example of a dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Accessing a value by key
print(person["name"])  # Output: Alice

# Adding a new key-value pair
person["profession"] = "Engineer"

print(person)
# Output: {'name': 'Alice', 'age': 30, 'city': 'New York', 'profession': 'Engineer'}

Alice
{'name': 'Alice', 'age': 30, 'city': 'New York', 'profession': 'Engineer'}

In [24]:
person={'name': 'Alice', 'age': 30, 'city': 'New York', 'profession': 'Engineer'}
person_list=[];
person_list.append(person)
for i in range(5):
    
    people = {
        "name": str(i),
        "age": i+1,
        "city": str(i+i),
        "profession": 'Engg'+str(i)
    }
    person_list.append(people) 
print(person_list)

[{'name': 'Alice', 'age': 30, 'city': 'New York', 'profession': 'Engineer'}, {'name': '0', 'age': 1, 'city': '0', 'profession': 'Engg0'}, {'name': '1', 'age': 2, 'city': '2', 'profession': 'Engg1'}, {'name': '2', 'age': 3, 'city': '4', 'profession': 'Engg2'}, {'name': '3', 'age': 4, 'city': '6', 'profession': 'Engg3'}, {'name': '4', 'age': 5, 'city': '8', 'profession': 'Engg4'}]

In [25]:
person_list

[{'name': 'Alice', 'age': 30, 'city': 'New York', 'profession': 'Engineer'},
 {'name': '0', 'age': 1, 'city': '0', 'profession': 'Engg0'},
 {'name': '1', 'age': 2, 'city': '2', 'profession': 'Engg1'},
 {'name': '2', 'age': 3, 'city': '4', 'profession': 'Engg2'},
 {'name': '3', 'age': 4, 'city': '6', 'profession': 'Engg3'},
 {'name': '4', 'age': 5, 'city': '8', 'profession': 'Engg4'}]

In [10]:
person

{'name': 'Alice', 'age': 30, 'city': 'New York', 'profession': 'Engineer'}

In [11]:
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'profession': 'Engineer'}