<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="faculty.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Faculty Notebook <br> (Session 2) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

0. **[Conditional Statement and Loops](#loops)**
    - 1 - [if statement](#if_statement)
    - 2 - [if else statement](#if_else)
    - 3 - [if elif else](#if_elif_else)
    - 4 - [nested if and if else statement](#nested_if)
    - 5 - [for loop](#forloop)
    - 6 - [while loop](#whileloop)
    - 7 - [break statement](#break_statement)
    - 8 - [continue statement](#continue_statement)
1. **[ Examples of Conditional Statement and Loops](#examples)**
    - 1.1 - [if statement](#if_statement)
    - 1.2 - [if else statement](#if_else)
    - 1.3 - [nested conditions](#if_elif_else)
    - 1.4 - [for loop and nested for loop](#for_and_nested)
    - 1.5 - [while loop](#while_loop)
2. **[ What are List Comprehensions](#List_Comprehensions)**
    - 2.1 - [for loop](#for_loop_list)
    - 2.2 - [nested for loop](#nested_for_loop_list)
    - 2.3 - [if statement](#if_list)
    - 2.4 - [nested condition](#nested_condition)

<a id="loops"> </a>
## . Conditional Statement and Loops

<a id="if_statement"> </a>
##  if statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>If statement is one of the most commonly used conditional statement in most of the programming languages.<br>
                    It decides whether certain statements need to be executed or not.<br>
                    If statement checks for a given condition, if the condition is true, then the set of code present inside the if block will be executed.<br>
                    The If condition evaluates a boolean expression and executes the block of code only when the boolean expression becomes TRUE.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Important things about if statements:
<em>
<table align="left">
    <tr>
        <td>
            <div align="left", style="font-size:125%">
                <font color="#21618C">
                    <b>1. The colon (:) is significant and required. It separates the header of the compound statement from the body<br>
                    2. The line after the colon must be indented. It is standard in python to use four spaces for indenting<br>                </font>
            </div>
        </td>
    </tr>
</table>

</em>

**syntax:**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS

**Let’s see how it looks on a flow chart:**
            <img src="flowchart_if.png">

Now, we will see some examples on if statements

In [1]:
# create a string
my_string = 'Python'

# create a list
my_list = ['Data Science', 'Machine Learning', 'Artificial Intelligence', 'Python']

if my_string in my_list:
    print(my_string + ' Tutorial')

Python Tutorial

 Test if an item is a member of a list or not.

In [2]:
languages = ['java', 'python' ,'perl', 'ruby', 'c#']
if 'python' in languages:
    print('right')

right

<a id="if_else"> </a>
## 2 if else statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>The if..else statement evaluates test expression and will execute body of if only when test condition is True.<br>
                    It decides whether certain statements need to be executed or not.<br>
                    If the condition is False, body of else is executed. Indentation is used to separate the blocks.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of if...else**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS_1<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_2

**Flow chart of a if else statement:**
            <img src="flowchart_if_else.png">

Let’s see an example of the implementation of the if…else statement.

In [3]:
# create a integer
x = 200
print(x)

# uses the not operator to reverse the result of the logical expression
if not x == 500:
    print('the value of x different from 500')
else:
    print('the value of x is equal to 500')

200
the value of x different from 500

In [4]:
# create a integer
n = 150
print(n)

# If n is greater than 500, n is multiplied by 7, otherwise n is divided by 7
result = n * 7 if n > 500 else n / 7
print(result)

150
21.428571428571427

Check whether the two numbers are equal or not

In [5]:
a = 3; b=3
if (a == b):  ## intend is very important
    print("A & B are Equal")
else:
    print("A & B are not Equal")

A & B are Equal

In [6]:
string1 = str(input("enter your userid"))
string2 = str(input("enter your password"))

if (string1 == "greatlearning" and string2 == "simplelearning123"):
    print("Succefully logged in!!")
else :
    print("Please check your userid and password")

enter your userid 12
enter your password 12345

Please check your userid and password

<a id="if_elif_else"> </a>
## 3 if elif else
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>The elif is short for else if. It allows us to check for multiple expressions.<br>
                    &nbsp;If the condition for if is False, it checks the condition of the next elif block and so on.<br>
                    &nbsp;If all the conditions are False, body of else is executed.<br>
                   The if block can have only one else block. But it can have multiple elif blocks.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of if elif else:**<br>
if x < y:<br>
&nbsp;&nbsp;    STATEMENTS_A<br>
elif x > y:<br>
&nbsp;&nbsp    STATEMENTS_B<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_C

**Here is the flow chart of if elif else:**
            <img src="flowchart_if_elif.png">

Find the type of given variable

In [7]:
var = 1+3j
if (type(var) == int):
    print("Type of the variable is Integer")
elif (type(var) == float):
    print("Type of the variable is Float")
elif (type(var) == complex):
    print("Type of the variable is Complex")
elif (type(var) == bool):
    print("Type of the variable is Bool")
elif (type(var) == str):
    print("Type of the variable is String")
elif (type(var) == tuple):
    print("Type of the variable is Tuple")
elif (type(var) == dict):
    print("Type of the variable is Dictionaries")
elif (type(var) == list):
    print("Type of the variable is List")
else:
    print("Type of the variable is Unknown")

Type of the variable is Complex

Check whether the given number is greater than 50 or not

In [8]:
num = 100
if (num == 0):
    print("Number is Zero")
elif (num > 5):
    print("Number is greater than 50")
else:
    print("Number is smaller than 50")

Number is greater than 50

<a id="nested_if"> </a>
## 4 nested if and if else statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>Nested statements are used to execute different piece of code when we have more than two options to handle.<br>
                    <b>Nested statements mean that an if statement or if-else statement is present inside another if or if-else block.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number:  6

Positive number

In [10]:
# nested if else in python

score = int(input("Enter your score"))

if(score <=100 and score >= 90): 
    print("distinction")
elif(score < 90 and score >= 80):
    print("A Grade")
elif(score < 80 and score >= 70):
    print("B Grade")
elif(score < 70 and score >= 60):
    print("C Grade")
elif(score < 60 and score > 50):
    print("D Grade")
elif(score == 50):
    print("E Grade")
elif(score < 50 and score >= 0):
    print("U Grade")
else:
    print("Enter a valid score between 0 and 100")

Enter your score 56

D Grade

<a id="forloop"> </a>
## 5 for loop
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>For loop in python is used to execute a block of statements or code several times until the given condition becomes false.<br>
                <b>The for loop in python is used to iterate over a sequence (list, tuple, string) or other iterable objects.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of for loop:**<br>
for val in sequence:<br>
&nbsp;&nbsp;	Body of for

**Here is the flow chart of for loop:**
            <img src="forloop.jpg">

In [11]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [66, 545, 223, 438, 224, 122, 125, 214, 111]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

# Output: The sum is 48
print("The sum is", sum)

The sum is 2068

In [12]:
# Prints out the numbers 0,1,2,3,4,5
for x in range(6):
    print(x)

0
1
2
3
4
5

In [13]:
int_list = [134, 222, 113, 234, 375, 620]
sum = 0
for iter in int_list:
    sum += iter

print("Sum =", sum)
print("Avg =", sum/len(int_list))

Sum = 1698
Avg = 283.0

<a id="whileloop"> </a>
## 6 while loop
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>While loop repeats the sequence of actions many times until some condition evaluates to False.<br> 
                The condition is given before the loop body and is checked before each execution of the loop body.<br> 
                While loop is used when it is impossible to determine the exact number of loop iterations in advance.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of for loop:**<br>
while (expression):<br>
&nbsp;&nbsp;     statement_1<br>
&nbsp;&nbsp;     statement_2<br>
    ....

In [14]:
# print the digit 0 to 4
x = 0;
while (x < 5):
     print(x)
     x += 1

0
1
2
3
4

Calculate the sum of the integers from 0 to 9

In [15]:
a = 0;
b = 0
while (a < 10):
     b = b + a
     a = a + 1
else :
     print('The sum of first 9 integers : ',b)

The sum of first 9 integers :  45

In [16]:
# find the length of input
n = int(input())
length = 0
while True:
    length += 1
    n //= 10
    if n == 0:
        break
print('Length is', length)

 33

Length is 2

<a id="break_statement"> </a>
## 7 break statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>The break statement is used to terminate the loop when a certain condition is met.<br>
                The break statement is generally used inside a loop along with a if statement so that when a particular condition (defined in if statement) returns true, the break statement is encountered and the loop terminates.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Flow chart of break statement:**
            <img src="break-statement.jpg">

In [17]:
# program to display all the elements before number 838
for num in [131, 92, 838, 120, 920, 233,321, 119]:
   print(num)
   if(num==838):
        print("The number 838 is found")
        print("Terminating the loop")
        break

131
92
838
The number 838 is found
Terminating the loop

Check whether a numbers entered by the user is negative or not.

In [18]:
for i in range(5):
    a = int(input())
    if a < 0:
        print('Met a negative number', a)
        break
else:
    print('No negative numbers met')

 0
 5
 0
 -1

Met a negative number -1

### <a id="continue_statement"> </a>
## 8 continue statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>Continue is also a loop control statement just like the break statement.<br>
                Continue statement is opposite to that of break statement, instead of terminating the loop, it forces to execute the next iteration of the loop.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Flow chart of continue statement:**
            <img src="continue_statement.jpg">

In [19]:
for char in 'Python':
    if (char == 'y'):
        continue
    print('Current character: ', char)

Current character:  P
Current character:  t
Current character:  h
Current character:  o
Current character:  n

In [20]:
# loop from 1 to 10 
for i in range(1, 11): 
    if i == 6: 
        continue
    else: 
        # otherwise print the value of i 
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

Use the continue statement in a while loop

In [21]:
i = 0
while i < 9:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9

<a id="examples"> </a>
## 1. Examples of Conditional Statement and Loops

<a id="if_statement"> </a>
## 1.1 if statement

Now, we will see some examples on if statements

**Check whether the number is smaller than 4738 or not**

In [22]:
Val = 3636
if(Val<4738):
    print("number is smaller than 4738")

number is smaller than 4738

In the above example, we declared a variable called ‘Val’ with the value as 3636 and in the if statement we are checking if the number is less than 4738 or not. If the condition is true then a set of statements inside the 'if' block will be executed

**Check whether the number is positive or not**

In [23]:
Val = 453
if Val > 0:
    print(Val, "is a positive number")

453 is a positive number

<a id="if_else"> </a>
## 1.2 if else statement

Let’s see an example of the implementation of the if…else statement

**Check whether the given number is positive or not**

In [24]:
a = -5

if a >= 0:
    print("The number is positive or zero")
else:
    print("The number is negative")

The number is negative

**Check whether the number is even or odd**

In [25]:
num = 22
if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is even

<a id="if_elif_else"> </a>
## 1.3 nested conditions

**Let’s take an example to check whether a number is odd and greater than 20**

In [26]:
x = 45
if x%2 != 0:
    if x > 20:
        print("This number is odd and is greater than 20")
    else:
        print("This is number is odd but not greater than 20")
else:
    print("The number is not even")

This number is odd and is greater than 20

**Create a simple calculator using if elif condition**

In [27]:
Value1 = float(input("Enter first number: "))
op = input("Enter operator: ")
Value2 = float(input("Enter second number: "))
if op == '+':
    print(Value1 + Value2)
elif op == '-':
    print(Value1 - Value2)
elif op == '/':
    print(Value1 / Value2)
elif op == '*':
    print(Value1 * Value2)
else:
    print("Invalid Operator")

Enter first number:  32
Enter operator:  +
Enter second number:  54

86.0

**Example of nested if statement**

In [28]:
person_age = int(input(" Enter your age here:  "))
if person_age < 18:
    print(" You are not eligible to work ") 
else:
    if person_age >= 18 and person_age <= 60:
        print(" You are eligible to work ")
        print(" Please fill your details and apply")
    else:
        print(" You are too old to work as per the government rules")
        print(" Please collect your pension!")

 Enter your age here:   78

 You are too old to work as per the government rules
 Please collect your pension!

In this program, you can enter your age and store it in the variable 'person_age'. If the age is less than 18, print the result for that condition. If the condition is not true, we check one more condition (Nested) and if it is true, we print result for that condition. If the nested condition fails, we print the other statement.

**Program to display the grade of the student**

In [29]:
Marks = int(input(" Enter Your Marks Here:  "))

if Marks >= 90:
    print("A grade")

elif Marks >=80:
    print("B grade")

elif Marks >=70:
    print("C grade")

elif Marks >= 65:
    print("D grade")

else:
    print("F grade")

 Enter Your Marks Here:   76

C grade

Now, there are four possible outputs that can occur once we run the program:<br>
1. If the marks is greater than 90, the program will print A grade, if the marks is less than 90, the program will continue to the next statement<br>
2. If the marks is greater than or equal to 80, the program will print B grade, if the marks is 79 or less, the program will continue to the next statement<br>
3. If the marks is greater than or equal to 70, the program will print C grade, if the marks is 69 or less, the program will continue to the next statement<br>
4. If the marks is greater than or equal to 65, the program will print D grade, if the marks is 64 or less, the program will continue to the next statement<br>
5. The program will print F grade because all of the above conditions were not met

**Enter the amount and calculate discount based on the amount and given discount rate**

In [30]:
amt = int(input("Enter Sale Amount: "))
# checking conditions and calculating discount
if(amt>0):
    if amt<=5000:
        disc = amt*0.05
    elif amt<=15000:
        disc=amt*0.12
    elif amt<=25000:
        disc=0.2 * amt
    else:
         disc=0.3 * amt
    print("Discount : ",disc)
    print("Net Pay  : ",amt-disc)
else:
    print("Invalid Amount")

Enter Sale Amount:  45

Discount :  2.25
Net Pay  :  42.75

**Find largest number among three numbers**

In [31]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
 
if (num1 > num2) and (num1 > num3):
    largest = num1
    print("The largest number is",largest)
elif (num2 > num1) and (num2 > num3):
    largest = num2
    print("The largest number is",largest)
else:
    largest = num3
    print("The largest number is",largest)

Enter first number:  3
Enter second number:  6
Enter third number:  8

The largest number is 8.0

**Find the sum of natural numbers up to n**

In [32]:
# sum of natural numbers
num = 16

if num < 0:
    print("Enter a positive number")
else:
    sum = 0
    while(num > 0):
        sum += num
        num -= 1
    print("The sum is",sum)

The sum is 136

<a id="for_and_nested"> </a>
## 1.4 for loop and nested for loop

**Calculate the square of each element in the list**

In [33]:
list_1 = [1,3,13,91,100,200]
for i in list_1:
    print(i*i)

1
9
169
8281
10000
40000

**Write a code to print table of given number**

In [34]:
n=int(input())
for i in range(1,11):
    print(n,"x",i,"=",n*i)

 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

**Let’ see now how to print full pyramid and asterisk(star) patterns in python**

In [35]:
print("Print full triangle using stars")
size = 5
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1 # decrementing m after each loop
    for j in range(0, i + 1):
        # printing full Triangle pyramid using stars
        print("* ", end=' ')
    print(" ")

Print full triangle using stars
        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

**Form a lower tringular matrix in ' * ' pattern**

In [36]:
for i in range(0, 5):
    for j in range(0, i+1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * * * *

**Write a program to print alphabetical pattern using ascii values**

In [37]:
for i in range (65,70):
    # inner loop
    for j in range(65,i+1):
        print(chr(j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

**Access each individual item of the sublists using nested for loop**

In [38]:
list_of_lists = [['Pune', 'Mumbai', 'Delhi'],[23, 12, 32],[9.29, 8.28, 7.27]]

for list in list_of_lists:
    for item in list:
        print(item)

Pune
Mumbai
Delhi
23
12
32
9.29
8.28
7.27

**Read a number n and print an identity matrix of the same order**

In [39]:
# identity matrix
n=int(input("Enter a number: "))
for i in range(0,n):
    for j in range(0,n):
        if(i==j):
            print("1",sep=" ",end=" ")
        else:
            print("0",sep=" ",end=" ")
    print()

Enter a number:  8

1 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0
0 0 1 0 0 0 0 0
0 0 0 1 0 0 0 0
0 0 0 0 1 0 0 0
0 0 0 0 0 1 0 0
0 0 0 0 0 0 1 0
0 0 0 0 0 0 0 1

**Access each individual letter from the given list of words**

In [40]:
words= ["Apple", "Banana", "Car", "Dolphin" ]
for word in words:
        #access word from the list
        print ("The following lines will print each letters of "+word)
        for letter in word:
                #access letter for the word
                print (letter)
        print("")

The following lines will print each letters of Apple
A
p
p
l
e

The following lines will print each letters of Banana
B
a
n
a
n
a

The following lines will print each letters of Car
C
a
r

The following lines will print each letters of Dolphin
D
o
l
p
h
i
n

**Print a number pattern using a for loop and range function**

In [41]:
# 15 is the total number to print
for num in range(15):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

10 10 10 10 10 10 10 10 10 10

11 11 11 11 11 11 11 11 11 11 11

12 12 12 12 12 12 12 12 12 12 12 12

13 13 13 13 13 13 13 13 13 13 13 13 13

14 14 14 14 14 14 14 14 14 14 14 14 14 14

**Find the first 3-digit number that’s divisible by 12**

In [42]:
for i in range(0, 1000, 12):
    if len(str(i)) == 3:
        print(i)
        break

108

**Write a programm to display even numbers using continue statement**

In [43]:
for num in [230, 211, 932, 626, 234, 829, 424]:
    # Skipping the iteration when number is even
    if num%2 == 0:
        continue
    # This statement will be skipped for all even numbers
    print(num)

211
829

<a id="while_loop"> </a>
## 1.5 while loop

In [44]:
# while loop with if else
a = 7
while a > 0:
    a = a - 1
    if a == 2:
        break
    print(a)
else:
    print("Loop is finished")

6
5
4
3

In [45]:
# break in while
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [46]:
# break in while loop
while True:
    n = input("Please enter 'hello':")
    if n.strip() == 'hello':
        break

Please enter 'hello': 9
Please enter 'hello': e
Please enter 'hello': hello

In [47]:
# break in while loop
num_sum = 0
count = 0
while(count<10):
    num_sum = num_sum + count
    count = count + 1 
    if count== 4:
        break
print("Sum of first ",count,"integers is: ", num_sum)

Sum of first  4 integers is:  6

In [48]:
# continue in while loop
i = 0
while i < 7:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6
7

In [49]:
# continue in while loop
for x in range(7):
    if (x == 3 or x==6):
        continue
    print(x)

0
1
2
4
5

<a id="List_Comprehensions"> </a>
## 2. What are List Comprehensions?

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>List comprehensions provide us with a simple way to create a list based on some iterable. During the creation, elements from the iterable can be conditionally included in the new list and transformed as needed.<br>
                        <br>Components of list comprehensions:<br>
                        . Output expression<br>
                        . Iterable<br>
                        . Iterator variable which represents the members of the iterable
                        
                        <img src="list.png", height="400", width="400">
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**In python, list comprehensions are constructed as follows:**<br>
    
    list = [x for x in iterable]

<a id="List_Comprehensions_loops"> </a>
## List Comprehensions vs loops

<a id="for_loop_list"> </a>
### 2.1. for loop

Let’s look at an example that creates a list based on a string:<br>
Suppose, you want to separate the letters of the word 'Great Lakes' and add the letters as items of a list. The first thing that comes in mind would be using for loop<br>

In [50]:
# Using loop for constructing output list 
list_1=[]
for i in 'Great Lakes':
    list_1.append(i)
list_1

['G', 'r', 'e', 'a', 't', ' ', 'L', 'a', 'k', 'e', 's']

Here, square brackets signifies that the output is a list. list_1.append(i) is the function executed for each element and for i in 'Great Lakes' is used to iterate over each element. But with a python list comprehension, we can do this in one line

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Remember that a python string is iterable. We can not iterate dictionary like this. Iterating through a dictionary gives us 'dict' object has no attribute 'append'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [51]:
# Using loop for constructing output dictionary
dict_1={}
for i in 'Great Lakes':
    dict_1.append(i)
dict_1

AttributeError: 'dict' object has no attribute 'append'

In [52]:
# using list comprehensions
new_list = [i for i in 'Great Lakes']
print(new_list)

['G', 'r', 'e', 'a', 't', ' ', 'L', 'a', 'k', 'e', 's']

In the above example, a new list is assigned to variable 'new_list', and list contains the items of the iterable string 'Great Lakes'. We call print() function to print the output

**Find the squares of each element using list comprehension**

In [53]:
num = [13, 32, 33, 24]
num_squares = [n**2 for n in num]

print(num_squares)

[169, 1024, 1089, 576]

In the above example, square brackets signifies that the output is a list. n**2 is the expression executed for each element and for n in numbers is used to iterate over each element

**We can use list comprehension to iterate over list of strings. Convert all the words in the given list to the upper case**

In [54]:
list_1 = ["yes", "it's", "a", "Beautiful", "Day"]

upper_list_1 = [str.upper() for str in list_1]

print(upper_list_1)

['YES', "IT'S", 'A', 'BEAUTIFUL', 'DAY']

**List comprehensions can be used to produce a list of a list, as shown below:**

In [55]:
list_1 = [1, 2, 3, 4]

square_cube_num = [ [a**2, a**3] for a in list_1]

print(square_cube_num)

[[1, 1], [4, 8], [9, 27], [16, 64]]

Here we use list_1 to create square_cube_num, which is a list of list containing squares and cubes of the numbers from list_1

<a id="nested_for_loop_list"> </a>
### 2.2 nested for loop

** Print the tables of numbers from 13 to 17**

In [56]:
[[i*j for j in range(1,11)] for i in range(13,18)]

[[13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170]]

**Create a list of tuples with a and b such that a is less than b**

In [57]:
list_1 = [13, 72, 27, 83, 89, 54]
list_2 = [25, 37, 35]

new_list = [(a, b) for a in list_1 for b in list_2 if a < b]

print(new_list)

[(13, 25), (13, 37), (13, 35), (27, 37), (27, 35)]

### Conditional list comprehension
List comprehensions can utilize conditional statements to modify existing lists or other sequential data types when creating new lists.<br>
Conditional list comprehension adds only those items to the list that meet the condition (for which the condition is True).

**if statement**                        <img src="condition.png", height="550", width="550">

**if-else statement**                        <img src="ifelse.png", height="550", width="550">

<a id="if_list"> </a>
### 2.3 if satement

We create an example that uses mathematical operators, integers, and the range() sequence type. Take the values from 0 to 10, and add the even values to a list

In [58]:
num_list = [i for i in range(11) if i%2==0]
print(num_list)

[0, 2, 4, 6, 8, 10]

**Square the number if its even, else, cube it**

In [59]:
[i**2 if i%2==0 else i**3 for i in [2,3,4,5]]

[4, 27, 16, 125]

<a id="nested_condition"> </a>
### 2.4 nested condition
Nested conditions comprise condition statements contained within the definition of other condition statements

**Find all the numbers from a given list divisible by 2 and 3**

In [60]:
numbers = [1, 2, 3, 4, 5, 6, 18, 20]
number_list = [number for number in numbers if number % 2 == 0 if number % 3 == 0]
print(number_list)

[6, 18]

Here, list comprehension checks the number is divisible by 2 and 3. If number satisfies both conditions, number is appended to number_list.

**Return whether the number is even or odd, for each integer from 0 to 20**

In [61]:
["Even" if i%2==0 else "Odd" for i in range(21)]

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']