<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="faculty.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Faculty Notebook <br> (Session 1) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Python Variables](#variables)**
2. **[Data Types](#type)**
    - 2.1 - [Numbers](#num)
    - 2.2 - [Strings](#str)
    - 2.3 - [Boolean](#bool)
3. **[Type Conversion](#typecon)**
4. **[Python print()](#print)**
5. **[User Input](#uinput)**
6. **[Python Operators](#oper)**
    - 6.1 - [Arithmetic Operator](#arith)
    - 6.2 - [Comparison Operator](#comp)
    - 6.3 - [Assignment Operator](#assign)
    - 6.4 - [Logical Operator](#logic)
    - 6.5 - [Membership Operator](#member)
    - 6.6 - [Bitwise Operator](#bitwise)
7. **[Python Flow Control](#pfc)**
    - 7.1 - [if - statement](#condition)
    - 7.2 - [while- loop](#while)
    - 7.3 - [for- loop](#for)
8. **[Pseudocode](#pseudo)**
9. **[Introduction to List](#list)**
10. **[Introduction to Tuple](#tuple)**
11. **[Introduction to Dictionary](#dictionary)**
12. **[Introduction to Sets](#sets)**

<a id="variables"> </a>
## 1. Python Variables

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Variables are nothing but reserved memory locations to store values. This implies that when you create a variable, you hold some space in the memory.<br>
                        <br>Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Declaring and assigning a value to a variable
We use the assignment operator  '='  to assign a value to a variable.

In [1]:
num = 30

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. Here, we have created a variabe named 'num' and we have assigned value 30 to 'num' variable.

#### Multiple assignments
Python allows you to assign a single value to several variables simultaneously. For example âˆ’

In [2]:
# Here, an integer object is created with the value 5, and all three variables are assigned to the same memory location
x = y = z = 5

You can also assign multiple objects to multiple variables

In [3]:
a,b,c = 5,10.1,"Great Lakes"

#### Re-assigning a variable

In [4]:
var1 = 25
var2 = "Arthur"
var2 = var1
var2

25

### Rules and Naming Conventions
<em>
<table align="left">
    <tr>
        <td>
            <div align="left", style="font-size:125%">
                <font color="#21618C">
                    <b>1. Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore(_). For example: <br>
                       <br> &emsp; variable_name<br>
                        &emsp; VARIABLE_NAME<br>
                        &emsp; varName<br>
                        &emsp; VariableName<br>
                    </b>
                    <b><br>2. Create a name that makes sense. For example, variable makes more sense than v  <br>               
                    </b>
                    <b><br>3. If you want to create a variable name having two words, use underscore to separate them<br>
                    </b>
                    <b><br>4. Never use special symbols like !, @, #, $, %, etc.<br>
                    </b>
                    <b><br>5. Do not start a variable name with a digit<br>
                    </b>
                    <b><br>6. Reserved words (built-in keywords) cannot be used as variable names.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

</em>

<a id = "type"></a>
## 2. Data Types

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:<br><br>
                        1. Numbers<br>
                        2. Strings<br>
                        3. Boolean<br>
                        4. Lists<br>
                        5. Tuples<br>
                        6. Dictionaries <br>
                        7. Sets
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<a id="num"> </a>
### 2.1. Python Numbers
There are four numeric Python data type:<br>
a. int (signed integers)<br>
b. float (floating point real values)<br>
c. long (long integers, they can also be represented in octal and hexadecimal)<br>
d. complex (complex numbers)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>10</td>
  <td>54.4</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
  <tr>
  <td>0x69</td>
  <td>74.15</td>
  <td>-4335685298777L</td>
  <td>45j</td>
  </tr>
  <tr>
  <td>-0x260</td>
  <td>89.33</td>
  <td>0348L	</td>
  <td>3e+26J</td>
  </tr>
</table>

#### int
'int' stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.

In [5]:
a = -5
type(a)

int

In [6]:
x = 1000
type(a)

int

#### float

In [7]:
a = 1.1
type(a)

float

In [8]:
x = -3.14
type(x)

float

In [9]:
y = 1.626e16
type(y)

float

#### long

In [10]:
x =999999999999999999999999999999999999999999999
type(x)

int

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>This construct does not exist in Python 3.x.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### complex

In [11]:
x = 3+4j
type(x)

complex

In [12]:
y = 3e+4j
type(y)

complex

<a id="str"> </a>
### 2.2. Python Strings

A string is a sequence of characters. Python does not have a <em>char</em> data type, unlike C++ or Java. You can delimit a string using single quotes('string') or double-quotes("string").

In [13]:
string = "Introduction to Python"
string

'Introduction to Python'

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [14]:
str1 = "Great"
str2 = "Learning"
str3 = str1+str2
str3                      # Prints concatenated string

'GreatLearning'

In [15]:
str3*3                    # Prints string three times

'GreatLearningGreatLearningGreatLearning'

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>You cannot use the minus(-) operator and the division(/) operator on strings.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing starts with 0.

In [16]:
string[5]                 # Prints sixth character of the string

'd'

You can also display a burst of characters in a string using the slicing operator with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [17]:
string[13:22]             # Prints characters starting from 14th to 21st character

'to Python'

Strings are <em>immutable</em>. The following line of code will generate an error

In [18]:
string[0] = 'P'

TypeError: 'str' object does not support item assignment

<a id="bool"> </a>
### 2.3. Python Boolean
In Python programming language, the Boolean datatype is a primitive datatype having one of two values: **True** or **False**. It is often a result of some conditions

In [19]:
var = True
type(var)

bool

In [20]:
print(10 > 9)

True

In [21]:
print(10 == 9)

False

In [22]:
print(10 < 9)

False

<a id="typecon"> </a>
## 3. Type Conversion
Since Python is dynamically-typed, you may want to convert a value into another type. Python supports different type conversion functions like int(), float(), str() etc.

#### float()
It converts the passed value into a float.

In [23]:
float(11)

11.0

You can turn a Boolean into an float.

In [24]:
float (True)

1.0

In [25]:
float(False)

0.0

You cannot turn a string into an float. It throws an error. However, if the string has only numbers, then you can.

In [26]:
float("abc")

ValueError: could not convert string to float: 'abc'

In [63]:
float("11")

11.0

In [64]:
#You can also use â€˜eâ€™ to denote an exponential number

float("2.24e-2")           #this number works even without the float() function

0.0224

#### int

Conversion from float to int will round-off the value (make it closer to zero).

In [65]:
int(11.7)

11

In [66]:
int(-11.7)

-11

 You can also turn a Boolean into an int.

In [67]:
int(True)

1

In [68]:
int(False)

0

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

In [69]:
int("GL")

ValueError: invalid literal for int() with base 10: 'GL'

In [109]:
int("11")

11

#### str()
<em>str()</em> converts the value into a string.

In [110]:
str(2.24)

'2.24'

In [111]:
str(True)

'True'

In [112]:
str(False)

'False'

In [113]:
str(10)

'10'

<a id="print"> </a>
## 4. Python print()

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Syntax:<br>
                        <br><em> print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)</em>
                    </b>
                    <b><br><br><br><br>print() Parameters:<br>
                    <br>*objects - object to be printed. * indicates that there may be more than one object<br>
<br>sep - objects are separated by sep. Default value: ' '<br>
<br>end - end is printed at last<br>
<br>file - must be an object with write(string) method. If omitted it, sys.stdout will be used which prints objects on the screen.<br>
<br>flush - If True, the stream is forcibly flushed. Default value: False<br><br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [114]:
print("Hello World")

Hello World

In [115]:
# initialize a variable
x = 2
print("x =", x)              # Here we pass two objects

x = 2

Only object parameter is passed in the above print() function.

#### print() with separator and end parameters
By default, python's print() function ends with a newline. This function comes with a parameter called 'end.' The default value of this parameter is '\n,' i.e., the new line character. You can end a print statement with any character or string using this parameter.<br>
Sometimes you need to print one blank line in your Python program.

In [116]:
x = 2
a = 8
print("x =", x, end='\n\n\n')
print("a =", 8, end = 'j')

x = 2


a = 8j

Objects will be separated with what the <em>sep</em> parameter is set to.

In [117]:
x = 2
a = 8
print("x =", x, sep='$$')
print("a =", 8, sep = 'j')

x =$$2
a =j8

<a id="uinput"> </a>
## 5. User Input


<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>Most programs today use a dialog box as a way of asking the user to provide some type of input.<br>
                        <br>There are two functions in Python that you can use to read data from the user:
                        <br>1.raw_input()
                        <br>2.input() <br>
                        <br>You can store the results from them into a variable.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>raw_input() is deprecated in Python 3. Here we will discuss about the <em>input()</em> function.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

The Python input() function is used to read data from a standard input such as a keyboard and treats the received data as string. Basically, when we enter digit value, input() in python 3 stores it as string value. So to convert string value to integer value, we will use int() function just as shown below.

In [118]:
age = int(input("Please enter your age: "))
print(age)
type(age)

Please enter your age:  25

25

int

In [119]:
name = input("Please enter your name: ")
print(name)
type(name)

Please enter your name:  mkt

mkt

str

When <em>input()</em> function executes program flow will be stopped until the user has given an input. The message displayed on the output screen to ask a user to enter input value is optional i.e. the prompt, will be printed on the screen is optional.
Whatever you enter as input, input function convert it into a string. If you enter an integer value still input() function convert it into a string. You need to explicitly convert it into an integer in your code using typecasting.

<a id="oper"> </a>
## 6. Python Operators


<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.<br>
                        <br>Python Operator falls into following categories:
                        <br>1. Arithmetic Operator
                        <br>2. Comparison Operator
                        <br>3. Assignment Operator
                        <br>4. Logical Operator
                        <br>5. Membership Operator
                        <br>6. Bitwise Operator
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<a id="arith"> </a>
### 6.1. Arithmetic Operator
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [120]:
a = 12
b = 2
# '+' Operator
print('a + b =',a+b)                  # Prints addition of a and b

# '-' Operator
print('a - b =',a-b)                  # Prints subtraction of  a and b

# '*' Operator
print('a * b =',a*b)                  # Prints multiplication of  a and b

# '%' Operator
print('a % b =',a%b)                  # Prints remainder of division between a and b

# '/' Operator
print('a / b =',a/b)                  # Prints division of  a and b

# '//' Operator
print('a // b =',a//b)                # Prints the interger value of the division between a and b 

# '**' Operator
print('a ** b =',a**b)                # Prints the result of a to the power b

a + b = 14
a - b = 10
a * b = 24
a % b = 0
a / b = 6.0
a // b = 6
a ** b = 144

<a id="comp"> </a>
### 6.2. Comparison Operator
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [121]:
a = 10
b = 20

# '>' Operator
print('a > b  is',a>b)                 # Prints False since a is smaller than b

# '<' Operator
print('a < b  is',a<b)                 # Prints True since a is smaller than b

# '==' Operator
print('a == b  is',a==b)                 # Prints False since a and b are not equal

# '!=' Operator
print('a != b  is',a!=b)                 # Prints True since a is not equal to b

# '>=' Operator
print('a >= b  is',a>=b)                 # Prints False since a is not smaller nor equal to b

# '<= y' Operator
print('a <= b  is',a<=b)                 # Prints True since a is smaller than b

a > b  is False
a < b  is True
a == b  is False
a != b  is True
a >= b  is False
a <= b  is True

<a id="assign"> </a>
### 6.3. Assignment Operator
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

In [122]:
# '=' Operator
x = 5                                 # Assigns the value to the variable on the left
print("x = ", x)

# '+=' Operator                 
x += 5 
print("Updated value of x after (x += 5) is", x)     # Adds the values on either side and assigns it to the expression on the left. x+=5 is the same as x=x+5.

# '-=' Operator
x -=2
print("Updated value of x after (x -=2) is", x)     # Subtracts 2 from the latest value of x and assigns it to x(which is 10).

# '*=' Operator
x *= 2
print("Updated value of x after (x *= 2) is", x)     # Multiplies the current value of x with 2 and assigns the result to the same variable

# '/=' Operator
x /= 4 
print('Updated value of x after (x /= 2) is', x)     # Divides the current value of x with 4 and assigns the result to the same variable

x =  5
Updated value of x after (x += 5) is 10
Updated value of x after (x -=2) is 8
Updated value of x after (x *= 2) is 16
Updated value of x after (x /= 2) is 4.0

<em>i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)</em>

<a id="logic"> </a>
### 6.4. Logical Operators
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator â€“ **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [123]:
x = 11
a = x>10 and x<20
print(a)

True

Here both the conditions are satisfied. Therefore we have True as the output.

In [124]:
x = 11
a = x>10 and x==12
print(a)

False

Here one of the condition is not satisfied. Therefore we have False as the output.

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [125]:
x = 11
a = x>10 or x==20
print(a)

True

Here one of the condition is satisfied. Therefore we have True as the output.

In [126]:
x = 11
a = x>12 or x==20
print(a)

False

None of the above condition is True. Therefore we have False as the output

#### 'not' Operator
It converts True to False, and False to True. So, basically, <em>not</em> inverts the Boolean value of an expression

In [127]:
x = 11
a = x>12 or x==20
print(not a)

True

Since both the conditions are false in the above code, False is stored in <em>a</em> and finally the not operator inverts False to True

<a id="member"> </a>
### 6.5. Membership Operator

Membership operators tests whether a value is a member of a sequence. The sequence may be a list, a string, a tuple, or a dictionary. <br>
<br><em>in</em> and <em>not in</em> are the membership operators in Python. The output is in terms of True or False.

In [128]:
# String
a = 'Great Learning'

# Output: True
print('L' in a)

# Output: False
print('O' in a)

True
False

<a id="bitwise"> </a>
### 6.6. Bitwise Operator

These operators perform bit by bit operations on the operands.

In [129]:
a = 10
b = 7

# Bitwise and(&) operator
print(a & b)              # binary for 10 is 1010 and binary for 7 is 111. If we & each bit we get 0010. which is 2

# Bitwise or(|) operator
print(a | b)              # binary for 10 is 1010 and binary for 7 is 111. If we | each bit we get 1111, which is 15

# Bitwise xor(^) operator
print(a^b)                # binary for 10 is 1010 and binary for 7 is 111. If we ~ each bit we get 1101, which is 13

# Bitwise Oneâ€™s Complement(~) operator. Python One's complement of a number â€˜Aâ€™ is equal to -(A+1)
print(~a)                 # binary for 10 is 1010. One's complement for 1010 is -(1010+1) --> -(1011), which is -11

# Bitwise left shift(<<) operator 
print(a<<2)               # binary for 10 is 1010 and <<2 will convert 1010 to 101000 which is 40

# Bitwise left shift(<<) operator 
print(a>>2)               # binary for 10 is 1010 and >>2 will convert 1010 to 10 which is 2

2
15
13
-11
40
2

## String Functions

<font color="blue">1. Split :</font> <br>The split() method splits a string into a list.
It splits the <font color="red">string into substrings </font>if it finds instances of the separator

In [130]:
ms = 'world_health-org'
x = ms.split(sep='or',maxsplit=1)
print(x)
print(type(x))

['w', 'ld_health-org']
<class 'list'>

<font color="blue"> 2. Replace:</font><br>The replace() method replaces a string with another string:

In [131]:
a='great learning'
a.replace('e','*')

'gr*at l*arning'


<font color="blue"> 3. Join:
    
The join() function takes all items in an iterable and joins them into one string. We have to specify a  string as the separator.

In [132]:
s=['great','learning','bangalore']
'*'.join(s)

'great*learning*bangalore'


<font color="blue"> 4. find:
    
The find() function finds the first occurrence of the specified value.  It returns -1 if the value is not found in that string.

The find() function is almost the same as the index() function, but the only difference is that the index() function raises an exception if the value is not found.

In [133]:
s="python programming"
s.find('m')

13


<font color="blue"> 5.count( )
    
The count() function finds the number of times a specified value(given by the user) appears in the given string.

In [134]:
s.count('m')

2

In [135]:
###############################################################################################################################

<a id="pfc"> </a>
## 7. Python flow control
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>A programâ€™s control flow is the order in which the programâ€™s code executes. The control flow of a Python program is regulated by: <br>
                        <br>1. Conditional Statements
                        <br>2. Loops, and 
                        <br>3. Function Calls
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<td width="15%">
            <img src="control.png">
</td>

The **selection** structure tests a condition, then executes one sequence of statements instead of another, depending on whether the condition is true or false. A condition is any variable or expression that returns a BOOLEAN value (TRUE or FALSE).<br><br>
The **iteration** structure executes a sequence of statements repeatedly as long as a condition holds true.<br><br>
The **sequence** structure simply executes a sequence of statements in the order in which they occur.<br><br>

<a id="condition"> </a>
### 7.1. The if- statement
You might want to execute some statements only if some condition holds, or choose statements to execute depending on several mutually exclusive conditions. The Python compound statement if, which uses if, elif, and else clauses, lets you conditionally execute blocks of statements.

#### Syntax:
<em>if test_expression1:
<br> &emsp;&emsp;statement(s)</br>
<br>elif test_expression2:
<br>&emsp;&emsp;    statement(s)
<br>elif test_expression3:
<br>&emsp;&emsp;    statement(s)
<br>.
<br>.
<br>.
<br>else:
 <br>&emsp;&emsp;   statement(s)

In [136]:
x = 5
if x < 0: 
    print ("x is negative")
elif x % 2: 
    print ("x is positive and odd")
else: 
    print ("x is even and non-negative")

x is positive and odd

<a id="while"> </a>
### 7.2. The while- Loop
A while loop is a control flow statement that allows code to be executed repeatedly based on a given Boolean condition. The while loop can be thought of as a repeating if statement.

#### Syntax:
<em>while test_expression:
<br> &emsp;&emsp;statement(s)
</em>
<br><br>First, test_expression, which is known as the loop condition, is evaluated. If the condition is false, the while statement ends. If the loop condition is satisfied, the statement or statements that comprise the loop body are executed. When the loop body finishes executing, the loop condition is evaluated again, to see if another iteration should be performed. This process continues until the loop condition is false, at which point the while statement ends.

In [137]:
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 55

<a id="for"> </a>
### 7.3. The for- Loop
The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

#### Syntax:
<em>for iterator in sequence:
<br> &emsp;&emsp;statement(s)
</em>

In [138]:
string = "I love Python "
for i in string:
    print(i)

I

l
o
v
e

P
y
t
h
o
n

#### The range() function

We can generate a sequence of numbers using <em>range()</em> function. <em>range(10)</em> will generate numbers from 0 to 9 (10 numbers). We can also define the start, stop and step size as range(start,stop,step size). step size defaults to 1 if not provided. 
<br><br>
This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.<br>

In [139]:
range(0, 10)

range(0, 10)

We can use the <em>range()</em> function in for loops to iterate through a sequence of numbers. It can be combined with the <em>len()</em> function to iterate though a sequence using indexing.

In [140]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [141]:
string = "Python Programming"

# iterate over the string using index
for i in range(len(string)):
    print(string[i])

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

<a id="pseudo"> </a>
## 8. Pseudocode
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>Before you write a piece of computer code, you have to know what the program is supposed to do. It is a good idea to write it in a simple way first to ensure you have included everything you need. The best way to set this up is by using pseudocode. <br>
                    <br><br>Pseudocode is a simple way of writing programming code in English. It is not actual programming language. It uses short phrases to write code for programs before you actually create it in a specific language. Once you know what the program is about and how it will function, then you can use pseudocode to create statements to achieve the required results for your program.<br>
                        
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Pseudocode to create a program to add 2 numbers together and display the result.<br>**
<em>
<br>Read two numbers, A, B from user 
<br>Add the numbers in variable A and B
<br>Print Sum<br>
</em>

Pseudocode can be written how you want. But some companies use specific pseudocode rules to keep everyone in the company on the same page.

**Pseudocode to create a program to check if a student has cleared the exam or not.<br>**
<em>
<br>Take students grade from the user 
<br>If student's grade is greater than or equal to 60, print "pass"
<br>Otherwise print "fail"<br>
</em>

**Pseudocode to create a program to print the average marks of ten students**

<em>
<br>Set total to zero 
<br>Set grade counter to one
<br>While grade counter is less than or equal to ten
<br>&emsp;&emsp;Input the next grade
<br>&emsp;&emsp;Add the grade into the total
<br>Set the class average to the total divided by ten
<br>Print the class average.


</em>

<a id="list"> </a>
## 9. Introduction to List
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>The list is a type which holds some other objects, in a given order.<br>
                    The list type implements the sequence protocol, and also allows you to add and remove elements from the sequence.<br>
                    The list is nothing but a set of values, we can use the index in square bracket [ ] to identify an value belonging to the list.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Constructing Lists

To create a list, use square brackets [] and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

In [142]:
# create a empty list
empty_list = []
empty_list

[]

You can also use the built-in list type object to create lists

In [143]:
# empty list
empty_list = list()
empty_list

[]

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Note that python creates a single new list every time you execute the [] expression
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [144]:
list_1 = list_2 = [] # both names will point to the same list

list_1 = []
list_1 = list_2 # both names will point to the same list

list_1 = []; list_2 = [] # independent lists

**Note : A list can also hold another list as an item, these are called nested lists**

In [145]:
# nested list
my_list = [['Data Science','Machine Learning'],[135,232,321]]
my_list

[['Data Science', 'Machine Learning'], [135, 232, 321]]

### Acessing Elements in a List
You can access the list items by referring to the index number

**Indexing:**<br>
We use the index operator [ ]. Each item in a list has an assigned index value. Note that the index starts from 0 in python and must be an integer

Print the second item of the list

In [146]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index 1
print(course[1])

machine learning

**Negative Indexing**:<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item

Print the second last item of the list

In [147]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index -2
print(course[-2])

html

**Length of List:**<br>
len() function help us in returning the total number of elements in a list

In [148]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the length of the list
len(course)

5

### Slicing of a List
List uses the slicing operator : (colon) to extract part of the sequence

Return first three elements from the list

In [149]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first three element from the list
course[:3]

['data science', 'machine learning', 'python']

Return last three elements from the list

In [150]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print last three element from the list
course[2:]

['python', 'html', 'big data']

Select elements from beginning to end

In [151]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the all elements
course[:]

['data science', 'machine learning', 'python', 'html', 'big data']

Select first four elements

In [152]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first four elements
course[0:4]

['data science', 'machine learning', 'python', 'html']

If all three start , stop, and step are provided, it generates portion of sequence after index start till stop with increment of index step

In [153]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

In [154]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[7:0:-2])

[8, 6, 4, 2]

### Change Item Value
Refer the index number to change the value of a specific item

In [155]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# change the third item
course[3] = 'statistics'

course

['data science', 'machine learning', 'python', 'statistics', 'big data']

### List Methods
Python has a set of built-in methods that you can use on lists and arrays

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Python does not have built-in support for arrays, but python lists can be used rather than arrays
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Python has built-in methods that you can use on list:<br>
append()<br>
insert()<br>
extend()<br>
del <br>
remove()<br>
pop()<br>
reverse()<br>

**list.append(item)**<br>
The method list.append(item) will add the element at the end of a list

In [156]:
# define a list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course2 = ['statistics']

# add element to the list
course1.append(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

**list.insert(i, item)**<br>
This method will insert an element at the ith index in a list

In [157]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# insert element at 2nd index in a list
course.insert(2, 'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

**list.extend(items)**<br>
The extend method concatenates lists

In [158]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data']

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1.extend(course2)

course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Deleting List Elements**<br>
Use the del keywords to delete an item at specific index

In [159]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete the third element from the list
del course[2]

# print the output
course

['data science', 'machine learning', 'html', 'big data']

In [160]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete multiple items from the list
del course[0:2]

# print the output
course

['python', 'html', 'big data']

**list.remove(item)**<br>
It will search and remove only the first occurrence of an item

In [161]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.remove('html')

course

['data science', 'machine learning', 'python', 'big data', 'html']

**list.pop()**<br>
Removes and returns the last item of a list

In [162]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.pop()

'html'

**list.reverse()**<br>
The reverse() method reverses the sorting order of the elements

In [163]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.reverse()

course

['html', 'big data', 'html', 'python', 'machine learning', 'data science']

### Common List Operations

**Concatenation(+)**<br>
Concatenation uses the + Operator. It combines lists

In [164]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1 + course2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Repetition(*)**<br>
Uses the * Operator. Concatenates a list a repeated number of times

In [165]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course1*2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'data science',
 'machine learning',
 'python',
 'html',
 'big data']

<a id="tuple"> </a>
## 10. Introduction to Tuple
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A tuple is a collection which is ordered and unchangeable.<br>
                    In python tuples are written with round brackets.<br>
                    Iterating over the elements of a tuple is faster compared to iterating over a list.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Creating Tuple
Here, we are creating few tuples. We can have tuple of same type of data items as well as mixed type of data items

In [166]:
# tuple of strings
my_tuple = ("hello", "python", "hello", "world")
print(my_tuple)

('hello', 'python', 'hello', 'world')

In [167]:
# tuple of int, float, string
my_tuple = (123, 2.228, "hello python")
print(my_tuple)

(123, 2.228, 'hello python')

In [168]:
# tuple of string and list
my_tuple = ("python", [12, 12, 31])
print(my_tuple)

('python', [12, 12, 31])

In [169]:
# tuples inside another tuple
# nested tuple
my_tuple = ((2546, 332, 421), ("python", 63.1, "hi"))
print(my_tuple)

((2546, 332, 421), ('python', 63.1, 'hi'))

### Access Tuple Elements
We use indexes to access the elements of a tuple

In [170]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# access the second element from the list
my_tuple[1]

'yellow'

**Negetive Indexing**<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item of the tuple

In [171]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# print last item of the tuple
my_tuple[-1]

'blue'

**Range of Indexes**<br>
You can specify a range of indexes by specifying where to start and where to end the range.
When specifying a range, the return value will be a new tuple with the specified items

In [172]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# return fourth and fifth element from the list
my_tuple[3:5]

('blue', 353)

**Range of Negative Indexes**<br>
Specify negative indexes if you want to start the search from the end of the tuple

In [173]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# return the items from index -3 (included) to index -1 (excluded)
my_tuple[-3:-1]

(353, 363.2)

### Change Tuple Values
We cannot change the elements of a tuple because elements of tuple are immutable. However we can change the elements of nested items that are mutable

In [174]:
my_tuple = (123, ['s', 'a', 'v'], "World")
print(my_tuple)

# changing the element of the list 
# this is valid because list is mutable
my_tuple[1][2] = 99
print(my_tuple)

(123, ['s', 'a', 'v'], 'World')
(123, ['s', 'a', 99], 'World')

In [175]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# changing the element of tuple
# This is not valid since tuple elements are immutable
my_tuple[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

### Delete Operation on Tuple
We already discussed above that tuple elements are immutable which also means that we cannot delete the elements of a tuple. However deleting entire tuple is possible

In [176]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [195]:
# deleting entire tuple is possible
del my_tuple

print(my_tuple)

NameError: name 'my_tuple' is not defined

### Tuple Methods

Python has two built-in methods that you can use on tuples:<br>
count()<br>
index()<br>
sorted()

**count()**<br>
Returns the number of times a specified value occurs in a tuple

In [215]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.count('e')

4

**index()**<br>
Searches the tuple for a specified value and returns the position of where it was found

In [216]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.index('l')

3

**sorted()**<br>
It sorts a tuple and always returns a list with the elements in a sorted manner

In [217]:
my_tuple = (2,3,5,6,4,7,8,9,9,2,3)
sorted(my_tuple)

[2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9]

<a id="dictionary"> </a>
## 11. Introduction to Dictionary
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Python dictionary is an unordered collection of items.<br>
                    Dictionaries map keys to values and these key-value pairs provide a useful way to store data in python.<br>
                    
                    
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Gerneral Syntax of Dictionary:**<br>
dictionary_name = {&nbsp;key_1: value_1,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   key_2: value_2,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    key_3: value_3,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    }

### Create Dictionary
Separate keys from values with a colon(:), and a pair from another by a comma(,). Put it all in curly braces

In [218]:
# create dictionary
balance = {
    "Mia" : 83847,
    "John" : 83837,
    "Jill" : 94766
}
print(balance)

{'Mia': 83847, 'John': 83837, 'Jill': 94766}

### Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets

In [219]:
# Get the value of "Mia" key
x = balance["Mia"]
x

83847

We can use get method to get the value of "Mia" key

In [220]:
x = balance.get("Mia")
x

83847

### Change Values
You can change the value of a specific element by referring to its key name

In [221]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [222]:
# Change the sales figure for 2015
year_sales[2015] = 45000

year_sales

{2015: 45000, 2016: 34300, 2017: 40000}

**Dictionary Length**

In [223]:
# print the length of dictionary
print(len(year_sales))

3

**Adding Items**<br>
Adding an item to the dictionary is done by using a new index key and assigning a value to it

In [224]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales['2018'] = 55000

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, '2018': 55000}

### Dictionary Method

**Removing Items**<br>
There are several methods to remove items from a dictionary:<br>
pop() method<br>
popitem() method<br>
del keywords<br>
clear keyword

**pop()**<br>
The pop() method removes the item with the specified key name

In [225]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

**popitem()**<br>
The popitem() method removes the last inserted item

In [226]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove last item from the dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

**del keywords**<br>
The del keyword removes the item with the specified key name

In [227]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# delete item from the dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

**clear()**<br>
The clear() keyword empties the dictionary

In [228]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# clear the dictionary
year_sales.clear()

year_sales

{}

**Copy()**<br>
You cannot copy a dictionary simply by typing dict2 = dict1, because dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2<br>
You can use copy() method to make copy of dictionary

In [229]:
# create a dictionary
year_sales1 = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# make a copy of dictionary
copy_dict = year_sales.copy()

**sorted()**<br>
Return a new sorted list of keys in the dictionary

In [230]:
Square = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
sorted(Square)

[1, 3, 5, 7, 9]

**update()**<br>
We can also add and modify dictionaries by using the dict.update() method

In [231]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

<a id="sets"> </a>
## 12. Introduction to Sets
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A set is a collection of unique elements.<br> 
                    A common use is to eliminate duplicate elements from a list.<br>
                    In addition, it supports set operations like union intersection and difference.                    
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Creating Set
In Python sets are written with curly brackets

In [232]:
# create a set
s = {1, 2, 3, 3, 4, 3, 3, 2, 2, 2}
print (s)

# create a set
set([1, 2, 3, 4])

{1, 2, 3, 4}

{1, 2, 3, 4}

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Notice that the set contains unique elements only even though we put duplicates into it
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

A set need not contain elements of the same type

In [233]:
# create a set
my_set = {12, 12, 'python', 4, 'world'}

# print
my_set

{12, 4, 'python', 'world'}

Python has the following methods that you can use on sets:<br>
add()<br>
update()<br>
len()<br>
remove()<br>
pop()<br>

### Change Items
Once a set is created, you cannot change its items, but you can add new items

**Add Items**<br>
Use add() method to add one item to a set<br>
Use update() method to add more than one item

In [234]:
# create a set
my_set = {'python','world'}

# add element
my_set.add("hi")

my_set

{'hi', 'python', 'world'}

Add multiple items to a set

In [235]:
# create a set
my_set = {'python','world'}

# update the set
my_set.update(['data science', 'machine learning'])

my_set

{'data science', 'machine learning', 'python', 'world'}

**Length of Set**

In [236]:
# create a set
my_set = {'python','world'}

# print the length of set
len(my_set)

2

**remove() method**<br>
Use remove() or discard() method to remove an item in a set

In [237]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove element from list 
my_set.remove('data science')

my_set

{'machine learning', 'python', 'world'}

**pop() method**<br>
This method removes a random element from the set and returns the removed element

In [238]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove random element from set 
my_set.pop()

'machine learning'

In [239]:
# create a set
my_set1 = {1,2,3,"data", "science"}

# remove random element from set
my_set1.pop()

1

### Set Operations

**Disjoint set**<br>
A set is disjoint with another set if the two sets have no common elements

In [240]:
print (set([0, 1, 2, 3, 4]).isdisjoint(set([8, 1])))

False

**Checking for subset**<br>
Check whether all elements of a set are contained in another set using the issubset() method

In [241]:
# Determine whether one set is a subset of the other
a = set([1, 3, 4, 5])
b = set([1, 3, 4, 5])
print('issubset', a.issubset(b))

issubset True

**Set Union**<br>
Compute the union of two or more sets using the union() method

In [242]:
a = set([1, 2, 3])
b = set([3, 4, 5, 6])
print (a.union(b))

{1, 2, 3, 4, 5, 6}

**Set Interaction**<br>
Use interaction() method to find the common the elements

In [243]:
a = set([12,34,56,78])
b = set([12,45,67,89,78])
c = set([12,34,56,78,56])
print (a & b)
print (a & b & c)

{12, 78}
{12, 78}

**Set Difference**<br>
Set difference returns a new set containing all elements in the argument set that are not in the other sets