In [55]:
import numpy as np
import pandas as pd

In [2]:
a=pd.Series(np.arange(1,10),index=np.arange(100,109))
a

100    1
101    2
102    3
103    4
104    5
105    6
106    7
107    8
108    9
dtype: int64

In [3]:
a[100]

np.int64(1)

In [4]:
a[100:104]

Series([], dtype: int64)

In [5]:
a[[100,101]]

100    1
101    2
dtype: int64

In [6]:
a[:3]

100    1
101    2
102    3
dtype: int64

In [7]:
a[::2]

100    1
102    3
104    5
106    7
108    9
dtype: int64

In [8]:
a>2

100    False
101    False
102     True
103     True
104     True
105     True
106     True
107     True
108     True
dtype: bool

In [9]:
a[a > 2]
# Replace all values greater than 3 with 99
a[a > 3] = 99

In [10]:
a.replace(3, 30, inplace=True) #it goes ahead and replaced values in a else it will not do it in a

In [11]:
a
a.replace({2: 20, 4: 40}, inplace=True) #You can replace multiple values by passing a dictionary:

In [12]:
# fillna(),isnull.sum,notnull.sum

# The .isnull().sum() combination in Pandas is used to count the number of missing (null/NaN) values in each column of a DataFrame. Hereâ€™s how it works:

# isnull(): Checks each element for missing values, returning True for nulls and False for non-nulls.
# sum(): Sums up the True values in each column (since True is treated as 1 and False as 0), giving the count of missing values per column.
# Sample DataFrame with some missing values
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [24, None, 35, 40],
    'City': ['New York', None, 'Los Angeles', 'Chicago']
})

# Count missing values in each column
missing_values_count = df.isnull().sum()
notnull_values_count = df.notnull().sum()
print(missing_values_count)
print('********ðŸš€')
print(notnull_values_count)

Name    1
Age     1
City    1
dtype: int64
********ðŸš€
Name    3
Age     3
City    3
dtype: int64

In [13]:
# The .fillna() method in Pandas is used to replace missing (null/NaN) values with a specified value. 
# This can be useful for handling missing data by filling gaps with meaningful values.
# Fill missing values in all columns with a specified value
df_filled = df.fillna("Unknown")

print(df_filled)

      Name      Age         City
0    Alice     24.0     New York
1      Bob  Unknown      Unknown
2  Unknown     35.0  Los Angeles
3    David     40.0      Chicago

In [14]:
# Fill missing values with different values for each column
df_filled = df.fillna({'Name': 'Unknown', 'Age': df['Age'].mean(), 'City': 'Unknown'})

print(df_filled)

      Name   Age         City
0    Alice  24.0     New York
1      Bob  33.0      Unknown
2  Unknown  35.0  Los Angeles
3    David  40.0      Chicago

In [15]:
df['Age']

0    24.0
1     NaN
2    35.0
3    40.0
Name: Age, dtype: float64

In [16]:
df

    Name   Age         City
0  Alice  24.0     New York
1    Bob   NaN         None
2   None  35.0  Los Angeles
3  David  40.0      Chicago

In [17]:
# In-Place Filling
# If you want to modify the DataFrame directly without creating a new one, set inplace=True:
df.fillna("NA", inplace=True)

C:\Users\11040026\AppData\Local\Temp\ipykernel_23180\2381213229.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("NA", inplace=True)

In [18]:
df

    Name   Age         City
0  Alice  24.0     New York
1    Bob    NA           NA
2     NA  35.0  Los Angeles
3  David  40.0      Chicago

In [19]:
ser1=pd.Series(np.arange(11,20))
ser1

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [20]:
ser1.rename({1:'A'},inplace=True)

In [21]:
ser1
# Renaming all index labels
ser1.rename({1: 'A', 2: 'B', 3: 'C'}, inplace=True)

print(ser1)

0    11
A    12
B    13
C    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [22]:
ser_reindexed = ser1.reindex([0,'A','B','C',5,6,7,8])

print(ser_reindexed)

0    11
A    12
B    13
C    14
5    16
6    17
7    18
8    19
dtype: int64

In [23]:
df=pd.DataFrame(np.arange(1,26).reshape(5,5),index=list('ABCDE'),columns=list('UVWXY'),dtype='float')

In [24]:
df

      U     V     W     X     Y
A   1.0   2.0   3.0   4.0   5.0
B   6.0   7.0   8.0   9.0  10.0
C  11.0  12.0  13.0  14.0  15.0
D  16.0  17.0  18.0  19.0  20.0
E  21.0  22.0  23.0  24.0  25.0

In [25]:
# Renaming all index labels
df.rename({'A': 'India', 'B': 'USA'}, inplace=True)
df.rename({'U': 'U2', 'v2': 'V2'}, inplace=True, axis=1)# to change column name
df

         U2     V     W     X     Y
India   1.0   2.0   3.0   4.0   5.0
USA     6.0   7.0   8.0   9.0  10.0
C      11.0  12.0  13.0  14.0  15.0
D      16.0  17.0  18.0  19.0  20.0
E      21.0  22.0  23.0  24.0  25.0

In [26]:
df_drop=df.drop('U2',axis=1)
print(df_drop)
df_drop=df.drop('E',axis=0)
print(df_drop)

          V     W     X     Y
India   2.0   3.0   4.0   5.0
USA     7.0   8.0   9.0  10.0
C      12.0  13.0  14.0  15.0
D      17.0  18.0  19.0  20.0
E      22.0  23.0  24.0  25.0
         U2     V     W     X     Y
India   1.0   2.0   3.0   4.0   5.0
USA     6.0   7.0   8.0   9.0  10.0
C      11.0  12.0  13.0  14.0  15.0
D      16.0  17.0  18.0  19.0  20.0

In [27]:
df_drop
df_drop.drop('D',inplace=True)
print(df_drop)

         U2     V     W     X     Y
India   1.0   2.0   3.0   4.0   5.0
USA     6.0   7.0   8.0   9.0  10.0
C      11.0  12.0  13.0  14.0  15.0

In [28]:
df_drop.drop(['U2','V2'],inplace=True,axis=1)

KeyError: "['V2'] not found in axis"

In [ ]:
print(df_drop)

In [ ]:
"""1. .rename()
Purpose: Changes index or column labels in a DataFrame or Series. It does not affect the actual data values, only the labels.

Usage: Used to rename specific row or column labels by passing a dictionary mapping old labels to new ones.
In-place: Can be used with inplace=True to modify the original object.

2. .replace()
Purpose: Replaces data values within a DataFrame or Series (not the labels). It is used to substitute specific values in the data with new values.

Usage: Useful for modifying the contents of cells, not the labels. You provide a dictionary or a scalar to specify which values should be replaced.
In-place: Can be used with inplace=True to modify the original object

3. .reindex()
Purpose: Changes the index of a DataFrame or Series to match a specified list of labels. Any indices in the new
list that were not in the original object will be added with NaN values by default. Itâ€™s typically used to add or remove rows or columns.
Note:no inplace option
Usage: Allows you to reorder, add, or remove rows or columns by specifying a new index.
In-place: Cannot modify the object in place; .reindex() always returns a new object.
"""

In [115]:
# Sample Series
ser = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

# Rename index labels 'a' and 'c' to 'x' and 'z' respectively
ser.rename({'a': 'x', 'c': 'z'}, inplace=True)

print(ser)
# Replace value 20 with 200 in the Series
ser.replace(20, 200, inplace=True)

print(ser)
# Reindex the Series to have a new index
ser_reindexed = ser.reindex(['x', 'y', 'z'])

print(ser_reindexed)

x    10
b    20
z    30
dtype: int64
x     10
b    200
z     30
dtype: int64
x    10.0
y     NaN
z    30.0
dtype: float64

In [117]:
df.shape

(5, 5)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, India to E
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   U2      5 non-null      float64
 1   V       5 non-null      float64
 2   W       5 non-null      float64
 3   X       5 non-null      float64
 4   Y       5 non-null      float64
dtypes: float64(5)
memory usage: 412.0+ bytes

In [121]:
df.describe()

              U2          V          W          X          Y
count   5.000000   5.000000   5.000000   5.000000   5.000000
mean   11.000000  12.000000  13.000000  14.000000  15.000000
std     7.905694   7.905694   7.905694   7.905694   7.905694
min     1.000000   2.000000   3.000000   4.000000   5.000000
25%     6.000000   7.000000   8.000000   9.000000  10.000000
50%    11.000000  12.000000  13.000000  14.000000  15.000000
75%    16.000000  17.000000  18.000000  19.000000  20.000000
max    21.000000  22.000000  23.000000  24.000000  25.000000

In [ ]:
ser11=pd.Series([101,102,103,104,105])

In [ ]:
ser11

In [ ]:
# DataFrame.insert(loc, column, value, allow_duplicates=False)

In [ ]:
df[:]

In [ ]:
# loc[] function selects data by the label of the rows and column
# iloc[] function allowsus to retrieve rowsand columns bypositionExample: 
# Access the value that is at index 0 incolumn â€˜Nameâ€™

In [30]:
df2=pd.DataFrame( {'Students':['Ram','Laxmam','Mohan','Matthew','Rosy','Abdul','Jasbir','Anil','Ramya','Raju'],
 'Marks1':[55,45,37,88,77,66,77,45,98,99],
 'Marks2':[45,54,76,85,74,64,74,75,95,98]}
,index=list('ABCDEFGHIJ'))

In [31]:
df2

  Students  Marks1  Marks2
A      Ram      55      45
B   Laxmam      45      54
C    Mohan      37      76
D  Matthew      88      85
E     Rosy      77      74
F    Abdul      66      64
G   Jasbir      77      74
H     Anil      45      75
I    Ramya      98      95
J     Raju      99      98

In [32]:
df2[:] # all rows

  Students  Marks1  Marks2
A      Ram      55      45
B   Laxmam      45      54
C    Mohan      37      76
D  Matthew      88      85
E     Rosy      77      74
F    Abdul      66      64
G   Jasbir      77      74
H     Anil      45      75
I    Ramya      98      95
J     Raju      99      98

In [33]:
df2[2:5] #inclusive 5

  Students  Marks1  Marks2
C    Mohan      37      76
D  Matthew      88      85
E     Rosy      77      74

In [34]:
df2[2:8:2]

  Students  Marks1  Marks2
C    Mohan      37      76
E     Rosy      77      74
G   Jasbir      77      74

In [133]:
# we will not be able to retrieve if we do this -column
df2[1,2]
"""For DataFrames:

Single argument inside []:

If you pass a label or list of labels, it is interpreted as a column selection.
If you pass a slice (e.g., 2:5), it is interpreted as a row selection by integer position."""
df2['Marks1']           # Selects the column 'Marks1'
df2[['Marks1', 'Marks2']]  # Selects multiple columns
df2[2:5]                # Selects rows 2 to 4 by position (integer slicing)
"""
Why does df2[2:5] work?

When you provide a slice, Pandas assumes you're slicing rows. This is a special case and works because
Pandas treats it as shorthand for df2.iloc[2:5]."""
"""For Series:

Single argument inside []:
If you provide a label, it selects the value at that label.
If you provide a slice, it slices by label if the Series has a labeled index.
If the index is numeric, it slices by position."""
s[2]      # Selects the value at index label 2
s[2:5]    # Slices values by index labels (or by position if the index is numeric and consecutive)

KeyError: (1, 2)

In [35]:
df2[['Students','Marks1']]

  Students  Marks1
A      Ram      55
B   Laxmam      45
C    Mohan      37
D  Matthew      88
E     Rosy      77
F    Abdul      66
G   Jasbir      77
H     Anil      45
I    Ramya      98
J     Raju      99

In [36]:
df2.loc['A']

Students    Ram
Marks1       55
Marks2       45
Name: A, dtype: object

In [37]:
df2.loc['A':'C']

  Students  Marks1  Marks2
A      Ram      55      45
B   Laxmam      45      54
C    Mohan      37      76

In [38]:
df2.loc['A':'C','Marks1'] # A and C and Marks 1 column

A    55
B    45
C    37
Name: Marks1, dtype: int64

In [39]:
df2.loc['A':'C','Students']

A       Ram
B    Laxmam
C     Mohan
Name: Students, dtype: object

In [40]:
df2[['A','B','C']]

KeyError: "None of [Index(['A', 'B', 'C'], dtype='object')] are in the [columns]"

In [41]:
df2.loc[['A','B','C']]

  Students  Marks1  Marks2
A      Ram      55      45
B   Laxmam      45      54
C    Mohan      37      76

In [42]:
df2.loc[::3,'Students':'Marks1']

  Students  Marks1
A      Ram      55
D  Matthew      88
G   Jasbir      77
J     Raju      99

In [43]:
df2.loc[::3,:'Marks1'] #every 3rd row and upto marks column

  Students  Marks1
A      Ram      55
D  Matthew      88
G   Jasbir      77
J     Raju      99

In [44]:
df2.loc['A'::3]

  Students  Marks1  Marks2
A      Ram      55      45
D  Matthew      88      85
G   Jasbir      77      74
J     Raju      99      98

In [45]:
df2.iloc[1:5:2,::2]

  Students  Marks2
B   Laxmam      54
D  Matthew      85

In [ ]:
df2.iloc[::2,::2]

In [ ]:
res=pd.Series(list('FFPPPPPPPP'),index=df2.index)
print(res)

In [ ]:
res

In [ ]:
df2['New Column']=res
print(df2)

In [ ]:
df2[df2['Marks1']>45]

In [ ]:
df2[(df2['Marks1']>50) & (df2['Marks2']<80)]

In [ ]:
# In the context of Pandas Series (and generally with NumPy arrays), 
# the & operator is performing a bitwise AND operation,
# but it's being used in a logical (element-wise) context when applied to boolean conditions.

# How & Works with Pandas Series
# In Pandas, the & operator is used for element-wise logical AND between two boolean conditions. 
# It works in a similar way to how bitwise operators work on binary numbers,
# but since we are working with boolean conditions (True or False values), it applies logic like this:

# True & True â†’ True
# True & False â†’ False
# False & True â†’ False
# False & False â†’ False
# Why Use & Instead of and
# In Python, and is used for logical operations on single boolean values (not element-wise operations). 
# When you're dealing with Series in Pandas, you need an operator that works on each 
# element of the Series individually. That's why & is used for element-wise logical AND.
# Similarly, you would use | for element-wise logical OR.

# Creating two boolean Series
s1 = pd.Series([True, False, True, False])
s2 = pd.Series([False, True, True, False])

# Element-wise bitwise AND
result = s1 & s2

print(result)

In [ ]:
df2[(df2['Marks1']>50) | (df2['Marks2']<80)]

In [ ]:
 df2[~(df2['Marks1'] > 80)] #the NOT operation for boolean values is performed using the ~ (tilde) operator in Pandas, 
# which is used for element-wise negation of boolean values.

In [ ]:
df2[~((df2['Marks1'] > 80) & (df2['Marks2'] < 80))]

In [ ]:
print(df2)
df2['Rank']=df2['Marks1'].rank()

In [ ]:
df2

In [ ]:
df2['RankAsc']=df2['Marks1'].rank(ascending=False)
df2

In [ ]:
df_sorted = df2.sort_values(by='RankAsc', ascending=True)

print(df_sorted)

In [ ]:
df2['RankDense']=df2['Marks1'].rank(method='dense')
df2

In [ ]:
df2['RankDense']=df2['Marks1'].rank(method='dense')
df2

In [ ]:
df2['RankMax']=df2['Marks1'].rank(method='max')
df2

In [ ]:
df

In [ ]:
df_copy=df.copy()

In [ ]:
df_copy

In [ ]:
df2=df2.drop(['I','J'])
df2_copy=df2.copy()
#df2_dropped = df2.drop(['Marks1', 'Marks2'], axis=1) along columns

In [ ]:
df2_copy

In [ ]:
pd.concat([df2_copy,df2])

In [ ]:
pd.concat([df2_copy,df2],axis=1)

In [ ]:
pd.concat([df,df2],axis=1) #Note if rows and column don't match it will give NaN

In [ ]:
pd.concat([df,df2],axis=0).drop(['RankDense', 'RankMax'], axis=1).drop(['C', 'D'], axis=0)

In [69]:
# In case you want to see what a command does then below is syntax
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

In [62]:
pwd #present working directory

'c:\\Users\\11040026\\Documents\\GitHub\\python-Basics\\101124'

In [63]:
pip  install openpyxl

Requirement already satisfied: openpyxl in c:\users\11040026\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\11040026\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import os 
cwd = os.getcwd() 
print("Current working directory:", cwd) 
print(os.listdir())
dfXlxs=pd.read_excel('Case Routing to Queue.xlsx')
print(dfXlxs.iloc[:]) #all rows
dfXlxs.head(-1) # all rows expect last row
dfXlxs.tail(-1) # all rows expect first row
dfXlxs.columns
dfXlxs.columns.values[0:3]
dfXlxs.index.values

Current working directory: c:\Users\11040026\Documents\GitHub\python-Basics\101124
['10thNovember.ipynb', '2.+Faculty+Notebook', '2.+Faculty+Notebook.zip', 'Case Routing to Queue.xlsx', 'functionsRevision.ipynb', 'session6.pdf', 'trainer session 5 and 6', 'Trainer_Session_5%266_Pandas+Series (1).ipynb']

NameError: name 'pd' is not defined

In [86]:
for i in dfXlxs.index.values[:10]: # Top 10 Index
    print(i,end=';')
lst=[int(x) for x in dfXlxs.index.values[:10]]
print(lst)

0;1;2;3;4;5;6;7;8;9;[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
"""Here's a list of methods for reading different file formats into a Pandas DataFrame:

CSV: pd.read_csv()
Excel: pd.read_excel()
JSON: pd.read_json()
SQL: pd.read_sql()
Parquet: pd.read_parquet()
HDF5: pd.read_hdf()
Feather: pd.read_feather()
Stata: pd.read_stata()
Google BigQuery: read_gbq() (from pandas-gbq library)
Clipboard: pd.read_clipboard()
HTML: pd.read_html()
Text: pd.read_fwf(), pd.read_table()"""

"Here's a list of methods for reading different file formats into a Pandas DataFrame:\n\nCSV: pd.read_csv()\nExcel: pd.read_excel()\nJSON: pd.read_json()\nSQL: pd.read_sql()\nParquet: pd.read_parquet()\nHDF5: pd.read_hdf()\nFeather: pd.read_feather()\nStata: pd.read_stata()\nGoogle BigQuery: read_gbq() (from pandas-gbq library)\nClipboard: pd.read_clipboard()\nHTML: pd.read_html()\nText: pd.read_fwf(), pd.read_table()"

In [66]:
# Specify the file path r in front indicates raw string telling python to
#  interpret without processing escape character like \ etc
file_path = r'D:\Repositories\python-Basics\101124\2.+Faculty+Notebook\2. Faculty Notebook\example.csv'  # Replace with the actual path to your CSV file

# Load the CSV file into a DataFrame
df_file = pd.read_csv(file_path)

# Display the DataFrame
print(df_file)

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Repositories\\python-Basics\\101124\\2.+Faculty+Notebook\\2. Faculty Notebook\\example.csv'

In [ ]:
# Load the CSV file into a DataFrame #present working directory
df_file2 = pd.read_csv('example.csv')

# Display the DataFrame
print(df_file2)

In [ ]:
df_file3 = pd.read_excel('example2.xlsx')

# Display the DataFrame
print(df_file3)

In [ ]:
df = pd.read_fwf('example.txt')

In [ ]:
df

In [ ]:
df = pd.read_excel('example2.xlsx',sheet_name=1)

In [ ]:
df

In [ ]:
df_excel_0 = pd.read_excel('example2.xlsx',sheet_name=0)
df_excel_1  = pd.read_excel('example2.xlsx',sheet_name=1)
print(df_excel_0)
print('ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€')
print(df_excel_1)
print('ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€Default Join')
pd.merge(df_excel_0,df_excel_1,on='Age') #default is inner join

In [ ]:
"""Other Join Types (how argument):
inner (default): Only rows with matching values in both DataFrames will be included.
left: All rows from the left DataFrame and matching rows from the right DataFrame. 
Non-matching rows from the right will have NaN values.
right: All rows from the right DataFrame and matching rows from the left DataFrame. 
Non-matching rows from the left will have NaN values."""

In [ ]:
pd.merge(df_excel_0,df_excel_1,on='Age', how='inner')

In [ ]:
pd.merge(df_excel_0,df_excel_1,on='Age', how='left')

In [ ]:
pd.merge(df_excel_0,df_excel_1,on='Age', how='right')

In [ ]:
pd.merge(df_excel_0, df_excel_1, on='Age', how='outer')
"""Outer Join (how='outer'): Returns all rows from both DataFrames, and fills in missing values with NaN
where there is no match. This is often used when you want to retain all data from both DataFrames,
regardless of whether there is a matching 'Age' in both DataFrames."""

In [87]:
header=pd.MultiIndex.from_product([['Karnataka','Andra'],['Jan','Feburary','March']])
print(header)

MultiIndex([('Karnataka',      'Jan'),
            ('Karnataka', 'Feburary'),
            ('Karnataka',    'March'),
            (    'Andra',      'Jan'),
            (    'Andra', 'Feburary'),
            (    'Andra',    'March')],
           )

In [ ]:
print('Hi')

In [ ]:
header2=pd.MultiIndex.from_product([['Sem1','Sem2'],['Phy','Chem','Maths','Bio']])
print(header2)

In [ ]:
data=pd.DataFrame([[1,2,3,4,5,6],[11,22,33,44,55,66],[22,33,22,11,22,33]],columns=header,index=['A','B','C',])
print(data)

In [ ]:
data2=pd.DataFrame([[1,2,3,4,5,6,7,8],[11,22,33,44,55,66,77,88],[22,33,22,11,22,33,99,101]],columns=header2,index=['A','B','C',])
print(data2)

In [88]:
data2.stack(level=1,future_stack=True)

NameError: name 'data2' is not defined

In [ ]:
data2.stack(level=0,future_stack=True)

In [ ]:
s1=pd.Series(np.arange(1,11))
s2=pd.Series(np.arange(21,31))
s3=pd.concat([s1,s2],keys=['src1','src2'],names=['Source','Index'])
print(s1)
print(s2)
print('ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€')
print(s3)
s3.index

In [ ]:
s3.index

In [ ]:
s3.src1

In [ ]:
print(s3.loc['src1'])