In [2]:
import numpy as np
import pandas as pd

In [3]:
a=pd.Series(np.arange(1,10),index=np.arange(100,109))
a

100    1
101    2
102    3
103    4
104    5
105    6
106    7
107    8
108    9
dtype: int32

In [4]:
a[100]

1

In [5]:
a[100:104]

Series([], dtype: int32)

In [6]:
a[[100,101]]

100    1
101    2
dtype: int32

In [7]:
a[:3]

100    1
101    2
102    3
dtype: int32

In [8]:
a[::2]

100    1
102    3
104    5
106    7
108    9
dtype: int32

In [9]:
a>2

100    False
101    False
102     True
103     True
104     True
105     True
106     True
107     True
108     True
dtype: bool

In [10]:
a[a > 2]
# Replace all values greater than 3 with 99
a[a > 3] = 99

In [11]:
a.replace(3, 30, inplace=True) #it goes ahead and replaced values in a else it will not do it in a

In [12]:
a
a.replace({2: 20, 4: 40}, inplace=True) #You can replace multiple values by passing a dictionary:

In [13]:
# fillna(),isnull.sum,notnull.sum

# The .isnull().sum() combination in Pandas is used to count the number of missing (null/NaN) values in each column of a DataFrame. Hereâ€™s how it works:

# isnull(): Checks each element for missing values, returning True for nulls and False for non-nulls.
# sum(): Sums up the True values in each column (since True is treated as 1 and False as 0), giving the count of missing values per column.
# Sample DataFrame with some missing values
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [24, None, 35, 40],
    'City': ['New York', None, 'Los Angeles', 'Chicago']
})

# Count missing values in each column
missing_values_count = df.isnull().sum()
notnull_values_count = df.notnull().sum()
print(missing_values_count)
print('********ðŸš€')
print(notnull_values_count)

Name    1
Age     1
City    1
dtype: int64
********ðŸš€
Name    3
Age     3
City    3
dtype: int64

In [14]:
# The .fillna() method in Pandas is used to replace missing (null/NaN) values with a specified value. 
# This can be useful for handling missing data by filling gaps with meaningful values.
# Fill missing values in all columns with a specified value
df_filled = df.fillna("Unknown")

print(df_filled)

      Name      Age         City
0    Alice     24.0     New York
1      Bob  Unknown      Unknown
2  Unknown     35.0  Los Angeles
3    David     40.0      Chicago

In [15]:
# Fill missing values with different values for each column
df_filled = df.fillna({'Name': 'Unknown', 'Age': df['Age'].mean(), 'City': 'Unknown'})

print(df_filled)

      Name   Age         City
0    Alice  24.0     New York
1      Bob  33.0      Unknown
2  Unknown  35.0  Los Angeles
3    David  40.0      Chicago

In [16]:
df['Age']

0    24.0
1     NaN
2    35.0
3    40.0
Name: Age, dtype: float64

In [17]:
df

    Name   Age         City
0  Alice  24.0     New York
1    Bob   NaN         None
2   None  35.0  Los Angeles
3  David  40.0      Chicago

In [18]:
# In-Place Filling
# If you want to modify the DataFrame directly without creating a new one, set inplace=True:
df.fillna("NA", inplace=True)

C:\Users\SFDCL\AppData\Local\Temp\ipykernel_12172\2381213229.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("NA", inplace=True)

In [19]:
df

    Name   Age         City
0  Alice  24.0     New York
1    Bob    NA           NA
2     NA  35.0  Los Angeles
3  David  40.0      Chicago

In [20]:
ser1=pd.Series(np.arange(11,20))
ser1

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int32

In [21]:
ser1.rename({1:'A'},inplace=True)

In [22]:
ser1
# Renaming all index labels
ser1.rename({1: 'A', 2: 'B', 3: 'C'}, inplace=True)

print(ser1)

0    11
A    12
B    13
C    14
4    15
5    16
6    17
7    18
8    19
dtype: int32

In [23]:
ser_reindexed = ser1.reindex([0,'A','B','C',5,6,7,8])

print(ser_reindexed)

0    11
A    12
B    13
C    14
5    16
6    17
7    18
8    19
dtype: int32

In [24]:
df=pd.DataFrame(np.arange(1,26).reshape(5,5),index=list('ABCDE'),columns=list('UVWXY'),dtype='float')

In [25]:
df

      U     V     W     X     Y
A   1.0   2.0   3.0   4.0   5.0
B   6.0   7.0   8.0   9.0  10.0
C  11.0  12.0  13.0  14.0  15.0
D  16.0  17.0  18.0  19.0  20.0
E  21.0  22.0  23.0  24.0  25.0

In [26]:
# Renaming all index labels
df.rename({'A': 'India', 'B': 'USA'}, inplace=True)
df.rename({'U': 'U2', 'v2': 'V2'}, inplace=True, axis=1)# to change column name
df

         U2     V     W     X     Y
India   1.0   2.0   3.0   4.0   5.0
USA     6.0   7.0   8.0   9.0  10.0
C      11.0  12.0  13.0  14.0  15.0
D      16.0  17.0  18.0  19.0  20.0
E      21.0  22.0  23.0  24.0  25.0

In [27]:
df_drop=df.drop('U2',axis=1)
print(df_drop)
df_drop=df.drop('E',axis=0)
print(df_drop)

          V     W     X     Y
India   2.0   3.0   4.0   5.0
USA     7.0   8.0   9.0  10.0
C      12.0  13.0  14.0  15.0
D      17.0  18.0  19.0  20.0
E      22.0  23.0  24.0  25.0
         U2     V     W     X     Y
India   1.0   2.0   3.0   4.0   5.0
USA     6.0   7.0   8.0   9.0  10.0
C      11.0  12.0  13.0  14.0  15.0
D      16.0  17.0  18.0  19.0  20.0

In [28]:
df_drop
df_drop.drop('D',inplace=True)
print(df_drop)

         U2     V     W     X     Y
India   1.0   2.0   3.0   4.0   5.0
USA     6.0   7.0   8.0   9.0  10.0
C      11.0  12.0  13.0  14.0  15.0

In [29]:
df_drop.drop(['U2','V2'],inplace=True,axis=1)

KeyError: "['V2'] not found in axis"

In [ ]:
print(df_drop)

In [ ]:
"""1. .rename()
Purpose: Changes index or column labels in a DataFrame or Series. It does not affect the actual data values, only the labels.

Usage: Used to rename specific row or column labels by passing a dictionary mapping old labels to new ones.
In-place: Can be used with inplace=True to modify the original object.

2. .replace()
Purpose: Replaces data values within a DataFrame or Series (not the labels). It is used to substitute specific values in the data with new values.

Usage: Useful for modifying the contents of cells, not the labels. You provide a dictionary or a scalar to specify which values should be replaced.
In-place: Can be used with inplace=True to modify the original object

3. .reindex()
Purpose: Changes the index of a DataFrame or Series to match a specified list of labels. Any indices in the new
list that were not in the original object will be added with NaN values by default. Itâ€™s typically used to add or remove rows or columns.
Note:no inplace option
Usage: Allows you to reorder, add, or remove rows or columns by specifying a new index.
In-place: Cannot modify the object in place; .reindex() always returns a new object.
"""

In [115]:
# Sample Series
ser = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

# Rename index labels 'a' and 'c' to 'x' and 'z' respectively
ser.rename({'a': 'x', 'c': 'z'}, inplace=True)

print(ser)
# Replace value 20 with 200 in the Series
ser.replace(20, 200, inplace=True)

print(ser)
# Reindex the Series to have a new index
ser_reindexed = ser.reindex(['x', 'y', 'z'])

print(ser_reindexed)

x    10
b    20
z    30
dtype: int64
x     10
b    200
z     30
dtype: int64
x    10.0
y     NaN
z    30.0
dtype: float64

In [117]:
df.shape

(5, 5)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, India to E
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   U2      5 non-null      float64
 1   V       5 non-null      float64
 2   W       5 non-null      float64
 3   X       5 non-null      float64
 4   Y       5 non-null      float64
dtypes: float64(5)
memory usage: 412.0+ bytes

In [121]:
df.describe()

              U2          V          W          X          Y
count   5.000000   5.000000   5.000000   5.000000   5.000000
mean   11.000000  12.000000  13.000000  14.000000  15.000000
std     7.905694   7.905694   7.905694   7.905694   7.905694
min     1.000000   2.000000   3.000000   4.000000   5.000000
25%     6.000000   7.000000   8.000000   9.000000  10.000000
50%    11.000000  12.000000  13.000000  14.000000  15.000000
75%    16.000000  17.000000  18.000000  19.000000  20.000000
max    21.000000  22.000000  23.000000  24.000000  25.000000

In [ ]:
ser11=pd.Series([101,102,103,104,105])

In [ ]:
ser11

In [ ]:
# DataFrame.insert(loc, column, value, allow_duplicates=False)

In [ ]:
df[:]

In [ ]:
# loc[] function selects data by the label of the rows and column
# iloc[] function allowsus to retrieve rowsand columns bypositionExample: 
# Access the value that is at index 0 incolumn â€˜Nameâ€™

In [123]:
df2=pd.DataFrame( {'Students':['Ram','Laxmam','Mohan','Matthew','Rosy','Abdul','Jasbir','Anil','Ramya','Raju'],
 'Marks1':[55,45,37,88,77,66,77,45,98,99],
 'Marks2':[45,54,76,85,74,64,74,75,95,98]}
,index=list('ABCDEFGHIJ'))

In [125]:
df2

  Students  Marks1  Marks2
A      Ram      55      45
B   Laxmam      45      54
C    Mohan      37      76
D  Matthew      88      85
E     Rosy      77      74
F    Abdul      66      64
G   Jasbir      77      74
H     Anil      45      75
I    Ramya      98      95
J     Raju      99      98

In [127]:
df2[:]

  Students  Marks1  Marks2
A      Ram      55      45
B   Laxmam      45      54
C    Mohan      37      76
D  Matthew      88      85
E     Rosy      77      74
F    Abdul      66      64
G   Jasbir      77      74
H     Anil      45      75
I    Ramya      98      95
J     Raju      99      98

In [129]:
df2[2:5]

  Students  Marks1  Marks2
C    Mohan      37      76
D  Matthew      88      85
E     Rosy      77      74

In [130]:
df2[2:8:2]

  Students  Marks1  Marks2
C    Mohan      37      76
E     Rosy      77      74
G   Jasbir      77      74

In [133]:
# we will not be able to retrieve if we do this -column
df2[1,2]
"""For DataFrames:

Single argument inside []:

If you pass a label or list of labels, it is interpreted as a column selection.
If you pass a slice (e.g., 2:5), it is interpreted as a row selection by integer position."""
df2['Marks1']           # Selects the column 'Marks1'
df2[['Marks1', 'Marks2']]  # Selects multiple columns
df2[2:5]                # Selects rows 2 to 4 by position (integer slicing)
"""
Why does df2[2:5] work?

When you provide a slice, Pandas assumes you're slicing rows. This is a special case and works because
Pandas treats it as shorthand for df2.iloc[2:5]."""
"""For Series:

Single argument inside []:
If you provide a label, it selects the value at that label.
If you provide a slice, it slices by label if the Series has a labeled index.
If the index is numeric, it slices by position."""
s[2]      # Selects the value at index label 2
s[2:5]    # Slices values by index labels (or by position if the index is numeric and consecutive)

KeyError: (1, 2)

In [ ]:
df2[['Students','Marks1']]

In [ ]:
df2.loc['A']

In [ ]:
df2.loc['A':'C']

In [ ]:
df2.loc['A':'C','Marks1']

In [ ]:
df2.loc['A':'C','Students']

In [ ]:
df2[['A','B','C']]

In [ ]:
df2.loc[['A','B','C']]

In [ ]:
df2.loc[::3,'Students':'Marks1']

In [ ]:
df2.loc[::3,:'Marks1']

In [ ]:
df2.loc['A'::3]

In [ ]:
df2.iloc[1:5:2,::2]

In [ ]:
df2.iloc[::2,::2]

In [ ]:
res=pd.Series(list('FFPPPPPPPP'),index=df2.index)
print(res)

In [ ]:
res

In [ ]:
df2['New Column']=res
print(df2)

In [ ]:
df2[df2['Marks1']>45]

In [ ]:
df2[(df2['Marks1']>50) & (df2['Marks2']<80)]

In [ ]:
# In the context of Pandas Series (and generally with NumPy arrays), 
# the & operator is performing a bitwise AND operation,
# but it's being used in a logical (element-wise) context when applied to boolean conditions.

# How & Works with Pandas Series
# In Pandas, the & operator is used for element-wise logical AND between two boolean conditions. 
# It works in a similar way to how bitwise operators work on binary numbers,
# but since we are working with boolean conditions (True or False values), it applies logic like this:

# True & True â†’ True
# True & False â†’ False
# False & True â†’ False
# False & False â†’ False
# Why Use & Instead of and
# In Python, and is used for logical operations on single boolean values (not element-wise operations). 
# When you're dealing with Series in Pandas, you need an operator that works on each 
# element of the Series individually. That's why & is used for element-wise logical AND.
# Similarly, you would use | for element-wise logical OR.

# Creating two boolean Series
s1 = pd.Series([True, False, True, False])
s2 = pd.Series([False, True, True, False])

# Element-wise bitwise AND
result = s1 & s2

print(result)

In [ ]:
df2[(df2['Marks1']>50) | (df2['Marks2']<80)]

In [ ]:
 df2[~(df2['Marks1'] > 80)] #the NOT operation for boolean values is performed using the ~ (tilde) operator in Pandas, 
# which is used for element-wise negation of boolean values.

In [ ]:
df2[~((df2['Marks1'] > 80) & (df2['Marks2'] < 80))]

In [ ]:
print(df2)
df2['Rank']=df2['Marks1'].rank()

In [ ]:
df2

In [ ]:
df2['RankAsc']=df2['Marks1'].rank(ascending=False)
df2

In [ ]:
df_sorted = df2.sort_values(by='RankAsc', ascending=True)

print(df_sorted)

In [ ]:
df2['RankDense']=df2['Marks1'].rank(method='dense')
df2

In [ ]:
df2['RankDense']=df2['Marks1'].rank(method='dense')
df2

In [ ]:
df2['RankMax']=df2['Marks1'].rank(method='max')
df2

In [ ]:
df

In [ ]:
df_copy=df.copy()

In [ ]:
df_copy

In [ ]:
df2=df2.drop(['I','J'])
df2_copy=df2.copy()
#df2_dropped = df2.drop(['Marks1', 'Marks2'], axis=1) along columns

In [ ]:
df2_copy

In [ ]:
pd.concat([df2_copy,df2])

In [ ]:
pd.concat([df2_copy,df2],axis=1)

In [ ]:
pd.concat([df,df2],axis=1) #Note if rows and column don't match it will give NaN

In [ ]:
pd.concat([df,df2],axis=0).drop(['RankDense', 'RankMax'], axis=1).drop(['C', 'D'], axis=0)

In [ ]:
pwd #present working directory

In [ ]:
"""Here's a list of methods for reading different file formats into a Pandas DataFrame:

CSV: pd.read_csv()
Excel: pd.read_excel()
JSON: pd.read_json()
SQL: pd.read_sql()
Parquet: pd.read_parquet()
HDF5: pd.read_hdf()
Feather: pd.read_feather()
Stata: pd.read_stata()
Google BigQuery: read_gbq() (from pandas-gbq library)
Clipboard: pd.read_clipboard()
HTML: pd.read_html()
Text: pd.read_fwf(), pd.read_table()"""

In [ ]:
# Specify the file path
file_path = r'D:\Repositories\python-Basics\101124\2.+Faculty+Notebook\2. Faculty Notebook\example.csv'  # Replace with the actual path to your CSV file

# Load the CSV file into a DataFrame
df_file = pd.read_csv(file_path)

# Display the DataFrame
print(df_file)

In [ ]:
# Load the CSV file into a DataFrame #present working directory
df_file2 = pd.read_csv('example.csv')

# Display the DataFrame
print(df_file2)

In [ ]:
df_file3 = pd.read_excel('example2.xlsx')

# Display the DataFrame
print(df_file3)

In [ ]:
df = pd.read_fwf('example.txt')

In [ ]:
df

In [ ]:
df = pd.read_excel('example2.xlsx',sheet_name=1)

In [ ]:
df

In [ ]:
df_excel_0 = pd.read_excel('example2.xlsx',sheet_name=0)
df_excel_1  = pd.read_excel('example2.xlsx',sheet_name=1)
print(df_excel_0)
print('ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€')
print(df_excel_1)
print('ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€Default Join')
pd.merge(df_excel_0,df_excel_1,on='Age') #default is inner join

In [ ]:
"""Other Join Types (how argument):
inner (default): Only rows with matching values in both DataFrames will be included.
left: All rows from the left DataFrame and matching rows from the right DataFrame. 
Non-matching rows from the right will have NaN values.
right: All rows from the right DataFrame and matching rows from the left DataFrame. 
Non-matching rows from the left will have NaN values."""

In [ ]:
pd.merge(df_excel_0,df_excel_1,on='Age', how='inner')

In [ ]:
pd.merge(df_excel_0,df_excel_1,on='Age', how='left')

In [ ]:
pd.merge(df_excel_0,df_excel_1,on='Age', how='right')

In [ ]:
pd.merge(df_excel_0, df_excel_1, on='Age', how='outer')
"""Outer Join (how='outer'): Returns all rows from both DataFrames, and fills in missing values with NaN
where there is no match. This is often used when you want to retain all data from both DataFrames,
regardless of whether there is a matching 'Age' in both DataFrames."""

In [ ]:
header=pd.MultiIndex.from_product([['Karnataka','Andra'],['Jan','Feburary','March']])
print(header)

In [ ]:
print('Hi')

In [ ]:
header2=pd.MultiIndex.from_product([['Sem1','Sem2'],['Phy','Chem','Maths','Bio']])
print(header2)

In [ ]:
data=pd.DataFrame([[1,2,3,4,5,6],[11,22,33,44,55,66],[22,33,22,11,22,33]],columns=header,index=['A','B','C',])
print(data)

In [ ]:
data2=pd.DataFrame([[1,2,3,4,5,6,7,8],[11,22,33,44,55,66,77,88],[22,33,22,11,22,33,99,101]],columns=header2,index=['A','B','C',])
print(data2)

In [ ]:
data2.stack(level=1,future_stack=True)

In [ ]:
data2.stack(level=0,future_stack=True)

In [ ]:
s1=pd.Series(np.arange(1,11))
s2=pd.Series(np.arange(21,31))
s3=pd.concat([s1,s2],keys=['src1','src2'],names=['Source','Index'])
print(s1)
print(s2)
print('ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€')
print(s3)
s3.index

In [ ]:
s3.index

In [ ]:
s3.src1

In [ ]:
print(s3.loc['src1'])